body {
  font-family: Arial;
  color: #fff;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 36px;
  line-height: 36px;
  ul {
    width: 619px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
      a {
        font-family: Arial;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        color: #22326b;
        text-decoration: none;
        transition: color 0.4s ease 0s;
        &:last-of-type img {
          vertical-align: middle;
        }
      }
      a:hover {
        color: #00b0c8;
      }
    }
  }
}

.content {
  height: 1104px;
  background: url("../img/background.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  .top {
    display: flex;
    justify-content: space-around;
    .messengers {
      font-size: 10px;
      margin-top: 79px;
      a {
        display: flex;
        margin-bottom: 11px;
        text-decoration: none;
        color: #fff;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover .tel {
          transition: 0.3s;
          text-shadow: none;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        margin-left: 11px;
      }
      .tel {
        padding-top: 2px;
        text-shadow: 0 0 3px rgba(0,0,0,.15),
        -1px -1px 1px rgba(0,0,0,.15);
        transition: 0.3s;
      }
      .desc {
        padding-top: 1px;
        color: #595651;
      }
      .icon {
        width: 24px;
        height: 24px;
        @include sprite(0,0);
      }
      .whatsApp .icon {
        @include sprite(-31px,0);
      }
      .viber .icon {
        @include sprite(-62px,0);
      }
    }
    .visitor {
      margin-top: 33px;
      p {
        text-align: center;
        text-shadow: 0 0 3px rgba(0,0,0,.15),
                     -1px -1px 1px rgba(0,0,0,.15);
      }
      p:first-of-type {
        font-size: 17px;
      }
      p:nth-of-type(2) {
        white-space: pre-line;
        line-height: 26px;
        padding-top: 24px;
      }
    }
    .logo {
      margin-top: 78px;
      z-index: 6;
    }
  }
  .center {
    form {
      display: flex;
      justify-content: center;
      margin: 63px auto 0;
      position: relative;
    }

    form span {
      color: #fff;
      font-size: 12px;
      text-shadow: 0 0 3px rgba(0,0,0,.15),
      -1px -1px 1px rgba(0,0,0,.15);
    }

    form input {
      outline: 0;
    }

    #datepicker {
      position: relative;
      cursor: pointer;
      height: 25px;
      line-height: 25px;

    }
    #datepicker::-webkit-input-placeholder {color: #616161;opacity: 1;}
    #datepicker::-moz-placeholder          {color: #616161;opacity: 1;}
    #datepicker:-moz-placeholder           {color: #616161;opacity: 1;}
    #datepicker:-ms-input-placeholder      {color: #616161;opacity: 1;}
    //calendar
    .datepicker-dropdown {
      position: absolute;
      background: #FFF;
      top: 208px !important;
    }

    //inputs
    .date,
    .metro,
    .spinner__input {
      border: none;
      height: 27px;
      line-height: 27px;
      padding-left: 10px;
      position: relative;
      color: #616161;
      background: #FFF;
      margin-top: 5px;
      box-shadow: 1px 1px 6px 4px rgba(0,0,0,.15);
      text-shadow: 0 0 3px rgba(0,0,0,.15),
      -1px -1px 1px rgba(0,0,0,.15);
      font-size: 12px;
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        text-shadow: none;
        box-shadow: none;
      }
    }

    .date {
      width: 149px;
      margin-right: 35px;
    }

    .metro {
      width: 197px;
      margin-right: 31px;
      cursor: pointer;
    }

    .spinner {
      height: 27px;
      margin-right: 28px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        right: 0;
        width: 17px;
        height: 27px;
        background-color: #fff;
        z-index: 1;
      }
    }
    .spinner__input {
      height: 25px;
      width: 31px;
      text-align: left;
      font-size: 14px;
    }

    .submit {
      width: 88px;
      height: 27px;
      line-height: 27px;
      border: none;
      cursor: pointer;
      text-align: center;
      padding: 0;
      font-size: 12px;
      margin-top: 21px;
      background-color: #fff;
      color: #616161;
      box-shadow: 1px 1px 6px 4px rgba(0,0,0,.15);
      transition: 0.3s;
      &:hover {
        transition: 0.3s;
        text-shadow: none;
        box-shadow: none;
      }
    }
  }
  h1 {
    position: relative;
    padding-top: 82px;
    font-size: 47px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(0,0,0,.15),
    -1px -1px 1px rgba(0,0,0,.15);
    &::before {
      content: '';
      position: absolute;
      width: 82px;
      height: 2px;
      margin-left: -41px;
      left: 50%;
      margin-top: 64px;
      background-color: #fff;
    }
  }
  .social {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    .insta {
      @include sprite(0,-31px);
    }
    .facebook {
      @include sprite(-32px,-31px);
    }
    .vk {
      @include sprite(-62px,-31px);
    }
    a {
      width: 28px;
      height: 28px;
      display: block;
      margin-right: 30px;
      border-radius: 50%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.content .wrapper > p {
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding-top: 35px;
  line-height: 20px;
  text-shadow: 0 0 3px rgba(0,0,0,.15),
  -1px -1px 1px rgba(0,0,0,.15);
  white-space: pre-line;
}

.options {
  display: flex;
  justify-content: flex-end;
}

.labels {
  margin: 45px -50px 0 0;
  width: 300px;
  list-style-type: none;
}
.labels li {
  display: inline-block;
  margin: 10px 10px 10px;
}
.pseudo-link {
  font-size: 16px;
  color: #000;
  text-shadow: 0 0 3px rgba(0,0,0,.15),
  -1px -1px 1px rgba(0,0,0,.15);
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transition: 0.3s;
    text-shadow: none;
  }
}

.close-icon {
  width: 15px;
  height: 15px;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    transform: rotate(90deg);
  }
}
//MODAL
#modal {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  margin-top: -585px;
  margin-left: -480px;
  display: none;
  opacity: 0;
  z-index: 5;
  width: 960px;
  height: 1170px;
}

#overlay {
  z-index: 3;
  position: fixed;
  background: linear-gradient(to top,rgb(255,255,255) 70%, rgba(255,255,255,0.6));
  opacity: 1;
  -moz-opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

#directions-popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#modal_metro_block {
  display: block;
  position: absolute;
  opacity: 1;
  margin: 0 auto;
}

.tooltip {
  width: 100%;
  height: 1140px;
  position: absolute;
  top: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;

}

.dir-active {
  display: block !important;
}
.directions-active {
  display: block !important;
}



