html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "PTSansBold";
  font-size: 14px;
  background: url("../img/background.png") no-repeat 50% 0 #d1d1d1; }

h3 {
  font-family: "PTSansRegular";
  font-size: 20px;
  color: #313945; }

#wrapper {
  padding: 0 45px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  background-color: #fafafa; }
  
header {
  max-width: 1260px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 17px;
  overflow-x: hidden;
  background-color: #fafafa; }
  header .top {
    height: 130px; }
    header .top .menu-btn {
      display: none;
      border: none;
      background-color: transparent;
      font-size: 30px;
      position: absolute;
      left: 20px;
      top: 30px;
      cursor: pointer;
      white-space: pre-line;
    }
    header .top .menu-btn span {
      font-size: 12px;
      position: relative;
      bottom: 20px;
    }
    header .top .menu-btn2 {
      display: none;
      border: none;
      z-index: 1;
      background-color: transparent;
      font-size: 30px;
      position: absolute;
      right: 20px;
      top: 30px;
      cursor: pointer;
      white-space: pre-line;
    }
    header .top .menu-btn2 span {
      font-size: 12px;
      position: relative;
      bottom: 20px;
    }
    header .top .logo {
      display: inline-block;
      position: relative;
      top: 12px; }
    header .top input[type="search"] {
      width: 427px;
      height: 38px;
      border: 1px solid #b1daff;
      padding-left: 19px;
      margin-left: 70px; }
      header .top input[type="search"]:-moz-placeholder, header .top input[type="search"]::-moz-placeholder {
        color: #000000;
        opacity: 1; }
      header .top input[type="search"]::-webkit-input-placeholder {
        color: #000000; }
    header .top label {
      width: 25px;
      height: 25px;
      background-image: url(../img/sprite.png);
      background-position: -75px 0;
      background-repeat: no-repeat;
      position: absolute;
      margin-top: 55px;
      margin-left: -39px;
      cursor: pointer; }
      header .top label:hover {
        background-image: url(../img/sprite.png);
        background-position: -111px 0;
        background-repeat: no-repeat; }
    header .top .right {
      display: inline-block;
      margin-left: 60px;
      vertical-align: bottom; }
      header .top .right ul li {
        display: inline-block;
        margin-top: 11px;
        margin-bottom: 1px }
        header .top .right ul li:first-child, header .top .right ul li:nth-child(2) {
          font-family: "PTSansRegular";
          font-size: 11px;
          color: #000000; }
        header .top .right ul li:first-child {
          margin-right: 16px; }
        header .top .right ul li:nth-child(4) a, header .top .right ul li:last-child a {
          text-decoration: none;
          color: #144570; }
          header .top .right ul li:nth-child(4) a:hover, header .top .right ul li:last-child a:hover {
            color: #8cb2d8; }
          header .top .right ul li:nth-child(4) a::before, header .top .right ul li:last-child a::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            margin-left: -23px; }
        header .top .right ul li:nth-child(4) a {
          margin-right: 60px; }
          header .top .right ul li:nth-child(4) a::before {
            background-image: url(../img/sprite.png);
            background-position: 0 0;
            background-repeat: no-repeat; }
        header .top .right ul li:last-child a::before {
          background-image: url(../img/sprite.png);
          background-position: -35px 0;
          background-repeat: no-repeat; }
    header .top .advertising,
    header .top .bookmarks {
      display: block;
      position: absolute;
      top: 40px;
      font-size: 14px;
      height: 38px;
      line-height: 38px;
      color: #fff;
      text-align: right;
      padding-right: 11px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      text-decoration: none; }
      header .top .advertising::before,
      header .top .bookmarks::before {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-left: 15px solid #fafafa; }
    header .top .advertising {
      width: 92px;
      top: 32px;
      right: 56px;
      background-color: #339edd; }
      header .top .advertising::before {
        left: -1px; }
      header .top .advertising::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 14px;
        left: 0;
        top: 50%;
        margin-top: -1px;
        background-color: #fafafa; }
    header .top .bookmarks {
      width: 107px;
      right: 0px;
      background-color: #ff9203; }
  header nav {
    width: 100%; }
    header nav .first-level {
      height: 45px;
      line-height: 45px;
      padding: 0 45px;
      background-color: #d4e9fc;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header nav .first-level li a {
        font-size: 15px;
        color: #3072ad;
        text-decoration: none;
        text-transform: uppercase; }
        header nav .first-level li a:hover {
          color: #78b9f4; }
    header nav .second-level {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 65px;
      background-color: #e5e8e8; }
      header nav .second-level li:first-child {
        width: 16%; }
      header nav .second-level li:nth-child(2) {
        width: 11%; }
      header nav .second-level li:nth-child(3) {
        width: 11%; }
      header nav .second-level li:nth-child(4) {
        width: 11%; }
      header nav .second-level li:nth-child(5) {
        width: 12%; }
      header nav .second-level li:nth-child(6) {
        width: 10%; }
      header nav .second-level li:nth-child(7) {
        width: 15%; }
      header nav .second-level li:nth-child(8) {
        width: 14.5%; }
      header nav .second-level li:first-child a {
        padding-left: 93px; }
        header nav .second-level li:first-child a::before {
          background-image: url(../img/sprite.png);
          background-position: 0 -48px;
          background-repeat: no-repeat;
          margin-left: -48px; }
      header nav .second-level li:nth-child(2) a::before {
        background-image: url(../img/sprite.png);
        background-position: -64px -48px;
        background-repeat: no-repeat;
        margin-left: -41px; }
      header nav .second-level li:nth-child(3) a::before {
        background-image: url(../img/sprite.png);
        background-position: -140px -48px;
        background-repeat: no-repeat;
        margin-left: -41px; }
      header nav .second-level li:nth-child(4) a::before {
        background-image: url(../img/sprite.png);
        background-position: -217px -48px;
        background-repeat: no-repeat;
        margin-left: -41px; }
      header nav .second-level li:nth-child(5) a::before {
        background-image: url(../img/sprite.png);
        background-position: -285px -47px;
        background-repeat: no-repeat;
        margin-left: -41px; }
      header nav .second-level li:nth-child(6) a::before {
        background-image: url(../img/sprite.png);
        background-position: -356px -48px;
        background-repeat: no-repeat;
        margin-left: -41px; }
      header nav .second-level li:nth-child(7) a {
        padding-left: 53px; }
        header nav .second-level li:nth-child(7) a::before {
          background-image: url(../img/sprite.png);
          background-position: -421px -47px;
          background-repeat: no-repeat;
          margin-left: -42px; }
      header nav .second-level li:nth-child(8) a {
        padding-right: 35px;
        padding-left: 61px; }
        header nav .second-level li:nth-child(8) a::before {
          background-image: url(../img/sprite.png);
          background-position: -492px -48px;
          background-repeat: no-repeat;
          margin-left: -38px; }
      header nav .second-level li a {
        display: block;
        height: 47px;
        background-color: #e5e8e8;
        padding: 18px 20px 0 50px;
        padding-top: 18px;
        color: #acafb2;
        text-decoration: none;
        text-transform: uppercase; }
        header nav .second-level li a:hover {
          background-color: #c5d5e6; }
        header nav .second-level li a::before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px; }
        .site-overlay.active {
          display: block !important;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 9998;
          background-color: rgba(0, 0, 0, 0.5);
          -webkit-animation: fade 500ms;
          animation: fade 500ms;
        }
        .pushy-content2.active {
          -webkit-transform: translate3d(-20px, 0, 0);
          -ms-transform: translate3d(-20px, 0, 0);
          transform: translate3d(-20px, 0, 0);
        }
        .pushy-content2 .first-level {
          background-color: #e5e8e8;
          position: relative;
          padding-top: 15px;
          padding-bottom: 15px;
        }
         .pushy-content2 .first-level li a {
          font-size: 15px;
          color: #3072ad;
          padding-left: 50px;
          margin-bottom: 42px;
          position: relative;
          display: block;
          background-color: #e5e8e8; 
          text-decoration: none;
          text-transform: uppercase; }
         .pushy-content2 .first-level li a:hover {
          color: #78b9f4; }
          .pushy-content2 .first-level li a::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            left: 13px;
          }
         .pushy-content2 .first-level li:first-child a::before {
          
          background-image: url(../img/sprite.png);
          background-position: 0 -48px;
          background-repeat: no-repeat; }
       .pushy-content2 .first-level li:nth-child(2) a::before {
        background-image: url(../img/sprite.png);
        background-position: -64px -48px;
        background-repeat: no-repeat; }
       .pushy-content2 .first-level li:nth-child(3) a::before {
        background-image: url(../img/sprite.png);
        background-position: -140px -48px;
        background-repeat: no-repeat; }
       .pushy-content2 .first-level li:nth-child(4) a::before {
        background-image: url(../img/sprite.png);
        background-position: -217px -48px;
        background-repeat: no-repeat; }
       .pushy-content2 .first-level li:nth-child(5) a::before {
        background-image: url(../img/sprite.png);
        background-position: -285px -47px;
        background-repeat: no-repeat; }
       .pushy-content2 .first-level li:nth-child(6) a::before {
        background-image: url(../img/sprite.png);
        background-position: -356px -48px;
        background-repeat: no-repeat; }
         .pushy-content2 .first-level li:nth-child(7) a::before {
          background-image: url(../img/sprite.png);
          background-position: -421px -47px;
          background-repeat: no-repeat; }
         .pushy-content2 .first-level li:nth-child(8) a::before {
          background-image: url(../img/sprite.png);
          background-position: -492px -48px;
          background-repeat: no-repeat; }
          .pushy-content2 .second-level li:nth-child(1) a::before {
        background-image: url(../img/sprite.png);
        background-position: 0 -365px;
        background-repeat: no-repeat; }
      .pushy-content2 .second-level li:nth-child(2) a::before {
        background-image: url(../img/sprite.png);
        background-position: -70px -366px;
        background-repeat: no-repeat; }
      .pushy-content2 .second-level li:nth-child(3) a::before {
        background-image: url(../img/sprite.png);
        background-position: -128px -367px;
        background-repeat: no-repeat; }
      .pushy-content2 .second-level li:nth-child(4) a::before {
        background-image: url(../img/sprite.png);
        background-position: -190px -367px;
        background-repeat: no-repeat;
        margin-top: 3px; }
      .pushy-content2 .second-level li:nth-child(5) a::before {
        background-image: url(../img/sprite.png);
        background-position: -265px -367px;
        background-repeat: no-repeat; }
      .pushy-content2 .second-level li:nth-child(6) a::before {
        background-image: url(../img/sprite.png);
        background-position: -340px -367px;
        background-repeat: no-repeat; }
      .pushy-content2 .second-level li:nth-child(7) a::before {
        background-image: url(../img/sprite.png);
        background-position: -420px -367px;
        background-repeat: no-repeat; }
      .pushy-content2 .second-level {
        position: relative;
        bottom: 42px;
      }
      .pushy-content2 .second-level li a {
        display: block;
        font-family: "PTSansRegular";
        font-size: 15px;
        padding-left: 52px;
        text-align: left;
        position: relative;
        line-height: 85px;
        text-decoration: none;
        background-color: #d4e9fc;
        color: #3072ad; }
        .pushy-content2 .second-level li a:hover {
          background-color: #2b79bd;
          color: #fff; }
        .pushy-content2 .second-level li a::before {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          top: 32%;
          left: 13px;
          background-image: url(../img/sprite.png);
          background-position: 0 -365px;
          background-repeat: no-repeat; }
          .pushy-content2 {
          width: auto;
          height: 100%;
          overflow: auto;
          top: 0;
          z-index: 10000;
          position: fixed;
          background-color: #d4e9fc;
          right: -20px;
          -webkit-transform: translate3d(170px, 0, 0);
          -ms-transform: translate3d(170px, 0, 0);
          transform: translate3d(170px, 0, 0);
          transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
        }
        .pushy.active {
          -webkit-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
          .pushy {
            position: fixed;
            width: 200px;
            height: 100%;
            top: 0;
            z-index: 9999;
            background: #dfebf3;
            overflow: auto;
            -webkit-transform: translate3d(-200px, 0, 0);
            -ms-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
            transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
          }
          .pushy a {
            display: block;
            color: #3072ad;
            padding: 15px 30px;
            text-decoration: none;
          }
          .pushy a:hover {
            color: #78b9f4;
          }
          .pushy ul:first-child {
            margin-top: 10px;
          }
          .pushy.pushy-left {
            left: 0;
          }
          .pushy.pushy-right {
            right: 0;
          }