html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "PTSansBold";
  font-size: 14px;
  background: url("../img/background.png") no-repeat 50% 0 #d1d1d1;
}

h3 {
  font-family: "PTSansRegular";
  font-size: 20px;
  color: #313945;
}

#wrapper {
  padding: 0 45px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  background-color: #fafafa;
}

#content {
  width: 1260px;
  margin: 0 auto;
  position: relative;
  background: #fafafa;
}
#content hr {
  float: left;
  height: 2px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #0280c5;
  border: none;
  width: calc(100% - 145px);
}
#content hr:first-of-type {
  margin-top: 1px;
}
#content .block-1 {
  border-bottom: none;
  border-left: none;
  position: relative;
  padding-top: 7px;
}
#content .block-1 .left-menu {
  width: 135px;
  float: left;
}
#content .block-1 .left-menu img {
  display: block;
  margin: 32px auto 0 auto;
}
#content .block-1 .left-menu li:last-child a {
  border-bottom: none;
}
#content .block-1 .left-menu li:nth-child(7) a {
  padding-top: 21px;
  line-height: 20px;
}
#content .block-1 .left-menu li:nth-child(13) a {
  padding-top: 21px;
  line-height: 20px;
}
#content .block-1 .left-menu li:last-child a {
  height: 144px;
}
#content .block-1 .left-menu a {
  display: block;
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
  position: relative;
  text-decoration: none;
  background-color: #384e66;
  padding-left: 16px;
  border-bottom: 1px solid #4d6784;
}
#content .block-1 .left-menu a::before {
  content: '';
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #fff;
  margin-left: -9px;
}
#content .block-1 .left-menu a:hover {
  background-color: #134b8a;
}
#content .block-1 .left-menu a:hover::before {
  display: block;
}
#content .block-1 .search {
  width: calc(100% - 214px);
  margin-left: 20px;
  float: left;
  padding-left: 59px;
}
#content .block-1 .search a {
  display: inline-block;
  position: relative;
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #52b0e6;
  text-decoration: none;
  padding: 0 9.45px;
}
#content .block-1 .search a:hover {
  color: #d04e0a;
}
#content .block-1 .search a:hover::before {
  content: '';
  position: absolute;
  width: 30px;
  margin-top: 26px;
  left: 50%;
  margin-left: -15px;
  height: 2px;
  background-color: #d04e0a;
}
#content .block-1 .search a:last-child {
  margin-right: 0;
}
#content .block-1 .breadcrumbs {
  font-family: Arial;
  width: calc(100% - 145px);
  font-size: 12px;
  line-height: 34px;
  height: 26px;
  position: relative;
  float: left;
  margin-top: -9px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#content .block-1 .breadcrumbs .postname {
  color: #c1c5c4;
}
#content .block-1 .breadcrumbs a {
  color: #4692D8;
  text-decoration: none;
  font-weight: 400;
}
#content .block-1 .breadcrumbs a:hover {
  text-decoration: underline;
}
#content .block-1 article {
  width: calc(100% - 150px);
  float: left;
  padding-top: 15px;
  border-bottom: 1px solid #c8cdd1;
  border-top: 1px solid #c8cdd1;
  margin-left: 10px;
}
#content .block-1 article .header {
  padding-bottom: 15px;
}
#content .block-1 article .header h1 {
  width: 80%;
  font-family: "NotoSerif";
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  display: inline-block;
  line-height: 30px;
}
#content .block-1 article .header .date_n_time_published {
  float: right;
  margin-top: 8px;
  position: relative;
}
#content .block-1 article .header .date_n_time_published .date {
  font-size: 11px;
  font-family: Arial;
  color: #c3c3c3;
  padding-left: 16px;
  background: url("../img/small_calendar.png") no-repeat;
}
#content .block-1 article .header .date_n_time_published .time {
  font-size: 11px;
  margin-left: 10px;
  font-family: Arial;
  color: #c3c3c3;
  padding-left: 16px;
  background: url("../img/small_clock.png") no-repeat;
}
#content .block-1 article .add {
  display: block;
  margin: 15px auto 30px auto;
}
#content .block-1 article .add:last-of-type {
  margin-bottom: 15px;
}
#content .block-1 article .content {
  border: 1px solid #c8cdd1;
  border-bottom: none;
  padding-bottom: 10px;
  font-family: Arial;
  line-height: 160%;
}
#content .block-1 article .content .text {
  height: 562px;
  overflow-y: scroll;
  font-size: 16px;
  padding: 0 15px 5px 15px;
}
#content .block-1 article .content .text ul {
  list-style-type: disc;
  margin: 15px 0 15px 38px;
}
#content .block-1 article .content .text::-webkit-scrollbar {
  width: 0;
}
#content .block-1 article .content .text {
  -ms-overflow-style: none;
}
#content .block-1 article .content .text {
  overflow: -moz-scrollbars-none;
}
#content .block-1 article .content p {
  margin-bottom: 5px;
  text-indent: 20px;
}
#content .block-1 article .content strong {
  font-weight: bold;
}
#content .block-1 article .content em {
  font-style: italic;
}
#content .block-1 article .content .bottom-add {
  width: calc(100% - 30px);
  min-height: 100px;
  padding: 0 15px;
}
#content .block-1 article .content .block-bottom {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
#content .block-1 article .content .block-bottom .title {
  font-family: "PTSansRegular";
  display: block;
  text-align: center;
  margin: 10px auto 20px auto;
  padding: 15px 25px 15px 25px;
  border: 1px solid #e2e4e3;
  text-decoration: none;
  color: #222222;
  font-size: 20px;
  letter-spacing: 1px;
}
#content .block-1 article .content .block-bottom .title:hover {
  color: #626a77;
}
#content .block-1 article .content .block-bottom .add-block {
  width: 240px;
}
#content .block-1 article .content .block-bottom .popular-post .tabs {
  background: #f5f5f5;
  border-bottom: 1px solid #bdc3c7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#content .block-1 article .content .block-bottom .popular-post .tabs .tabs-item {
  font-family: "PTSansRegular";
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 15px;
  padding-left: 14px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
  padding: 10px 10px 10px 10px;
  border-top: 3px solid #dde5e7;
  border-left: 1px solid #dde5e7;
  color: #369;
  cursor: pointer;
}
#content .block-1 article .content .block-bottom .popular-post .tabs .tabs-item:hover {
  background-color: #fff;
}
#content .block-1 article .content .block-bottom .popular-post .tabs .tabs-item.active {
  margin-bottom: -1px;
  padding-bottom: 21px;
  background: #fff;
  border-top-color: #34495e;
  border-left-color: #bdc3c7;
  border-right: 1px solid #bdc3c7;
  color: #000;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box {
  width: 208px;
  height: 324px;
  font-family: "PTSansRegular";
  padding: 10px 15px 9px 15px;
  border: 1px solid #bdc3c7;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #bdc3c7;
  border-top: none;
  background-color: #fff;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box .time {
  margin-right: 20px;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box span {
  font-size: 12px;
  position: relative;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box span:nth-of-type(2) {
  margin-right: 35px;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box span::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  margin-top: -20px;
  margin-left: -15px;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box .views::before {
  margin-top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -29px -120px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box .comments::before {
  margin-top: 1px;
  background-image: url(../img/sprite.png);
  background-position: -58px -120px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box .tabs-content {
  display: none;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box .tabs-content.active {
  display: block;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box li {
  margin-bottom: 8.12px;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box li a {
  display: inline-block;
  color: #369;
  line-height: 13px;
  font-size: 12px;
  text-decoration: none;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box li a:hover {
  text-decoration: underline;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box .info {
  font-size: 11px;
  line-height: 1.166666666666667em;
  color: #95a5a6;
  margin: 5px 0;
}
#content .block-1 article .content .block-bottom .popular-post .tabs-box .info .icon {
  font-size: 16px;
  color: #95a5a6;
  opacity: .6;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  top: 3px;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day {
  width: 240px;
  font-family: "PTSansRegular";
  background-color: #ecf0f1;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .img {
  width: 240px;
  height: 180px;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text {
  padding: 10px 10px 11px 10px;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .link {
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #369;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .link:hover {
  text-decoration: underline;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text p {
  font-size: 12px;
  padding-top: 10px;
  line-height: 15px;
  text-indent: 0;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info {
  margin: 5px 0;
  font-size: 12px;
  line-height: 1.166666666666667em;
  color: #95a5a6;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info span {
  font-size: 12px;
  position: relative;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info span:nth-of-type(2) {
  margin-right: 20px;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info span:nth-of-type(3) {
  margin-right: 30px;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info span::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  margin-top: -20px;
  margin-left: -15px;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info .views::before {
  margin-top: 2px;
  background-image: url(../img/sprite.png);
  background-position: -29px -120px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info .comments::before {
  margin-top: 1px;
  background-image: url(../img/sprite.png);
  background-position: -58px -120px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info .icon {
  color: #95a5a6;
  position: relative;
  top: 3px;
  margin-left: 4px;
  margin-right: 4px;
  opacity: 0.6;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info .com-link {
  text-decoration: none;
  color: #369;
}
#content .block-1 article .content .block-bottom .theme-day-box .theme-day .theme-text .info .com-link:hover {
  text-decoration: underline;
}
#content .block-1 article .content .block-bottom .networks-box .title {
  border-right: 1px solid #e2e4e3;
}
#content .block-1 article .content .block-bottom .networks {
  width: 240px;
  height: 185px;
  background-color: #e6ebee;
  text-align: center;
}
#content .block-1 article .content .block-bottom .networks p {
  margin-bottom: 0;
  text-indent: 0;
}
#content .block-1 article .content .block-bottom .networks p:first-child {
  font-family: "AgpalatianRoman";
  font-size: 15.25px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}
#content .block-1 article .content .block-bottom .networks p:nth-child(2),
#content .block-1 article .content .block-bottom .networks p:nth-child(4) {
  font-family: "PTSansRegular";
  font-size: 15.75px;
  color: #a9b2be;
}
#content .block-1 article .content .block-bottom .networks .social {
  margin-top: 7px;
  margin-left: 6px;
}
#content .block-1 article .content .block-bottom .networks .social li {
  display: inline-block;
  margin-right: 9px;
  margin-left: -4px;
}
#content .block-1 article .content .block-bottom .networks .social li:last-child {
  margin-right: 0;
}
#content .block-1 article .content .block-bottom .networks .social li:nth-child(2) a {
  background-image: url(../img/sprite.png);
  background-position: -43px -170px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .networks .social li:nth-child(3) a {
  background-image: url(../img/sprite.png);
  background-position: -87px -170px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .networks .social li:nth-child(4) a {
  background-image: url(../img/sprite.png);
  background-position: -130px -170px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .networks .social li:nth-child(5) a {
  background-image: url(../img/sprite.png);
  background-position: -173px -170px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .networks .social li:nth-child(6) {
  width: 30px;
  height: 30px;
}
#content .block-1 article .content .block-bottom .networks .social li:nth-child(6) a {
  position: absolute;
  background: #07c;
  line-height: 27px;
  text-decoration: none;
  color: #ffa930;
  font-family: "PTSansRegular";
  font-weight: 600;
}
#content .block-1 article .content .block-bottom .networks .social li a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../img/sprite.png);
  background-position: 0 -169px;
  background-repeat: no-repeat;
}
#content .block-1 article .content .block-bottom .networks > a {
  display: block;
  font-family: "PTSansRegular";
  color: #57a2c9;
  font-size: 13.75px;
  margin-top: 5px;
  text-decoration: none;
}
#content .block-1 article .content .block-bottom .subscribe {
  width: 220px;
  height: 134px;
  margin-top: 61px;
  padding: 10px 10px 10px 10px;
  background-color: #dfebf3;
}
#content .block-1 article .content .block-bottom .subscribe img {
  width: 57px;
  height: 46px;
  margin-right: 14px;
  float: left;
  margin-top: 4px;
}
#content .block-1 article .content .block-bottom .subscribe p {
  font-family: "MuseoSansCyrl700";
  font-size: 14px;
  color: #0577c6;
  margin-bottom: 10px;
  line-height: 18px;
  text-indent: 0;
}
#content .block-1 article .content .block-bottom .subscribe input[type="email"] {
  width: 114px;
  height: 35px;
  display: inline-block;
  padding-left: 17px;
  border: none;
}
#content .block-1 article .content .block-bottom .subscribe input[type="email"]:-moz-placeholder, #content .block-1 article .content .block-bottom .subscribe input[type="email"]::-moz-placeholder {
  color: #000;
  opacity: 1;
}
#content .block-1 article .content .block-bottom .subscribe input[type="email"]::-webkit-input-placeholder {
  color: #000;
}
#content .block-1 article .content .block-bottom .subscribe input[type="submit"] {
  width: 88px;
  height: 37px;
  font-family: "PTSansBold";
  line-height: 37px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  font-size: 11px;
  background-color: #2b9dec;
}
#content .block-1 article .content .block-bottom .subscribe input[type="submit"]:hover {
  background-color: #1089de;
}
#content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox {
  font-size: 14px;
  line-height: 1.285714285714286em;
  font-family: "PTSansRegular";
  margin-top: 5px;
}
#content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox input.modern-checkbox[type="checkbox"] + .checkbox-label--checked::before, #content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox input.modern-checkbox[type="checkbox"]:checked + .checkbox-label::before {
  background-color: #34495e;
  color: #1abc9c;
}
#content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox input.modern-checkbox[type="checkbox"] {
  display: none;
}
#content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox input.modern-checkbox[type="checkbox"] + .checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: rgba(34, 34, 34, 0.6);
  font-size: 13px;
}
#content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox input.modern-checkbox[type="checkbox"] + .checkbox-label::before {
  display: inline-block;
  content: '\2714';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'font-icon-bank' !important;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  margin-top: 7.5px;
  text-align: center;
  color: transparent;
  background-color: inherit;
  border: 2px solid #34495e;
  vertical-align: top;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}
#content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox .pseudo-link {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  color: #369;
}
#content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox .pseudo-link:hover, #content .block-1 article .content .block-bottom .subscribe .quick-subscribe__terms-checkbox .dotted-link:hover {
  border-bottom-color: rgba(51, 102, 153, 0.3);
}
#content .block-1 article .content > .social {
  width: calc(100% - 32px);
  padding: 10px 0;
  margin: 10px auto;
  border-top: 1px solid #c8cdd1;
  border-bottom: 1px solid #c8cdd1;
}
#content .block-1 article .content > .social .social-likes--horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  line-height: 35px;
  border-top: 1px solid #dde5e7;
  border-bottom: 1px solid #dde5e7;
  border-left: 1px solid #dde5e7;
}
#content .block-1 article .content > .social .download {
  font-family: Arial;
  position: relative;
  font-weight: bold;
  display: block;
  padding-left: 27px;
  width: 72px;
  height: 30px;
  margin: 5px auto 0 auto;
  line-height: 30px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  background-color: #336999;
  box-shadow: 1px 1px 3px 0px #A59B9B;
}
#content .block-1 article .content > .social .download::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 14px;
  top: 50%;
  margin-top: -7px;
  background: url("../img/download.png") no-repeat;
}
#content .block-1 article .content > .social .right_counters {
  font-family: Arial;
  width: 160px;
}
#content .block-1 article .content > .social .right_counters .print_this .printomatictext {
  font-size: 13px;
  padding-left: 19px;
  line-height: 40px;
  background: url("../img/printer.png") no-repeat 6px 11px;
  cursor: pointer;
  color: #336999;
  text-decoration: none;
}
#content .block-1 article .content > .social .right_counters .print_this .printomatictext:hover {
  text-decoration: underline;
}
#content .block-1 article .content > .social .widget {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  cursor: pointer;
  color: #95a5a6;
  line-height: 35px;
  -webkit-transition: color .2s,background .2s;
          transition: color .2s,background .2s;
  text-align: center;
  border-right: 1px solid #dde5e7;
}
#content .block-1 article .content > .social .widget:last-child {
  width: 160px;
}
#content .block-1 article .content > .social .widget:hover {
  color: #fff;
}
#content .block-1 article .content > .social .widget .icon {
  font-size: 18px;
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
}
#content .block-1 article .content > .social .vkontakte:hover {
  background-color: #4f7599;
}
#content .block-1 article .content > .social .like:hover {
  background-color: #1abc9c;
}
#content .block-1 article .content > .social .facebook:hover {
  background-color: #415d93;
}
#content .block-1 article .content > .social .twitter:hover {
  background-color: #38b7ea;
}
#content .block-1 article .content > .social .odnoklassniki:hover {
  background-color: #e67e17;
}
#content .block-1 article .content > .social .livejournal:hover {
  background-color: #004359;
}
#content .block-1 article .read-more {
  margin: 17px 15px 0 15px;
}
#content .block-1 article .read-more .head {
  display: block;
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #222;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
#content .block-1 article .read-more .read-panel {
  padding: 20px;
  background-color: #ecf0f1;
}
#content .block-1 article .read-more .read-panel .news {
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
  font-size: 16px;
  line-height: 1.375em;
}
#content .block-1 article .read-more .read-panel .news li {
  width: 25%;
  padding: 0 15px 0 20px;
  display: table-cell;
  border-left: 1px solid #dde5e7;
}
#content .block-1 article .read-more .read-panel .news li:first-child {
  border-left: none;
}
#content .block-1 article .read-more .read-panel .news li a {
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #369;
  text-decoration: none;
}
#content .block-1 article .read-more .read-panel .news li a:hover {
  text-decoration: underline;
}
#content .add {
  clear: both;
}
#content .add h2 {
  display: block;
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #222;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
#content .add .addvertising {
  width: 100%;
  font-family: "PTSansRegular";
  box-sizing: border-box;
  padding: 14px 36px 20px 22px;
  background-color: #fef4eb;
}
#content .add .addvertising .orange {
  width: 60px;
  height: 15px;
  background-color: #f78c44;
  margin-right: 33px;
  display: inline-block;
  border-radius: 20px;
}
#content .add .addvertising a {
  float: right;
  text-decoration: none;
  padding-right: 7px;
  color: #089aff;
}
#content .add .addvertising a:hover {
  text-decoration: underline;
}
#content .add .addvertising a::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  margin-left: 7px;
  background: url("../img/info.png");
}
#content .add .addvertising span {
  font-size: 12px;
  position: relative;
  bottom: 3px;
}
#content .add .addvertising span:first-of-type {
  margin-right: 35px;
}
#content .add .addvertising span::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  margin-left: -21px;
}
#content .add .addvertising .views::before {
  margin-top: 7px;
  background-image: url(../img/sprite.png);
  background-position: -29px -120px;
  background-repeat: no-repeat;
}
#content .add .addvertising .comments::before {
  margin-top: 5px;
  background-image: url(../img/sprite.png);
  background-position: -58px -120px;
  background-repeat: no-repeat;
}
#content .add .addvertising p {
  width: 71%;
  padding-top: 10px;
}
#content .now-main {
  margin-top: 20px;
  display: inline-block;
}
#content .now-main h2 {
  display: block;
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #222;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
#content .now-main .new {
  width: 225px;
  display: inline-block;
  margin-right: 12px;
}
#content .now-main .new:last-of-type {
  margin-right: 0;
}
#content .now-main .new img {
  display: block;
  width: 225px;
  height: 123px;
}
#content .now-main .new a {
  display: block;
  font-family: "PTSansRegular";
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
  margin-top: 5px;
  margin-left: 7px;
  color: #369;
}
#content .now-main .new a:hover {
  text-decoration: underline;
}
#content .comments {
  position: relative;
}
#content .comments .comment {
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #dde5e7;
  box-sizing: border-box;
  font-family: "PTSansRegular";
}
#content .comments .buy-access {
  width: 450px;
  z-index: 1;
  position: absolute;
  right: 1px;
  top: -40px;
  padding: 10px;
}
#content .comments .buy-access a {
  display: inline-block;
  margin-top: 10px;
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}
#content .comments .buy-access a:hover {
  text-decoration: underline;
}
#content .comments .buy-access strong {
  font-family: "RobotoRegular";
  font-weight: 800;
}
#content .comments .buy-access p {
  font-family: "RobotoRegular";
  font-size: 14px;
  font-weight: 300;
}
#content .comments .buy-access .buy {
  font-family: "RobotoRegular";
  display: block;
  background: #336999;
  color: #fff;
  box-shadow: 0 2px rgba(0, 0, 0, 0.04);
  padding: 7px 10px;
  cursor: pointer;
  float: right;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#content .comments .buy-access .buy:hover {
  text-decoration: none;
}
#content .comments article:nth-of-type(2n) {
  background: #f5f5f5;
}
#content .comments h2 {
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #222;
  margin-top: 70px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
#content .comments .com-avatar {
  float: left;
  width: 52px;
}
#content .comments .com-info {
  float: right;
}
#content .comments .like-icon {
  color: #95a5a6;
  cursor: pointer;
}
#content .comments .like-icon::before {
  font-size: 16px;
}
#content .comments .like-icon:hover {
  color: #039be5;
}
#content .comments .like-count {
  margin-top: 10px;
  color: #7f8c8d;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #bdc3c7;
  background: #fff;
  padding: 2px 8px;
  margin-left: 6px;
  vertical-align: 2px;
  position: relative;
  display: inline-block;
  box-shadow: none;
}
#content .comments .like-count::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #bdc3c7;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -5px;
}
#content .comments .like-count::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -4px;
}
#content .comments .com-text {
  position: relative;
  margin-top: 10px;
  padding-right: 78px;
  font-size: 16px;
  line-height: 1.375em;
}
#content .comments .quote {
  font-family: "PTSansRegular";
  color: #848d93;
  padding-left: 20px;
  box-sizing: border-box;
  border-left: 3px solid #bdc3c7;
  font-style: italic;
  margin: 20px 0;
}
#content .comments .com-time {
  font-size: 12px;
  color: #7f8c8d;
  vertical-align: middle;
}
#content .comments .com-content {
  margin-left: 80px;
}
#content .comments .com-count {
  color: #95a5a6;
}
#content .comments a {
  font-size: 16px;
  color: #369;
  text-decoration: none;
}
#content .comments a:hover {
  text-decoration: underline;
}
#content .comments form textarea {
  width: 100%;
  box-sizing: border-box;
  height: 94px;
  padding-left: 17px;
  resize: none;
  padding-top: 18px;
  font-family: "PTSansRegular";
  font-size: 16px;
  margin-top: 15px;
  border: 1px solid #848d93;
}
#content .comments form input {
  width: 250px;
  height: 32px;
  display: block;
  margin-top: 15px;
  text-decoration: none;
  text-align: center;
  font-family: "PTSansRegular";
  font-size: 16px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  padding-bottom: 2px;
  background-color: #336699;
}
#content .donation {
  display: inline-block;
  float: right;
  margin-top: 20px;
}
#content .donation h2 {
  display: block;
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #222;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
#content .warning {
  background: #fcf3cf;
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 61px 20px 72px;
  font-size: 16px;
  line-height: 1.375em;
  color: #222;
  font-family: "PTSansRegular";
}
#content .warning img {
  position: absolute;
  left: 20px;
}
#content .warning a {
  color: #369;
  text-decoration: none;
}
#content .warning a:hover {
  border-bottom: 1px dashed rgba(51, 102, 153, 0.3);
}
#content .blocks {
  clear: both;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
#content .blocks .block {
  width: 370px;
  height: 190px;
  position: relative;
  margin-right: 30px;
  margin-top: 28px;
  background-color: green;
}
#content .blocks .block h2 {
  font-family: "PTSansRegular";
  font-size: 25px;
  color: #fff;
  padding-top: 34px;
  padding-left: 30px;
}
#content .blocks .block p {
  font-family: "PTSansRegular";
  padding-left: 30px;
  padding-top: 15px;
  color: #fff;
}
#content .blocks .block:nth-child(1), #content .blocks .block:nth-child(2), #content .blocks .block:nth-child(3) {
  margin-top: 0;
}
#content .blocks .block:nth-child(3n) {
  margin-right: 0;
}
#content .blocks .block:nth-child(1) a, #content .blocks .block:nth-child(2) a, #content .blocks .block:nth-child(3) a {
  position: absolute;
  display: block;
  width: 241px;
  height: 45px;
  line-height: 45px;
  left: 28px;
  bottom: 28px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: #144570;
}
#content .blocks .block:nth-child(1) a:hover, #content .blocks .block:nth-child(2) a:hover, #content .blocks .block:nth-child(3) a:hover {
  background-color: #10304b;
}
#content .blocks .block1 {
  background: url("../img/block-bg1.png") #448ccb no-repeat;
}
#content .blocks .block3 {
  background: url("../img/block-bg2.png") #448ccb no-repeat;
}
#content .blocks .block8 {
  background: url("../img/block-bg3.png") #448ccb no-repeat;
}
