body {
  position: relative;
  font-family: HelveticaL;
  font-size: 18px;
  color: #4F4F4F;
  background-color: #fff;
  padding-bottom: 176px;
  overflow-x: hidden;
}

h1 {
  font-family: Lora;
  line-height: 51px;
  font-size: 40px;
  color: #03B9F3;
  white-space: pre-line;
}

h2 {
  font-family: Lora;
  line-height: 38px;
  font-size: 25px;
  color: #03B9F3;
  white-space: pre-line;
}

header {
  .top-line {
    background-color: #fff;
    .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 39px;
      a {
        font-family: HelveticaL;
        text-decoration: none;
        font-size: 14px;
        white-space: nowrap;
      }
      .left a {
        color: #828282;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          color: #ff9d20;
        }
        &:nth-of-type(1) {
          margin-right: 15px;
        }
        &:nth-of-type(2) {
          margin-right: 23px;
        }
      }
      .right a {
        color: #000000;
      }
      .right a:nth-of-type(1) {
        margin-right: 52px;
      }
      .right a:nth-of-type(2)::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 10px;
        margin-top: 6px;
        margin-left: -17px;
        background: url("../img/profile.png");
      }
    }
  }
  .bottom-line {
    position: relative;
    height: 70px;
    background: #5A5A5A;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    .bottom {
      display: flex;
      align-items: center;
      .c-hamburger {
        display: none;
        position: relative;
        overflow: hidden;
        padding: 0;
        width: 24px;
        height: 24px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        background: none;
        transition: background 0.3s;
        span {
          display: block;
          height: 4px;
          background: white;
          transition: background 0s 0.3s;
          &::before,
          &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #fff;
            content: "";
            transition-duration: 0.3s, 0.3s;
            transition-delay: 0.3s, 0s;
          }
          &::before {
            top: 0;
          }
          &::after {
            bottom: 0;
          }
        }
      }
      .c-hamburger-htx.is-active span {
        background: none;
      }
      .c-hamburger-htx.is-active span::before {
        top: 10px;
        transform: rotate(45deg);
      }
      .c-hamburger-htx.is-active span::after {
        bottom: 10px;
        transform: rotate(-45deg);
      }
      .logo {
        margin-right: 54px;
      }
      ul {
        display: flex;
        li:last-child a {
          margin-right: 0;
        }
        a {
          font-family: HelveticaL;
          line-height: normal;
          font-size: 20px;
          color: #FFFFFF;
          text-decoration: none;
          padding-bottom: 20px;
          margin-right: 56px;
          white-space: nowrap;
          &:hover {
            border-bottom: 2px solid #f9a81c;
          }
        }
      }
      ul.open-menu {
        visibility: visible;
        transition: 0.3s;
        transition-delay: 0.3s, 0s;
      }
    }
  }
}

main {
  #first {
    background: url("../img/background2.jpg") no-repeat 100% 0;
    .breadcrumbs {
      display: flex;
      margin: 52px 0;
      a,p {
        font-family: HelveticaL;
        line-height: 20px;
        font-size: 14px;
        color: #C4C4C4;
      }
      a {
        margin-right: 50px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        &::before {
          content: '';
          position: absolute;
          width: 11px;
          height: 8px;
          margin-top: 7px;
          margin-left: -32px;
          background: url("../img/arrow-right.png") no-repeat;
        }
      }
    }
    aside {
      margin-top: 8px;
      a {
        display: block;
        margin-top: 20px;
        font-family: HelveticaM;
        line-height: 25px;
        font-size: 18px;
        color: #4F4F4F;
        text-decoration: underline;
        white-space: pre-line;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-family: HelveticaM;
        line-height: 25px;
        font-size: 18px;
        color: #C4C4C4;
      }
    }
    .row:nth-of-type(2) .col-md-9 {
      h2 {
        padding-top: 62px;
      }
      p {
        padding-top: 11px;
        white-space: pre-line;
        line-height: 26px;
      }
      .block {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 384px;
        margin-top: 30px;
        padding-left: 39px;
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
        background: url("../img/background3.jpg") no-repeat;
        p {
          position: relative;
          z-index: 1;
          color: #fff;
          &:first-of-type {
            padding-top: 204px;
            font-size: 16px;
          }
          &:last-of-type {
            line-height: 25px;
            font-size: 18px;
          }
        }
        a {
          position: relative;
          z-index: 1;
          font-family: HelveticaM;
          line-height: 28px;
          font-size: 20px;
          text-decoration: underline;
          color: #fff;
          white-space: pre-line;
          &:hover {
            text-decoration: none;
          }
        }
        .shadow {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: linear-gradient(0deg, #040404 30.71%, rgba(4, 4, 4, 0) 100%);
          opacity: 0.8;
        }
      }
    }
  }
  #second {
    margin-top: 21px;
    padding-bottom: 153px;
    .col-md-9 {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
    .left {
      margin-top: 100px;
      width: 415px;
      h2 {
        position: relative;
        line-height: 53px;
        font-size: 40px;
        &::before {
          content: '';
          position: absolute;
          width: 87px;
          height: 57px;
          top: -8px;
          left: -56px;
          background: url("../img/skrep.png") no-repeat;
          transform: rotate(-19deg);
        }
      }
      p {
        padding-top: 12px;
        line-height: 26px;
        white-space: pre-line;
      }
    }
    .block1,
    .block2,
    .block3 {
      width: 430px;
      height: 430px;
      padding-left: 39px;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
      p {
        &:first-of-type {
          color: #ADADAD;
          padding-top: 250px;
          font-size: 16px;
        }
        &:last-of-type {
          color: #fff;
          font-family: HelveticaM;
          font-size: 20px;
          padding-top: 11px;
        }
      }
      a {
        display: inline-block;
        font-family: HelveticaL;
        margin-top: 18px;
        line-height: 25px;
        font-size: 18px;
        color: #fff;
        text-decoration: underline;
        white-space: pre-line;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .block1 {
      background: url("../img/background4.jpg") no-repeat;
      margin-left: auto;
      p:first-of-type {
        padding-top: 303px;
      }
      a {
        margin-top: 18px;
      }
    }
    .block2 {
      margin-top: 21px;
      background: url("../img/background5.jpg") no-repeat;
    }
    .block3 {
      margin-top: 21px;
      background: url("../img/background6.jpg") no-repeat;
      margin-left: auto;
    }
    img {
      position: absolute;
      bottom: -189px;
      left: -336px;
    }
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 176px;
  .top-line {
    height: 70px;
    background: #3D3D3D;
    .top {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 54px;
      }
      ul {
        display: flex;
        li:last-child a {
          margin-right: 0;
        }
        a {
          font-family: HelveticaL;
          font-size: 16px;
          color: #FFFFFF;
          text-decoration: none;
          padding-bottom: 21px;
          margin-right: 28px;
          white-space: nowrap;
          &:hover {
            border-bottom: 2px solid #f9a81c;
          }
        }
      }
      .right {
        display: flex;
        margin-left: auto;
        ::-webkit-input-placeholder {color:#fff; opacity:1;}
        ::-moz-placeholder          {color:#fff; opacity:1;}
        :-moz-placeholder           {color:#fff; opacity:1;}
        :-ms-input-placeholder      {color:#fff; opacity:1;}
        input[type="email"] {
          width: 202px;
          height: 30px;
          line-height: 30px;
          border: 1px solid #03B9F3;
          padding-left: 20px;
          font-family: HelveticaL;
          font-size: 14px;
          background: transparent;
          outline: none;
          color: #fff;
          opacity: 1;
        }
        input[type="submit"] {
          width: 40px;
          height: 30px;
          font-size: 0;
          outline: none;
          border: none;
          background: url("../img/certificate.png") no-repeat #03B9F3 50% 50%;
        }
      }
    }

  }
  .bottom-line {
    height: 106px;
    background-color: #242424;
    .bottom {
      display: flex;
      justify-content: space-between;
      .left {
        p {
          font-family: HelveticaL;
          font-size: 14px;
          color: #828282;
          &:first-child {
            padding-top: 33px;
          }
          &:last-child {
            padding-top: 9px;
          }
        }
      }
      .right {
        p {
          display: inline-block;
          font-size: 16px;
          color: #828282;
          &:first-of-type {
            padding-top: 26px;
          }
          &:last-of-type {
            padding-top: 14px;
          }
        }
        a {
          font-size: 20px;
          color: #fff;
          text-decoration: none;
          &:first-of-type {
            margin-left: 20px;
            margin-right: 3px;
          }
          &:last-of-type {
            font-size: 16px;
            margin-left: 54px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1199px) {
  header .bottom-line .bottom ul a {
    margin-right: 18px;
  }

  main #first {
    background: url("../img/background2.jpg") no-repeat 100% -41px;
  }
  main #first .row:nth-of-type(2) .col-md-9 .block p {
    white-space: normal;
  }
  main #first .row:nth-of-type(2) .col-md-9 .block a {
    white-space: normal;
  }
  main #second .block1 {
    margin-top: 21px;
  }
  main #second .block1,
  main #second .block3 {
    margin-left: 0;
  }

  footer .top-line {
    height: auto;
  }
  footer .top-line .top {
    flex-wrap: wrap;
  }
  footer .top-line .top .right {
    margin-left: 0;
    margin-top: 9px;
  }
  footer .top-line .top ul a {
    font-size: 20px;
    margin-right: 18px;
  }
  footer .bottom-line .bottom .left {
    max-width: 500px;
  }
}

@media screen and (max-width:991px) {
  header .bottom-line .bottom ul a,
  footer .top-line .top ul a {
    font-size: 16px;
    padding-bottom: 22px;
    margin-right: 10px;
  }
  header .bottom-line .bottom .logo,
  footer .top-line .top .logo {
    margin-right: 15px;
  }

  main #second img {
    display: none;
  }
  main #first aside a {
    margin-top: 13px;
  }
  main #first aside {
    margin-top: 0;
  }
  main #first .col-md-9 {
    margin-top: 40px;
  }

  footer .bottom-line .bottom .left {
    max-width: 440px;
  }
}

@media screen and (max-width:800px) {
  main #second .left h2::before {
    display: none;
  }
}

@media screen and (max-width:767px) {
  header .bottom-line .bottom {
    ul {
      position: absolute;
      width: 100%;
      top: 70px;
      left: 0;
      z-index: 1;
      visibility: hidden;
      transition: 0.3s;
      flex-direction: column;
      background: #5A5A5A;
      padding-left: 10px;
      transition-delay: 0.3s, 0s;
      li {
        a {
          display: block;
          margin-right: 0;
          margin-top: 10px;
          text-align: center;
          transition: 0.3s;
          &:hover {
            color: #ff9d20;
            border-bottom: none;
            transition: 0.3s;
          }
        }
      }
    }
    #pull {
      display: block;
      margin-left: auto;
    }
  }
  main #first {
    background: none;
  }
  footer .top-line .top {
    .right {
      margin-left: auto;
    }
    nav {
      display: none;
    }
  }
  footer .bottom-line {
    height: auto;
    padding-bottom: 33px;
  }
  footer .bottom-line .bottom {
    flex-direction: column;
  }
  footer .bottom-line .bottom .left {
    max-width: 100%;
  }
}

@media screen and (max-width:700px) {
  main #first .row:nth-of-type(2) .col-md-9 .block p:first-of-type {
    padding-top: 150px;
  }
  main #first .row:nth-of-type(2) .col-md-9 .block a {
    font-size: 18px;
  }
  main #first .row:nth-of-type(2) .col-md-9 .block p:last-of-type {
    font-size: 16px;
  }
}

@media screen and (max-width:624px) {
  header .top-line .top {
    height: auto;
    padding: 15px 0;
  }
  header .top-line .top .right {
    padding-top: 10px;
  }
}

@media screen and (max-width:490px) {
  main #first .row:nth-of-type(2) .col-md-9 .block {
    padding-left: 10px;
  }
  main #first .row:nth-of-type(2) .col-md-9 .block p:first-of-type {
    padding-top: 73px;
  }
  main #second .left p {
    white-space: normal;
  }
  main #first .row:nth-of-type(2) .col-md-9 p {
    white-space: normal;
  }
}

@media screen and (max-width:416px) {
  header .top-line .top .left a:last-of-type {
    display: inline-block;
    margin-top: 15px;
  }
  main #second .block1, main #second .block2, main #second .block3 {
    padding-left: 10px;
  }
}

@media screen and (max-width:362px) {
  footer .top-line .top .right {
    margin-left: 0;
  }
}

@media screen and (max-width:342px) {
  main #second .block3 p:first-of-type {
    padding-top: 208px;
  }
}

