body {
  position: relative;
  font-family: HelveticaL;
  font-size: 18px;
  color: #4F4F4F;
  background-color: #fff;
  padding-bottom: 176px;
}

h1 {
  font-family: Lora;
  line-height: 51px;
  font-size: 40px;
  color: #03B9F3;
  white-space: pre-line;
}

h2 {
  font-family: Lora;
  line-height: 38px;
  font-size: 25px;
  color: #03B9F3;
  white-space: pre-line;
}

header {
  .top-line {
    background-color: #fff;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 39px;
      a {
        font-family: HelveticaL;
        text-decoration: none;
        font-size: 14px;
      }
      .left a {
        color: #828282;
        transition: 0.3s;
        &:hover {
          transition: 0.3s;
          color: #ff9d20;
        }
        &:nth-of-type(1) {
          margin-right: 15px;
        }
        &:nth-of-type(2) {
          margin-right: 23px;
        }
      }
      .right a {
        color: #000000;
      }
      .right a:nth-of-type(1) {
        margin-right: 52px;
      }
      .right a:nth-of-type(2)::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 10px;
        margin-top: 6px;
        margin-left: -17px;
        background: url("../img/profile.png");
      }
    }
  }
  .bottom-line {
    height: 70px;
    background: #5A5A5A;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    .bottom {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 54px;
      }
      ul {
        display: flex;
        a {
          font-family: HelveticaL;
          line-height: normal;
          font-size: 20px;
          color: #FFFFFF;
          text-decoration: none;
          padding-bottom: 20px;
          margin-right: 56px;
          white-space: nowrap;
          &:hover {
            border-bottom: 2px solid #f9a81c;
          }
        }
      }
    }
  }
}

main {
  #first {
    .breadcrumbs {
      display: flex;
      margin: 52px 0;
      a,p {
        font-family: HelveticaL;
        line-height: 20px;
        font-size: 14px;
        color: #C4C4C4;
      }
      a {
        margin-right: 50px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        &::before {
          content: '';
          position: absolute;
          width: 11px;
          height: 8px;
          margin-top: 7px;
          margin-left: -32px;
          background: url("../img/arrow-right.png") no-repeat;
        }
      }
    }
    aside {
      margin-top: 8px;
      a {
        display: block;
        margin-top: 20px;
        font-family: HelveticaM;
        line-height: 25px;
        font-size: 18px;
        color: #4F4F4F;
        text-decoration: underline;
        white-space: pre-line;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-family: HelveticaM;
        line-height: 25px;
        font-size: 18px;
        color: #C4C4C4;
      }
    }
    .row:nth-of-type(2) .col-md-9 {
      h2 {
        padding-top: 62px;
      }
      p {
        padding-top: 11px;
        white-space: pre-line;
        line-height: 26px;
      }
      img {
        position: absolute;
        width: 281px;
        height: 271px;
        left: 651px;
        top: -57px;
        background: url("../img/plant.png") no-repeat;
      }
    }
  }
  #second {
    margin-top: 84px;
    padding-bottom: 69px;
    background-color: #FBFBFB;
    h2 {
      padding-top: 62px;
    }
    ul {
      margin-top: 10px;
      li {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        p {
          line-height: 25px;
          font-size: 18px;
          white-space: pre-line;
        }
      }
    }
    img:first-of-type {
      position: absolute;
      width: 81px;
      height: 57px;
      left: -277px;
      top: 383px;
    }
    img:last-of-type {
      position: absolute;
      width: 230px;
      height: 219px;
      left: -255px;
      top: 417px;
    }
  }
  #third {
    h2 {
      padding-top: 90px;
    }
    p {
      padding-top: 3px;
      line-height: 25px;
      white-space: pre-line;
    }
    img {
      position: absolute;
      width: 81px;
      height: 57px;
      left: 799px;
      top: 65px;
    }
    table {
      width: 100%;
      margin-top: 40px;
      th {
        line-height: 31px;
        font-size: 22px;
      }
      td {
        padding: 39px 0 37px 0;
        white-space: pre-line;
      }
      tr:nth-child(odd):not(:first-child) {
        background: #FBFBFB;
      }
      tr:first-child {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        th {
          padding-bottom: 6px;
        }
      }
    }
  }
  #fourth {
    margin-top: 116px;
    padding-bottom: 81px;
    background: #c5effc;
    h2 {
      padding-top: 71px;
    }
    a {
      position: relative;
      font-family: HelveticaL;
      line-height: 25px;
      font-size: 18px;
      color: #4F4F4F;
      text-decoration: underline;
      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 15px;
        top: 2px;
        right: 0;
        background: url("../img/download.png") no-repeat;
      }
      &:hover {
        text-decoration: none;
      }
    }
    img:first-of-type {
      position: absolute;
      width: 267px;
      height: 331px;
      left: 595px;
      top: -35px;
    }
    img:last-of-type {
      position: absolute;
      width: 129px;
      height: 169px;
      left: 765px;
      top: 113px;
    }
  }
  #fifth {
    padding-top: 134px;
    padding-bottom: 159px;
    .col-md-9 {
      display: flex;
    }
    .left {
      margin-right: 83px;
    }
    .right {
      padding-top: 57px;
    }
    img {
      margin-top: 8px;
    }
    p {
      line-height: 25px;
      white-space: pre-line;
      padding-top: 10px;
    }
    a {
      position: relative;
      display: inline-block;
      font-family: HelveticaL;
      line-height: 25px;
      font-size: 18px;
      color: #4F4F4F;
      text-decoration: underline;
      margin-top: 23px;
      &:first-of-type {
        margin-top: 32px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 15px;
        top: 2px;
        right: 0;
        background: url("../img/download.png") no-repeat;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 176px;
  .top-line {
    height: 70px;
    background: #3D3D3D;
    .top {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 54px;
      }
      ul {
        display: flex;
        a {
          font-family: HelveticaL;
          font-size: 16px;
          color: #FFFFFF;
          text-decoration: none;
          padding-bottom: 21px;
          margin-right: 28px;
          white-space: nowrap;
          &:hover {
            border-bottom: 2px solid #f9a81c;
          }
        }
      }
      .right {
        display: flex;
        margin-left: auto;
        ::-webkit-input-placeholder {color:#fff; opacity:1;}
        ::-moz-placeholder          {color:#fff; opacity:1;}
        :-moz-placeholder           {color:#fff; opacity:1;}
        :-ms-input-placeholder      {color:#fff; opacity:1;}
        input[type="email"] {
          width: 202px;
          height: 30px;
          line-height: 30px;
          border: 1px solid #03B9F3;
          padding-left: 20px;
          font-family: HelveticaL;
          font-size: 14px;
          background: transparent;
          outline: none;
          color: #fff;
          opacity: 1;
        }
        input[type="submit"] {
          width: 40px;
          height: 30px;
          font-size: 0;
          outline: none;
          border: none;
          background: url("../img/certificate.png") no-repeat #03B9F3 50% 50%;
        }
      }
    }

  }
  .bottom-line {
    height: 106px;
    background-color: #242424;
    .bottom {
      display: flex;
      justify-content: space-between;
      .left {
        p {
          font-family: HelveticaL;
          font-size: 14px;
          color: #828282;
          &:first-child {
            padding-top: 33px;
          }
          &:last-child {
            padding-top: 9px;
          }
        }
      }
      .right {
        p {
          display: inline-block;
          font-size: 16px;
          color: #828282;
          &:first-of-type {
            padding-top: 26px;
          }
          &:last-of-type {
            padding-top: 14px;
          }
        }
        a {
          font-size: 20px;
          color: #fff;
          text-decoration: none;
          &:first-of-type {
            margin-left: 20px;
            margin-right: 3px;
          }
          &:last-of-type {
            font-size: 16px;
            margin-left: 54px;
          }
        }
      }
    }
  }
}