@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBlack";
    src: url("../fonts/Roboto-Black.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto-Light.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCBold";
    src: url("../fonts/RobotoCondensed-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCRegular";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCRegular";
    src: url("../fonts/RobotoCondensed-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}