html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "RobotoRegular";
  font-size: 18px;
}

h1 {
  font-family: "RobotoBlack";
  font-size: 42px;
  text-transform: uppercase;
  white-space: pre-line;
  line-height: 55px;
  color: #fff;
}

h2 {
  font-family: "RobotoRegular";
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  white-space: pre-line;
}

h2.white {
  color: #fff;
}

h2.darkblue {
  color: #363d4a;
}

.btn-blue {
  font-family: "RobotoCBold";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: #37beef;
  border: 2px solid #37beef;
  border-bottom: 2px solid #279ac4;
  border-radius: 5px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.btn-blue:hover {
  cursor: pointer;
  border: 2px solid #fff;
  background: transparent;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

input {
  outline: none;
}

header {
  position: relative;
  height: 1080px;
  background: url("../img/header-bg.jpg");
  background-size: cover;
}
header h2 {
  text-align: left;
  padding-top: 41px;
}
header .top-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}
header .top-line .logo {
  margin-top: 24px;
}
header .top-line .call {
  text-align: right;
  margin-top: 40px;
}
header .top-line .call a {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  white-space: pre-line;
}
header .top-line .call a:hover {
  text-decoration: none;
  color: #fff;
}
header .top-line .call a span {
  font-size: 14px;
  text-transform: uppercase;
}
header .top-line .call a::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: 3px;
  margin-left: -33px;
}
header .top-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  border-top: 1px solid #8e9199;
}
header .top-menu li {
  position: relative;
  margin-right: 29px;
}
header .top-menu li:first-child::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: -2px;
  background-color: #37beef;
}
header .top-menu li:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: -2px;
  background-color: #37beef;
}
header .top-menu li:last-child {
  margin-top: 0;
}
header .top-menu li a {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 28px;
}
header .top-menu li a:hover {
  text-decoration: none;
}
header .center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 190px;
}
header .center .left .images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}
header .center .left .images img:first-child {
  margin-right: 50px;
}
header .center .right {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-top: -5px;
}
header .center .right form {
  width: 350px;
  padding: 33px 25px 27px 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
header .center .right form input[type="email"],
header .center .right form input[type="tel"] {
  width: 100%;
  padding-left: 24px;
  height: 56px;
  color: #8d9094;
  line-height: 56px;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
}
header .center .right form p:first-child {
  font-family: "RobotoBlack";
  font-size: 28px;
  text-transform: uppercase;
  white-space: pre-line;
  line-height: 42px;
  color: #fff;
}
header .center .right form p:nth-child(2) {
  font-size: 24px;
  white-space: pre-line;
  line-height: 33px;
  padding-top: 15px;
  color: #fff;
  padding-bottom: 45px;
}
header .center .right form .btn-blue {
  width: 100%;
  height: 56px;
  line-height: 52px;
}
header .arrow {
  position: absolute;
  width: 20px;
  height: 19px;
  bottom: 38px;
  left: 50%;
  margin-left: -10px;
  background-image: url(../img/sprite.png);
  background-position: -26px 0;
  background-repeat: no-repeat;
}

#options {
  padding-bottom: 53px;
}
#options h2 {
  padding-top: 48px;
}
#options form {
  margin-top: 50px;
}
#options form .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#options form .top .left {
  margin-right: 46px;
}
#options form .top .left #covers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#options form .top .left #covers .slides_container {
  width: 250px;
  margin-right: 77px;
}
#options form .top .left #covers .pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: content-box;
}
#options form .top .left #covers .pagination li {
  width: 75px;
  height: 75px;
  margin-bottom: 17px;
  position: relative;
}
#options form .top .left #covers .pagination li a {
  display: block;
  width: 75px;
  height: 75px;
  line-height: 75px;
}
#options form .top .left #covers .pagination li a:hover {
  border: 1px solid #39bfef;
}
#options form .top .left #covers .pagination li a:hover img {
  opacity: 0.5;
}
#options form .top .left #covers .pagination li a:hover::before {
  content: '';
  position: absolute;
  width: 89px;
  height: 89px;
  top: 50%;
  left: 50%;
  margin-left: -44.5px;
  margin-top: -44.5px;
  background: url("../img/loupe.png");
  z-index: 1;
}
#options form .top .left #covers .pagination li img {
  width: 100%;
  height: 100%;
}
#options form .top .left #covers .pagination li:last-child {
  margin-bottom: 0;
}
#options form .top .right {
  margin-top: 17px;
}
#options form .top .right label {
  font-family: "RobotoRegular";
  font-size: 20px;
  color: #363d4a;
}
#options form .top .right .selections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
#options form .top .right .selections .select-block {
  height: auto;
  margin-bottom: 17px;
}
#options form .top .right .selections .select-block label .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#options form .top .right .selections .select-block label .header .info-icon {
  width: 20px;
  height: 21px;
  background-image: url(../img/sprite.png);
  background-position: 0 -39px;
  background-repeat: no-repeat;
}
#options form .top .right .selections .select-block label .header .info-icon:hover, #options form .top .right .selections .select-block label .header .info-icon:focus {
  background-image: url(../img/sprite.png);
  background-position: -26px -39px;
  background-repeat: no-repeat;
}
#options form .top .right .selections .select-block:nth-child(odd) {
  margin-right: 50px;
}
#options form .top .right .selections .select-block .ui-button {
  background: none;
  margin: 15px 0 0 0;
  padding: 0;
  color: #8d9094;
  height: 44px;
  line-height: 40px;
  text-indent: 22px;
  border: 1px solid #8d9094;
  font-family: "RobotoLight";
  font-size: 16px;
  width: 325px;
  outline: none;
  border-radius: 4px;
}
#options form .top .right .selections .select-block .ui-button .ui-icon {
  background-image: none;
}
#options form .top .right .selections .select-block .ui-selectmenu-icon.ui-icon {
  width: 43px;
  height: 100%;
  border-left: 1px solid #8d9094;
  background: url("../img/arrow-bottom.png") 50% 50% no-repeat #c6c8ca;
  position: relative;
  outline: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#options form .top .right .selections .select-block .ui-selectmenu-button-open {
  color: #37beef;
  border-color: #37beef;
}
#options form .top .right .selections .select-block .ui-selectmenu-button-open .ui-selectmenu-icon.ui-icon {
  position: absolute;
  right: -1px;
  top: -1px;
  border-bottom-right-radius: 0;
  width: 44px;
  height: 44px;
  border: 1px solid #279ac4;
  background: url("../img/arrow-bottom.png") 50% 50% no-repeat #37beef;
}
#options form .top .right .colors .radio-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#options form .top .right .colors .radio-buttons label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-right: 45px;
  position: relative;
}
#options form .top .right .colors .radio-buttons label:first-child {
  margin-left: 10px;
}
#options form .top .right .colors .radio-buttons label:last-child {
  margin-right: 0;
}
#options form .top .right .colors .radio-buttons label .radio {
  display: none;
}
#options form .top .right .colors .radio-buttons label .radio-custom {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  border: 1px solid #c6c8ca;
  border-radius: 50%;
  position: relative;
}
#options form .top .right .colors .radio-buttons label .radio-custom,
#options form .top .right .colors .radio-buttons label .label {
  display: inline-block;
  vertical-align: middle;
}
#options form .top .right .colors .radio-buttons label .radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border: 1px solid #37beef;
  border-radius: 50%;
}
#options form .top .right .colors .radio-buttons label .radio:checked + .radio-custom {
  border: 1px solid #37beef;
}
#options form .top .right .more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
}
#options form .top .right .more label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-right: 45px;
  position: relative;
}
#options form .top .right .more label img {
  margin-right: 25px;
}
#options form .top .right .more label:last-child {
  margin-right: 0;
}
#options form .top .right .more label .radio {
  display: none;
}
#options form .top .right .more label .radio-custom {
  width: 20px;
  height: 20px;
  margin-right: 13px;
  border: 1px solid #c6c8ca;
  border-radius: 50%;
  position: relative;
}
#options form .top .right .more label .radio-custom,
#options form .top .right .more label .label {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}
#options form .top .right .more label .label {
  font-family: "RobotoRegular";
  font-size: 18px;
  color: #1a8cb5;
  cursor: pointer;
}
#options form .top .right .more label .price {
  font-family: "RobotoRegular";
  font-size: 18px;
  padding-left: 7px;
  text-decoration: none;
  color: #363d4a;
}
#options form .top .right .more label .radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  border: 1px solid #37beef;
  border-radius: 50%;
}
#options form .top .right .more label .radio:checked + .radio-custom {
  border: 1px solid #37beef;
}
#options form .top .right a.btn-blue {
  display: block;
  width: 150px;
  height: 30px;
  line-height: 26px;
  text-transform: lowercase;
  margin-top: 22px;
  font-family: "RobotoCRegular";
  font-size: 14px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
#options form .top .right a.btn-blue:hover {
  color: #363d4a;
  border: 2px solid #363d4a;
  text-decoration: none;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
#options form #total {
  width: 100%;
  height: 152px;
  margin-top: 43px;
  padding: 0 50px 0 48px;
  background: url("../img/total-bg.jpg");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
#options form #total .left {
  margin-right: 93px;
}
#options form #total .left p {
  display: block;
  text-transform: uppercase;
  font-size: 32px;
  width: 286px;
}
#options form #total .left p span {
  font-family: "RobotoBold";
  font-size: 42px;
}
#options form #total .center {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  text-align: center;
  padding-top: 29px;
  margin-right: 208px;
}
#options form #total .center input {
  width: 300px;
  height: 59px;
  line-height: 54px;
  border-width: 3px;
}
#options form #total .center p {
  font-size: 18px;
  padding-top: 20px;
}
#options form #total #gift p:first-child {
  font-size: 24px;
  text-align: center;
  white-space: pre-line;
  line-height: 29px;
}
#options form #total #gift p:first-child::before {
  content: '';
  position: absolute;
  width: 54px;
  height: 60px;
  margin-left: -96px;
  margin-top: 18px;
  background-image: url(../img/sprite.png);
  background-position: -63px 0;
  background-repeat: no-repeat;
}
#options form #total #gift p:first-child span {
  font-family: "RobotoBold";
  text-transform: uppercase;
  padding-top: 7px;
}
#options form #total #gift p:last-child {
  text-align: center;
  white-space: pre-line;
  font-size: 12px;
  line-height: 17px;
  padding-top: 13px;
}

#installation {
  background: url("../img/installation-bg.jpg");
  background-size: cover;
  padding-bottom: 84px;
}
#installation h2 {
  padding-top: 55px;
  line-height: 44px;
}
#installation form {
  margin-top: 58px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#installation form input[type="tel"] {
  width: 300px;
  height: 56px;
  padding-left: 24px;
  font-family: "RobotoLight";
  font-size: 16px;
  color: #363d4a;
  background-color: #c5c6c7;
  border-radius: 4px;
  margin-right: 50px;
  border: none;
}
#installation form input[type="submit"] {
  width: 300px;
  height: 56px;
  line-height: 52px;
  border: 2px solid #fff;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoCBold";
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
#installation form input[type="submit"]:hover {
  border-color: #37beef;
  background-color: #37beef;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
#installation .images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 54px;
}
#installation .images img:first-child {
  margin-right: 50px;
}

#colors-materials {
  padding-bottom: 61px;
  background-color: #eceef3;
}
#colors-materials h2 {
  padding-top: 58px;
}
#colors-materials .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px auto 0 auto;
  border-bottom: none;
}
#colors-materials .tabs li {
  display: block;
  margin-right: 25px;
  width: 200px;
  height: 57px;
  line-height: 53px;
  border: 2px solid #363d4a;
  background: transparent;
  font-family: "RobotoCBold";
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  color: #363d4a;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
#colors-materials .tabs li:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  border-color: #37beef;
  background-color: #37beef;
  color: #fff;
}
#colors-materials .tabs li:last-child {
  margin-right: 0;
}
#colors-materials .tabs li.current {
  border-color: #37beef;
  background-color: #37beef;
  color: #fff;
}
#colors-materials .tab-content {
  display: none;
  width: 1150px;
  margin-top: 31px;
}
#colors-materials .tab-content .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: "RobotoBold";
  margin-right: 50px;
}
#colors-materials .tab-content .item .btn-blue {
  display: block;
  height: 59px;
  line-height: 54px;
  border-bottom: 3px solid #279ac4;
  margin-top: 36px;
}
#colors-materials .tab-content .item .btn-blue:hover {
  color: #363d4a;
  border: 2px solid #363d4a;
  text-decoration: none;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
#colors-materials .tab-content .item h4 {
  max-width: 250px;
  width: 250px;
  font-size: 20px;
  padding-top: 44px;
  text-transform: uppercase;
}
#colors-materials .tab-content .item .info {
  padding-top: 16px;
  font-family: "RobotoRegular";
}
#colors-materials .tab-content .item .price {
  padding-top: 10px;
}
#colors-materials .item img {
  width: 187px;
  height: auto;
  margin: 0 auto;
}
#colors-materials .tab-content.current {
  display: block;
}
#colors-materials .slick-prev, #colors-materials .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 27px;
  height: 50px;
  margin-top: -115px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
#colors-materials .slick-prev::before, #colors-materials .slick-next::before {
  display: none;
}
#colors-materials .slick-prev {
  background-image: url(../img/sprite.png);
  background-position: 0 -78px;
  background-repeat: no-repeat;
  left: -233px;
}
#colors-materials .slick-prev:hover {
  background-image: url(../img/sprite.png);
  background-position: -74px -78px;
  background-repeat: no-repeat;
}
#colors-materials .slick-next {
  background-image: url(../img/sprite.png);
  background-position: -36px -78px;
  background-repeat: no-repeat;
  right: -233px;
}
#colors-materials .slick-next:hover {
  background-image: url(../img/sprite.png);
  background-position: -108px -78px;
  background-repeat: no-repeat;
}

#reviews {
  padding-bottom: 63px;
}
#reviews h2 {
  padding-top: 35px;
}
#reviews .reviews-slider1 {
  margin-top: 65px;
}
#reviews .reviews-slider1 .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#reviews .reviews-slider1 .item .left {
  margin-right: 50px;
}
#reviews .reviews-slider1 .item .right {
  width: 200px;
}
#reviews .reviews-slider1 .item .right h4 {
  font-family: "RobotoBold";
  font-size: 20px;
  color: #363d4a;
  padding-top: 23px;
}
#reviews .reviews-slider1 .item .right p {
  line-height: 24px;
  padding-top: 17px;
}
#reviews .reviews-slider1 .slick-dots {
  margin-top: 45px;
  position: static;
}
#reviews .reviews-slider1 .slick-dots li button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
#reviews .reviews-slider1 .slick-dots li button::before {
  display: none;
}
#reviews .reviews-slider1 .slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid #c6c8ca;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 0;
  margin-right: 12px;
}
#reviews .reviews-slider1 .slick-dots li:last-child {
  margin-right: 0;
}
#reviews .reviews-slider1 .slick-dots li.slick-active {
  border: 1px solid #37beef;
}
#reviews .reviews-slider2 img {
  margin-right: 25px;
}
#reviews .slick-prev, #reviews .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 27px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
#reviews .slick-prev::before, #reviews .slick-next::before {
  display: none;
}
#reviews .slick-prev {
  background-image: url(../img/sprite.png);
  background-position: 0 -78px;
  background-repeat: no-repeat;
  left: -233px;
}
#reviews .slick-prev:hover {
  background-image: url(../img/sprite.png);
  background-position: -74px -78px;
  background-repeat: no-repeat;
}
#reviews .slick-next {
  background-image: url(../img/sprite.png);
  background-position: -36px -78px;
  background-repeat: no-repeat;
  right: -233px;
}
#reviews .slick-next:hover {
  background-image: url(../img/sprite.png);
  background-position: -108px -78px;
  background-repeat: no-repeat;
}

#production {
  background: url("../img/production-bg.jpg");
  background-size: cover;
  overflow-x: hidden;
  padding-bottom: 97px;
}
#production h2 {
  padding-top: 58px;
}
#production p {
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding-top: 24px;
}
#production .images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 72px;
}

#certificates {
  padding-bottom: 55px;
}
#certificates h2 {
  padding-top: 59px;
}
#certificates p {
  text-align: center;
  font-size: 24px;
  padding-top: 23px;
  color: #363d4a;
}
#certificates .certificates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#certificates .certificates .certificate {
  margin-right: 50px;
  position: relative;
}
#certificates .certificates .certificate:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #37beef;
  opacity: 0.25;
}
#certificates .certificates .certificate:hover::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-image: url(../img/sprite.png);
  background-position: 0 -151px;
  background-repeat: no-repeat;
}
#certificates .certificates .certificate:last-child {
  margin-right: 0;
}

#consultation {
  background: url("../img/conslutation-bg.jpg");
  background-size: cover;
  padding-bottom: 88px;
}
#consultation h2 {
  padding-top: 64px;
}
#consultation form {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#consultation form input[type="tel"] {
  width: 300px;
  height: 56px;
  padding-left: 24px;
  font-family: "RobotoLight";
  font-size: 16px;
  color: #363d4a;
  background-color: #c5c6c7;
  border-radius: 4px;
  margin-right: 50px;
  border: none;
}
#consultation form input[type="submit"] {
  width: 300px;
  height: 56px;
  line-height: 52px;
  border: 2px solid #fff;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoCBold";
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
#consultation form input[type="submit"]:hover {
  border-color: #37beef;
  background-color: #37beef;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

#map {
  height: 200px;
}

footer .top {
  background-color: #363d4a;
}
footer .bottom {
  background-color: #2d333d;
}
footer .top-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 211px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .top-line .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 37px;
  color: #fff;
}
footer .top-line .left p:first-of-type {
  padding-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
}
footer .top-line .left p:last-child {
  padding-top: 16px;
  font-size: 12px;
}
footer .top-line .center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .top-line .center a {
  margin-right: 44px;
}
footer .top-line .center a:nth-child(3) {
  margin-right: 39px;
}
footer .top-line .center a:last-child {
  margin-right: 0;
}
footer .top-line .center .ytb {
  display: block;
  width: 35px;
  height: 24px;
  background-image: url(../img/sprite.png);
  background-position: 0 -226px;
  background-repeat: no-repeat;
}
footer .top-line .center .fb {
  display: block;
  width: 13px;
  height: 28px;
  background-image: url(../img/sprite.png);
  background-position: -55px -226px;
  background-repeat: no-repeat;
}
footer .top-line .center .vk {
  display: block;
  width: 33px;
  height: 19px;
  background-image: url(../img/sprite.png);
  background-position: -84px -225px;
  background-repeat: no-repeat;
}
footer .top-line .center .inst {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../img/sprite.png);
  background-position: -132px -225px;
  background-repeat: no-repeat;
}
footer .top-line .right {
  padding-top: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #fff;
  text-align: right;
}
footer .top-line .right p {
  white-space: pre-line;
}
footer .top-line .right p::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 18px;
  margin-left: -23px;
  background-image: url(../img/sprite.png);
  background-position: 0 -281px;
  background-repeat: no-repeat;
}
footer .top-line .right a {
  display: block;
  font-family: "RobotoRegular";
  font-size: 16px;
  color: #fff;
}
footer .top-line .right a:hover {
  text-decoration: none;
}
footer .top-line .right a:nth-child(2) {
  margin-top: 26px;
}
footer .top-line .right a:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -28px;
  background-image: url(../img/sprite.png);
  background-position: -25px -281px;
  background-repeat: no-repeat;
}
footer .top-line .right a:nth-child(3) {
  margin-top: 9px;
}
footer .top-line .right a:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 13px;
  margin-left: -24px;
  background-image: url(../img/sprite.png);
  background-position: -57px -281px;
  background-repeat: no-repeat;
}
footer .bottom-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #fff;
}
footer .bottom-line a {
  color: #fff;
}

.ui-widget.ui-widget-content {
  border: 1px solid #37beef;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 9px 0;
  font-family: "RobotoLight";
  font-size: 16px;
}

.ui-menu .ui-menu-item > div {
  padding: 5px 0 7px 0;
  background: none;
  margin: 0 0 4px 0;
  border: none;
  text-indent: 22px;
  color: #8d9094;
}
.ui-menu .ui-menu-item > div:hover {
  background-color: #37beef;
  color: #fff;
}

.ui-menu .ui-menu-item:last-child > div {
  margin-bottom: 0;
}

.ui-widget-content .ui-state-active {
  border: none;
  margin: 0;
}
