html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  background-color: #fafafa;
  text-align: center; }

.wrap {
  max-width: 1140px;
  margin: 0 auto;
  text-align: left; }

h2 {
  font-family: "MuseoSansCyrl700";
  font-size: 40px;
  color: #214955;
  text-align: center; }

h3 {
  font-family: "MuseoSansCyrl300";
  font-size: 28px;
  text-align: center;
  color: #214955; }

h4 {
  font-family: "OSSemibold";
  font-size: 18px;
  color: #f5f5f5; }

h5 {
  font-family: "MuseoSansCyrl500";
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2c3335; }

a {
  text-decoration: none; }

/* -------------------------------
  HEADER
  ----------------------------------*/
header {
  position: relative; }
  header .top-line {
    width: 100%;
    height: 124px;
    position: absolute;
    top: 0;
    position: fixed;
    background-color: #fafafa;
    z-index: 1; }
    header .top-line .logo {
      height: 48px;
      margin-top: 28px;
      display: inline-block;
      float: left; }
      header .top-line .logo p {
        font-family: "OSRegular";
        font-size: 12px;
        margin-top: 10px;
        color: #435f67; }
    header .top-line .top-menu {
      display: inline-block;
      float: right; }
      header .top-line .top-menu li {
        display: inline-block;
        padding-top: 28px;
        margin-right: 41px; }
        header .top-line .top-menu li:last-child {
          margin-right: 0; }
        header .top-line .top-menu li:hover {
          padding-top: 23px;
          border-top: 5px solid #d51c35; }
        header .top-line .top-menu li a {
          font-family: "OSSemibold";
          text-transform: uppercase; }
        header .top-line .top-menu li a {
          color: #2c3335; }
          header .top-line .top-menu li a:visited {
            color: #2c3335; }
          header .top-line .top-menu li a:hover {
            color: #2c3335; }
          header .top-line .top-menu li a:active {
            color: #2c3335; }
    header .top-line .call {
      height: 32px;
      display: inline-block;
      margin-top: 20px;
      text-align: right;
      float: right; }
      header .top-line .call a {
        font-family: "OSRegular";
        display: inline-block;
        font-size: 13px;
        padding-right: 18px;
        line-height: 32px;
        border-radius: 20px; }
        header .top-line .call a:first-child {
          border: 1px solid #ea2528;
          background-color: #fff;
          color: #dd070a;
          margin-right: 15px;
          padding-left: 41px; }
          header .top-line .call a:first-child:before {
            content: "";
            position: absolute;
            margin-left: -35px;
            width: 30px;
            height: 30px;
            background-image: url(../img/sprite.png);
            background-position: 0 0;
            background-repeat: no-repeat; }
          header .top-line .call a:first-child:hover {
            background-color: #ea2528;
            color: #ffffff;
            -webkit-transition: 0.5s;
                    transition: 0.5s; }
            header .top-line .call a:first-child:hover:before {
              width: 30px;
              height: 30px;
              background-image: url(../img/sprite.png);
              background-position: -182px 0;
              background-repeat: no-repeat; }
        header .top-line .call a:nth-child(2) {
          background-color: #fff;
          color: #ea2528;
          border: 1px solid #ea2528;
          padding-left: 38px;
          margin-right: 45px; }
          header .top-line .call a:nth-child(2):before {
            content: "";
            position: absolute;
            margin-left: -35px;
            margin-top: 2px;
            width: 30px;
            height: 30px;
            background-image: url(../img/sprite.png);
            background-position: -238px 0;
            background-repeat: no-repeat; }
          header .top-line .call a:nth-child(2):hover {
            background-color: #ea2528;
            color: #fff;
            -webkit-transition: 0.5s;
                    transition: 0.5s; }
            header .top-line .call a:nth-child(2):hover:before {
              background-image: url(../img/sprite.png);
              background-position: -58px 0;
              background-repeat: no-repeat; }
      header .top-line .call p {
        font-family: "OSSemibold";
        font-size: 21px;
        padding-top: 7px;
        color: #de1c26;
        display: inline-block; }
        header .top-line .call p:before {
          content: "";
          position: absolute;
          margin-left: -32px;
          margin-top: -10px;
          width: 30px;
          height: 40px;
          background-image: url(../img/sprite.png);
          background-position: -120px 0;
          background-repeat: no-repeat; }
  header .sticky {
    display: none;
    position: absolute;
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: #fafafa;
    -ms-box-shadow: 0 4px 10px 0 rgba(162, 162, 162, 0.6);
    -o-box-shadow: 0 4px 10px 0 rgba(162, 162, 162, 0.6);
    box-shadow: 0 4px 10px 0 rgba(162, 162, 162, 0.6); }
    header .sticky .logo {
      float: left;
      display: inline-block;
      line-height: 60px; }
      header .sticky .logo img {
        padding-top: 8px; }
    header .sticky .menu {
      width: 590px;
      margin-left: 100px;
      float: left; }
      header .sticky .menu .top {
        border-bottom: 1px solid #cdcdcd; }
        header .sticky .menu .top li {
          display: inline-block;
          margin-right: 16px;
          padding-top: 5px; }
          header .sticky .menu .top li:hover {
            padding-top: 0;
            border-top: 5px solid #d51c35; }
          header .sticky .menu .top li:last-child {
            margin-right: 0; }
          header .sticky .menu .top li a {
            display: block;
            font-family: "OSSemibold";
            font-size: 11px;
            color: #a4a4a4;
            text-transform: uppercase;
            padding: 9px 0; }
      header .sticky .menu .bottom li {
        display: inline-block;
        margin-right: 40px; }
        header .sticky .menu .bottom li:last-child {
          margin-right: 0; }
        header .sticky .menu .bottom li a {
          display: block;
          font-family: "OSSemibold";
          font-size: 9px;
          color: #2c3335;
          text-transform: uppercase;
          letter-spacing: 0.75px; }
          header .sticky .menu .bottom li a:hover {
            color: #de1c26; }
    header .sticky .call {
      height: 32px;
      display: inline-block;
      margin-top: 15px;
      text-align: right;
      float: right; }
      header .sticky .call p:first-child {
        font-family: "OSSemibold";
        font-size: 21px;
        color: #de1c26;
        display: inline-block; }
        header .sticky .call p:first-child:before {
          content: "";
          position: absolute;
          margin-left: -32px;
          margin-top: -10px;
          width: 30px;
          height: 40px;
          background-image: url(../img/sprite.png);
          background-position: -120px 0;
          background-repeat: no-repeat; }
      header .sticky .call a {
        display: block;
        font-family: "OSSemibold";
        font-size: 10px;
        color: #717577;
        padding-top: 6px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer; }
        header .sticky .call a:hover {
          text-decoration: underline; }
  header .sticky.active {
    display: block; }
  header .services {
    width: 100%;
    height: 470px;
    margin-top: 124px;
    background: url(../img/header-grid.png) repeat, url(../img/header-bg.png) no-repeat;
    background-size: 100%,cover; }
    header .services .serv-menu {
      padding: 24px 0 0 42px; }
      header .services .serv-menu li {
        width: 185px;
        display: inline-block;
        margin-right: 92px; }
        header .services .serv-menu li a {
          font-family: "OSSemibold";
          font-size: 11px;
          line-height: 24px;
          letter-spacing: 1.4px;
          text-transform: uppercase; }
          header .services .serv-menu li a:hover {
            text-decoration: underline; }
          header .services .serv-menu li a:before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            margin-left: -30px;
            background-image: url(../img/sprite.png);
            background-position: 0 -50px;
            background-repeat: no-repeat; }
        header .services .serv-menu li a {
          color: #e7e7e7; }
          header .services .serv-menu li a:visited {
            color: #e7e7e7; }
          header .services .serv-menu li a:hover {
            color: #e7e7e7; }
          header .services .serv-menu li a:active {
            color: #e7e7e7; }
        header .services .serv-menu li:nth-child(4), header .services .serv-menu li:last-child {
          margin-right: 0; }

/* -------------------------------
 WHAT-WE-DO
 ----------------------------------*/
.what-we-do {
  background-color: #fafafa;
  padding-bottom: 90px; }
  .what-we-do h2 {
    padding-top: 75px; }
    .what-we-do h2:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -35px;
      margin-top: 96px;
      width: 70px;
      height: 4px;
      background-color: #f4373e; }
  .what-we-do h3 {
    text-align: center; }
  .what-we-do .services {
    margin-top: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .what-we-do .services .serv-item {
      width: 263px;
      height: 428px;
      position: relative;
      background-color: #fff;
      -ms-box-shadow: 0 0 16px 2px #f4f4f4;
      -o-box-shadow: 0 0 16px 2px #f4f4f4;
      box-shadow: 0 0 16px 2px #f4f4f4;
      -webkit-transition: 0.2s;
              transition: 0.2s;
      cursor: pointer; }
      .what-we-do .services .serv-item:hover a {
        -webkit-transition: 0.2s;
                transition: 0.2s;
        background-color: #536b72;
        color: #fff; }
      .what-we-do .services .serv-item:nth-child(2) .img {
        background-image: url(../img/sprite.png);
        background-position: -205px -114px;
        background-repeat: no-repeat; }
      .what-we-do .services .serv-item:nth-child(3) .img {
        background-image: url(../img/sprite.png);
        background-position: -415px -118px;
        background-repeat: no-repeat; }
      .what-we-do .services .serv-item:nth-child(4) .img {
        background-image: url(../img/sprite.png);
        background-position: -650px -114px;
        background-repeat: no-repeat; }
      .what-we-do .services .serv-item .img {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 50%;
        margin-left: -60px;
        background-image: url(../img/sprite.png);
        background-position: 0 -122px;
        background-repeat: no-repeat; }
      .what-we-do .services .serv-item h5 {
        padding-top: 158px;
        text-align: center;
        white-space: pre-line; }
      .what-we-do .services .serv-item p {
        font-family: "MuseoSansCyrl300";
        white-space: pre-line;
        text-align: center;
        letter-spacing: .25px; }
        .what-we-do .services .serv-item p:first-of-type {
          padding-top: 26px; }
      .what-we-do .services .serv-item a {
        width: 190px;
        height: 46px;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        text-align: center;
        vertical-align: bottom;
        margin: 0 0 30px -93px;
        background-color: #f5f5f5;
        border-radius: 30px;
        font-family: "MuseoSansCyrl300";
        font-size: 13px;
        line-height: 21px;
        letter-spacing: .25px;
        white-space: pre-line;
        color: #2c3335; }
  .what-we-do .btn {
    width: 296px;
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 55px auto 0 auto;
    background-color: #536b72;
    border-radius: 30px;
    text-align: center;
    font-family: "MuseoSansCyrl700";
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: 0.2s;
            transition: 0.2s; }
    .what-we-do .btn:hover {
      -webkit-transition: 0.2s;
              transition: 0.2s;
      background-color: #f4373e; }

/* -------------------------------
WHY-WE
----------------------------------*/
.why-we {
  width: 100%;
  height: 480px;
  background: url(../img/why-we-grid.png) repeat, url(../img/why-we-bg.png) no-repeat;
  background-size: 100%,cover; }
  .why-we h2 {
    padding-top: 80px;
    color: #f1f1f1; }
    .why-we h2:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -35px;
      margin-top: 65px;
      width: 70px;
      height: 4px;
      background-color: #f4373e; }
  .why-we h4:nth-of-type(2) {
    padding-top: 56px; }
  .why-we p {
    display: block;
    font-family: "OSLight";
    color: #f5f5f5;
    white-space: pre-line;
    letter-spacing: 0.7px;
    padding-top: 15px; }
    .why-we p:before {
      content: "";
      position: absolute;
      width: 80px;
      height: 60px;
      margin: -45px 0 0 -107px;
      background-image: url(../img/sprite.png);
      background-position: 0 -300px;
      background-repeat: no-repeat; }
  .why-we .left, .why-we .right {
    float: left;
    margin-top: 90px; }
  .why-we .left {
    margin: 90px 167px 0 106px; }

/* -------------------------------
  PROMOTION
  ----------------------------------*/
.promotion {
  padding-bottom: 76px; }
  .promotion h2 {
    padding-top: 78px; }
    .promotion h2:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -35px;
      margin-top: 115px;
      width: 70px;
      height: 4px;
      background-color: #f4373e; }
  .promotion h3 {
    padding-top: 20px; }
  .promotion .works {
    margin-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 30px; }
    .promotion .works .work-item {
      text-align: center; }
      .promotion .works .work-item p {
        display: block;
        font-family: "MuseoSansCyrl300";
        font-size: 16px;
        color: #2c3335;
        white-space: pre-line;
        line-height: 22px; }
      .promotion .works .work-item .circle {
        width: 67px;
        height: 67px;
        margin: 0 auto 20px auto;
        background-color: #f4373e;
        border-radius: 50%; }
      .promotion .works .work-item:nth-child(1) .circle {
        background-image: url(../img/sprite.png);
        background-position: -1px -418px;
        background-repeat: no-repeat; }
      .promotion .works .work-item:nth-child(2) .circle {
        background-image: url(../img/sprite.png);
        background-position: -113px -418px;
        background-repeat: no-repeat; }
      .promotion .works .work-item:nth-child(3) .circle {
        background-image: url(../img/sprite.png);
        background-position: -228px -418px;
        background-repeat: no-repeat; }
      .promotion .works .work-item:nth-child(4) .circle {
        background-image: url(../img/sprite.png);
        background-position: -334px -418px;
        background-repeat: no-repeat; }
      .promotion .works .work-item:nth-child(5) .circle {
        background-image: url(../img/sprite.png);
        background-position: -444px -418px;
        background-repeat: no-repeat; }
      .promotion .works .work-item:nth-child(6) .circle {
        background-image: url(../img/sprite.png);
        background-position: -556px -418px;
        background-repeat: no-repeat; }
      .promotion .works .work-item .desc {
        position: absolute;
        width: 476px;
        height: 140px;
        margin-top: 20px;
        z-index: 1;
        background-color: #fff;
        -ms-box-shadow: 0 -1px 15px 0 #4b5356;
        -o-box-shadow: 0 -1px 15px 0 #4b5356;
        box-shadow: 0 -1px 15px 0 #4b5356;
        display: none; }
        .promotion .works .work-item .desc .triangle {
          content: "";
          position: absolute;
          margin-left: 30px;
          margin-top: -13px;
          z-index: 20;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 13px solid #fff; }
        .promotion .works .work-item .desc p:first-of-type {
          font-family: "MuseoSansCyrl700";
          font-size: 15px;
          color: #2c3335;
          text-transform: uppercase;
          padding: 25px 0 13px 18px;
          text-align: left; }
        .promotion .works .work-item .desc p:last-of-type {
          font-family: "MuseoSansCyrl300";
          font-size: 15px;
          padding-left: 18px;
          color: #2c3335;
          text-align: left; }
      .promotion .works .work-item:hover .desc {
        display: block; }
    .promotion .works .work-item:nth-child(5) .desc,
    .promotion .works .work-item:last-child .desc {
      margin-left: -320px;
      display: none; }
      .promotion .works .work-item:nth-child(5) .desc .triangle,
      .promotion .works .work-item:last-child .desc .triangle {
        margin-left: 400px; }
      .promotion .works .work-item:nth-child(5) .desc p:first-of-type,
      .promotion .works .work-item:last-child .desc p:first-of-type {
        padding: 20px 0 13px 18px; }
    .promotion .works .work-item:nth-child(5):hover .desc,
    .promotion .works .work-item:last-child:hover .desc {
      display: block; }
  .promotion .tariffs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 95px;
    padding: 0 111px; }
    .promotion .tariffs .tariff-item {
      width: 276px;
      height: 474px;
      text-align: center;
      overflow: hidden;
      background: -webkit-linear-gradient(bottom, #8f3134, #e6343b);
      background: linear-gradient(to top, #8f3134, #e6343b);
      transiton: 0.2s;
      cursor: pointer; }
      .promotion .tariffs .tariff-item:hover a.btn {
        transiton: 0.2s;
        background-color: #f8f8f8;
        color: #ad3237; }
      .promotion .tariffs .tariff-item:nth-child(2) .best {
        width: 200px;
        height: 32px;
        line-height: 32px;
        background-color: #11728f;
        -ms-box-shadow: inset 0 0 5px 2px #1d1c3f;
        -o-box-shadow: inset 0 0 5px 2px #1d1c3f;
        box-shadow: inset 0 0 5px 2px #1d1c3f;
        font-family: "MuseoSansCyrl700";
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        -webkit-transform: rotate(45deg) translate(115px, -90px);
            -ms-transform: rotate(45deg) translate(115px, -90px);
                transform: rotate(45deg) translate(115px, -90px);
        letter-spacing: 0.5px; }
      .promotion .tariffs .tariff-item:nth-child(2) h4 {
        padding-top: 12px; }
      .promotion .tariffs .tariff-item:nth-child(3) p:first-of-type {
        padding-bottom: 25px; }
      .promotion .tariffs .tariff-item h4 {
        font-family: "BloggerSans";
        color: #f7f7f7;
        letter-spacing: .5px;
        padding-top: 44px;
        text-transform: uppercase; }
      .promotion .tariffs .tariff-item h3 {
        font-family: "BloggerSans";
        font-size: 26px;
        letter-spacing: -0.75px;
        padding-top: 34px;
        color: #f8f8f8; }
        .promotion .tariffs .tariff-item h3 span {
          font-family: "MuseoSansCyrl500Italic";
          font-size: 16px; }
      .promotion .tariffs .tariff-item p:first-of-type {
        font-family: "MuseoSansCyrl500";
        font-size: 14px;
        color: #ffffff;
        padding: 25px 0 45px 0;
        text-align: center;
        white-space: pre-line;
        line-height: 20px;
        letter-spacing: 0.25px; }
        .promotion .tariffs .tariff-item p:first-of-type:before {
          display: none; }
      .promotion .tariffs .tariff-item p {
        font-family: "BloggerSans";
        font-size: 14px;
        padding-left: 30px;
        text-align: left;
        color: #781e22;
        line-height: 24px;
        letter-spacing: 0.4px; }
        .promotion .tariffs .tariff-item p:before {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          margin-left: -47px;
          margin-top: -7px;
          background-image: url(../img/sprite.png);
          background-position: 0 -490px;
          background-repeat: no-repeat; }
      .promotion .tariffs .tariff-item a.btn {
        width: 114px;
        height: 33px;
        display: block;
        border: 2px solid #f8f8f8;
        margin: 50px auto 42px auto;
        color: #f8f8f8;
        line-height: 33px;
        font-family: "BloggerSans";
        font-size: 16px;
        letter-spacing: 0.5px;
        border-radius: 20px; }
      .promotion .tariffs .tariff-item a.desc {
        font-family: "MuseoSansCyrl500";
        font-size: 14px;
        color: #4f090c;
        letter-spacing: 0.4px; }
        .promotion .tariffs .tariff-item a.desc:hover {
          text-decoration: underline; }
  .promotion a.btn-all {
    display: block;
    width: 289px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    margin: 62px auto 0 auto;
    border: 4px solid #c93339;
    border-radius: 40px;
    font-family: "MuseoSansCyrl700";
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #c93339;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
            transition: 0.2s; }
    .promotion a.btn-all:hover {
      -webkit-transition: 0.2s;
              transition: 0.2s;
      background-color: #c93339;
      color: #f8f8f8; }

/* -------------------------------
  BEST-WORKS
  ----------------------------------*/
.best-works {
  height: 730px;
  background-color: #1d2e37; }
  .best-works h2 {
    padding-top: 75px;
    color: #a0a2a3; }
    .best-works h2:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -35px;
      margin-top: 64px;
      width: 70px;
      height: 4px;
      background-color: #f4373e; }
  .best-works .left,
  .best-works .right {
    float: left;
    margin-top: 103px; }
    .best-works .left h5,
    .best-works .right h5 {
      font-family: "BloggerSansLight";
      color: #cfcfcf;
      display: inline-block;
      letter-spacing: 0.3px;
      padding-top: 50px;
      text-transform: none; }
      .best-works .left h5:first-child,
      .best-works .right h5:first-child {
        padding-top: 0; }
      .best-works .left h5:before,
      .best-works .right h5:before {
        content: "";
        position: absolute;
        margin-top: -5px;
        margin-left: -70px;
        width: 60px;
        height: 60px; }
    .best-works .left p,
    .best-works .right p {
      font-family: "BloggerSansLight";
      padding-top: 13px;
      font-size: 16px;
      color: #6f797f;
      white-space: pre-line;
      letter-spacing: 0.3px; }
  .best-works .left {
    margin: 103px 165px 0 57px; }
    .best-works .left h5:first-of-type:before {
      background-image: url(../img/sprite.png);
      background-position: 0 -550px;
      background-repeat: no-repeat; }
    .best-works .left h5:nth-of-type(2):before {
      background-image: url(../img/sprite.png);
      background-position: -105px -550px;
      background-repeat: no-repeat; }
    .best-works .left h5:nth-of-type(3):before {
      background-image: url(../img/sprite.png);
      background-position: -227px -548px;
      background-repeat: no-repeat; }
    .best-works .left h5:last-of-type:before {
      background-image: url(../img/sprite.png);
      background-position: -320px -548px;
      background-repeat: no-repeat; }
  .best-works .right {
    max-width: 494px; }
    .best-works .right h5:first-of-type:before {
      background-image: url(../img/sprite.png);
      background-position: -448px -552px;
      background-repeat: no-repeat; }
    .best-works .right h5:nth-of-type(2):before {
      background-image: url(../img/sprite.png);
      background-position: -558px -550px;
      background-repeat: no-repeat; }
    .best-works .right h5:nth-of-type(3):before {
      background-image: url(../img/sprite.png);
      background-position: -674px -555px;
      background-repeat: no-repeat; }
    .best-works .right h5:last-of-type:before {
      background-image: url(../img/sprite.png);
      background-position: -763px -555px;
      background-repeat: no-repeat; }

/* -------------------------------
  CLIENTAGE
  ----------------------------------*/
.clientage {
  height: 768px;
  background-color: #fff; }
  .clientage h2 {
    padding-top: 100px;
    color: #214955; }
    .clientage h2:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -35px;
      margin-top: 63px;
      width: 70px;
      height: 4px;
      background-color: #f4373e; }
  .clientage table {
    margin: 73px auto 0 auto; }
    .clientage table tr:first-child td {
      border-top: none; }
    .clientage table tr:last-child td {
      border-bottom: none; }
    .clientage table tr td:first-child {
      border-left: none; }
    .clientage table tr td:last-child {
      border-right: none; }
    .clientage table tr:first-child td:first-child {
      background: url("../img/img1.jpg") no-repeat 0 0;
      background-position: -10% 50%; }
    .clientage table tr:first-child td:nth-child(2) {
      background: url("../img/img2.jpg") no-repeat 0 0;
      background-position: -25% 50%; }
    .clientage table tr:first-child td:nth-child(3) {
      background: url("../img/img3.jpg") no-repeat 0 0;
      background-position: -42% 50%; }
    .clientage table tr:first-child td:nth-child(4) {
      background: url("../img/img4.jpg") no-repeat 0 0;
      background-position: -8% 50%; }
    .clientage table tr:first-child td:nth-child(5) {
      background: url("../img/img5.jpg") no-repeat 0 0;
      background-position: -6% 50%; }
    .clientage table tr:nth-child(2) td:nth-child(1) {
      background: url("../img/img6.jpg") no-repeat 0 0;
      background-position: -10% 50%; }
    .clientage table tr:nth-child(2) td:nth-child(2) {
      background: url("../img/img7.jpg") no-repeat 0 0;
      background-position: -10% 50%; }
    .clientage table tr:nth-child(2) td:nth-child(3) {
      background: url("../img/img8.jpg") no-repeat 0 0;
      background-position: -5% 50%; }
    .clientage table tr:nth-child(2) td:nth-child(4) {
      background: url("../img/img9.jpg") no-repeat 0 0;
      background-position: -10% 50%; }
    .clientage table tr:nth-child(2) td:nth-child(5) {
      background: url("../img/img10.jpg") no-repeat 0 0;
      background-position: -40% 50%; }
    .clientage table tr:nth-child(3) td:nth-child(1) {
      background: url("../img/img11.jpg") no-repeat 0 0;
      background-position: -25% 50%; }
    .clientage table tr:nth-child(3) td:nth-child(2) {
      background: url("../img/img12.jpg") no-repeat 0 0;
      background-position: -3% 50%; }
    .clientage table tr:nth-child(3) td:nth-child(3) {
      background: url("../img/img13.jpg") no-repeat 0 0;
      background-position: -8% 50%; }
    .clientage table tr:nth-child(3) td:nth-child(4) {
      background: url("../img/img14.jpg") no-repeat 0 0;
      background-position: 0 50%; }
    .clientage table tr:nth-child(3) td:nth-child(5) {
      background: url("../img/img15.jpg") no-repeat 0 0;
      background-position: -20% 50%; }
    .clientage table tr:first-child td:first-child:hover {
      background-position: 110% 50%; }
    .clientage table tr:first-child td:nth-child(2):hover {
      background-position: -263px 50%; }
    .clientage table tr:first-child td:nth-child(3):hover {
      background-position: -163px 50%; }
    .clientage table tr:first-child td:nth-child(4):hover {
      background-position: -296px 50%; }
    .clientage table tr:first-child td:nth-child(5):hover {
      background-position: -299px 50%; }
    .clientage table tr:nth-child(2) td:nth-child(1):hover {
      background-position: -260px 50%; }
    .clientage table tr:nth-child(2) td:nth-child(2):hover {
      background-position: -276px 50%; }
    .clientage table tr:nth-child(2) td:nth-child(3):hover {
      background-position: -300px 50%; }
    .clientage table tr:nth-child(2) td:nth-child(4):hover {
      background-position: -256px 50%; }
    .clientage table tr:nth-child(2) td:nth-child(5):hover {
      background-position: -176px 50%; }
    .clientage table tr:nth-child(3) td:nth-child(1):hover {
      background-position: 129% 50%; }
    .clientage table tr:nth-child(3) td:nth-child(2):hover {
      background-position: -292px 50%; }
    .clientage table tr:nth-child(3) td:nth-child(3):hover {
      background-position: 108% 50%; }
    .clientage table tr:nth-child(3) td:nth-child(4):hover {
      background-position: -289px 50%; }
    .clientage table tr:nth-child(3) td:nth-child(5):hover {
      background-position: -222px 50%; }
    .clientage table td {
      width: 226px;
      height: 168px;
      line-height: 168px;
      text-align: center;
      border: 1px solid #d8d8d8; }
      .clientage table td img {
        vertical-align: middle; }

/* -------------------------------
  READY
  ----------------------------------*/
.ready {
  width: 100%;
  height: 537px;
  background: url(../img/ready-grid.png) repeat, url(../img/ready-bg.png) no-repeat;
  background-size: 100%,cover; }
  .ready h2 {
    font-family: "OSBold";
    font-size: 38px;
    color: #ececec;
    text-align: left;
    padding-top: 85px;
    text-transform: uppercase; }
  .ready form {
    margin-top: 50px; }
  .ready input[type="text"],
  .ready input[type="tel"],
  .ready input[type="email"] {
    width: 263px;
    display: inline-block;
    padding: 13px 0 13px 12px;
    margin-right: 9px;
    background-color: #ececec;
    border: none;
    font-family: "OSRegular";
    font-size: 11px;
    text-transform: uppercase;
    color: #536b72;
    outline: none; }
  .ready input:invalid {
    width: 259px;
    padding: 11px 0 11px 12px;
    border: 2px solid #c93339; }
  .ready input[name="address"] {
    margin-right: 0; }
  .ready label:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 40px;
    margin-left: 220px;
    margin-top: -5px;
    background-image: url(../img/sprite.png);
    background-position: 0 -650px;
    background-repeat: no-repeat; }
  .ready label:nth-of-type(2):after {
    background-image: url(../img/sprite.png);
    background-position: -68px -650px;
    background-repeat: no-repeat; }
  .ready label:nth-of-type(3):after {
    margin-top: -2px;
    background-image: url(../img/sprite.png);
    background-position: -135px -650px;
    background-repeat: no-repeat; }
  .ready label:last-of-type:after {
    background-image: url(../img/sprite.png);
    background-position: -205px -650px;
    background-repeat: no-repeat; }
  .ready ::-webkit-input-placeholder {
    font-family: "OSRegular";
    font-size: 11px;
    text-transform: uppercase;
    color: #536b72; }
  .ready ::-moz-placeholder {
    font-family: "OSRegular";
    font-size: 11px;
    text-transform: uppercase;
    color: #536b72; }
  .ready :-moz-placeholder {
    font-family: "OSRegular";
    font-size: 11px;
    text-transform: uppercase;
    color: #536b72; }
  .ready :-ms-input-placeholder {
    font-family: "OSRegular";
    font-size: 11px;
    text-transform: uppercase;
    color: #536b72; }
  .ready p.desc {
    font-family: "OSRegular";
    font-size: 13px;
    color: #fff;
    padding: 20px 0 30px 30px; }
    .ready p.desc:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      margin: -22px 0 0 -30px;
      background-image: url(../img/sprite.png);
      background-position: -300px -650px;
      background-repeat: no-repeat; }
  .ready textarea {
    width: 820px;
    height: 159px;
    float: left;
    padding: 26px 0 0 13px;
    resize: none;
    font-family: "OSRegular";
    font-size: 11px;
    text-transform: uppercase;
    color: #536b72; }
  .ready .right {
    float: right; }
    .ready .right p:first-of-type {
      font-family: "OSSemibold";
      font-size: 13px;
      text-transform: uppercase;
      color: #fff; }
      .ready .right p:first-of-type:after {
        display: none; }
    .ready .right p:last-of-type {
      padding-top: 10px;
      font-family: "OSRegular";
      font-size: 13px;
      white-space: pre-line;
      line-height: 20px;
      color: #fff; }
      .ready .right p:last-of-type:after {
        display: none; }
    .ready .right .file_input_div {
      position: relative;
      display: inline-block;
      width: 108px;
      height: 21px;
      margin-top: 20px;
      overflow: hidden;
      border-bottom: 2px dotted #f4373e;
      -webkit-transition: 0.2s;
              transition: 0.2s; }
      .ready .right .file_input_div:hover {
        -webkit-transition: 0.2s;
                transition: 0.2s;
        border-color: transparent; }
    .ready .right .file_input_button {
      position: absolute;
      top: 0;
      left: -7px;
      font-family: "OSRegular";
      font-size: 13px;
      background-color: transparent;
      text-transform: uppercase;
      color: #f4373e;
      border: none; }
    .ready .right .file_input_hidden {
      font-size: 45px;
      position: absolute;
      right: 0px;
      top: 0px;
      opacity: 0;
      filter: alpha(opacity=0);
      -ms-filter: "alpha(opacity=0)";
      -khtml-opacity: 0;
      -moz-opacity: 0;
      cursor: pointer; }
    .ready .right input[type="submit"] {
      display: block;
      width: 280px;
      height: 60px;
      margin-top: 20px;
      background-color: #536b72;
      border: none;
      border-radius: 30px;
      font-family: "MuseoSansCyrl700";
      font-size: 18px;
      color: #fff;
      line-height: 60px;
      cursor: pointer;
      text-transform: uppercase;
      -webkit-transition: 0.2s;
              transition: 0.2s; }
      .ready .right input[type="submit"]:hover {
        -webkit-transition: 0.2s;
                transition: 0.2s;
        background-color: #e6363d; }

/* -------------------------------
FOOTER
----------------------------------*/
footer {
  position: relative;
  height: 332px;
  background-color: #1d2e37;
  padding-top: 48px; }
  footer table tr:nth-child(7) td {
    padding-bottom: 0; }
  footer table td {
    padding-bottom: 7px; }
    footer table td:first-child {
      padding-right: 85px; }
    footer table td:nth-child(2) {
      padding-right: 110px; }
    footer table td:nth-child(3) {
      padding-right: 100px; }
    footer table td a {
      font-family: "MuseoSansCyrl300";
      font-size: 13px;
      color: #f1f1f1;
      letter-spacing: 0.25px; }
      footer table td a:hover {
        text-decoration: underline; }
    footer table td a.underline {
      text-transform: uppercase;
      text-decoration: underline;
      line-height: 28px; }
      footer table td a.underline:hover {
        text-decoration: none; }
  footer .copyright {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: #1a252c;
    color: #556067; }
    footer .copyright p {
      padding: 20px 0 10px 0;
      font-family: "MuseoSansCyrl300"; }
    footer .copyright a {
      font-family: "MuseoSansCyrl300";
      font-size: 13px;
      color: #556067;
      letter-spacing: 0.25px;
      text-decoration: underline; }
      footer .copyright a:first-of-type {
        margin-right: 20px; }
      footer .copyright a:hover {
        text-decoration: none; }

/* -------------------------------
MODAL FORM
----------------------------------*/
#modal_form {
  width: 275px;
  height: 419px;
  border-radius: 5px;
  background: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -192px;
  margin-left: -165px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 35px 26px 30px 26px;
  text-align: left; }
  #modal_form h4 {
    font-family: "MuseoSansCyrl700";
    font-size: 20px;
    color: #143e50;
    text-transform: uppercase; }
    #modal_form h4:before {
      content: "";
      position: absolute;
      width: 147px;
      height: 4px;
      background-color: #f4373e;
      margin-top: 25px; }
  #modal_form p:first-of-type {
    font-family: "MuseoSansCyrl300";
    font-size: 16px;
    color: #143e50;
    padding-top: 30px;
    white-space: pre-line; }
  #modal_form form input {
    width: 268px;
    height: 40px;
    border: 1px solid #adbbc1;
    margin-top: 40px;
    padding-left: 11px;
    font-family: "OSRegular";
    font-size: 12px;
    color: #536b72;
    text-transform: uppercase;
    outline: none; }
    #modal_form form input:nth-of-type(2) {
      margin-top: 14px; }
  #modal_form form input:invalid {
    width: 266px;
    height: 38px;
    border: 2px solid #f4373e; }
  #modal_form form label:first-of-type:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    margin-top: 35px;
    margin-left: 220px;
    background-image: url(../img/sprite.png);
    background-position: -68px -650px;
    background-repeat: no-repeat; }
  #modal_form form label:last-of-type:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    margin-top: 10px;
    margin-left: 220px;
    background-image: url(../img/sprite.png);
    background-position: 0 -650px;
    background-repeat: no-repeat; }
  #modal_form form textarea {
    width: 268px;
    height: 30px;
    margin-top: 14px;
    resize: none;
    padding: 18px 0 20px 11px;
    white-space: pre-line;
    text-align: left;
    border: 1px solid #adbbc1;
    font-family: "OSRegular";
    font-size: 11px;
    color: #536b72;
    text-transform: uppercase;
    outline: none; }
  #modal_form form p:last-of-type {
    width: 270px;
    font-family: "OSRegular";
    font-size: 13px;
    padding: 12px 0 0 27px;
    color: #f4373e;
    white-space: pre-line;
    line-height: 16px; }
    #modal_form form p:last-of-type:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      margin-left: -27px;
      background: url("../img/info.png") no-repeat 0 0; }
  #modal_form form input[type="submit"] {
    width: 274px;
    height: 44px;
    margin-top: 15px;
    border: none;
    background-color: #20495b;
    border-radius: 30px;
    color: #fff;
    font-family: "MuseoSansCyrl700";
    font-size: 16px;
    letter-spacing: 0.25px;
    cursor: pointer; }
    #modal_form form input[type="submit"]:hover {
      transiton: 0.2s;
      background-color: #e6363d; }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #3b4c51;
  opacity: 0.76;
  -moz-opacity: 0.76;
  filter: alpha(opacity=76);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

#modal2_form {
  width: 652px;
  height: 376px;
  padding: 37px 26px 36px 24px;
  background-color: #fafafa;
  border-radius: 5px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -180px;
  margin-left: -351px;
  display: none;
  opacity: 0;
  z-index: 5;
  text-align: left; }
  #modal2_form h4 {
    font-family: "MuseoSansCyrl700";
    font-size: 20px;
    color: #143e50;
    text-transform: uppercase; }
    #modal2_form h4:before {
      content: "";
      position: absolute;
      width: 147px;
      height: 4px;
      background-color: #f4373e;
      margin-top: 25px; }
  #modal2_form p {
    font-family: "MuseoSansCyrl300";
    font-size: 16px;
    color: #143e50;
    padding-top: 30px;
    white-space: pre-line; }
  #modal2_form .left {
    display: inline-block; }
  #modal2_form input {
    display: block;
    width: 262px;
    height: 40px;
    padding-left: 11px;
    font-family: "OSRegular";
    font-size: 12px;
    color: #536b72;
    text-transform: uppercase;
    border: 1px solid #adbbc1;
    margin-top: 14px;
    outline: none; }
  #modal2_form input:first-of-type {
    margin-top: 30px; }
  #modal2_form input:invalid {
    width: 260px;
    height: 38px;
    border: 2px solid #f4373e; }
  #modal2_form label:first-of-type:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    margin-top: 28px;
    margin-left: 220px;
    background-image: url(../img/sprite.png);
    background-position: -68px -650px;
    background-repeat: no-repeat; }
  #modal2_form label:nth-of-type(2):after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    margin-top: 10px;
    margin-left: 220px;
    background-image: url(../img/sprite.png);
    background-position: 0 -650px;
    background-repeat: no-repeat; }
  #modal2_form label:last-of-type:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 40px;
    margin-top: 12px;
    margin-left: 219px;
    background-image: url(../img/sprite.png);
    background-position: -135px -650px;
    background-repeat: no-repeat; }
  #modal2_form textarea {
    width: 330px;
    height: 141px;
    display: inline-block;
    padding: 18px 0 0 11px;
    margin-top: 30px;
    float: right;
    resize: none;
    white-space: pre-line;
    border: 1px solid #adbbc1;
    font-family: "OSRegular";
    font-size: 11px;
    color: #536b72;
    text-transform: uppercase;
    outline: none; }
  #modal2_form p.desc {
    font-family: "OSRegular";
    font-size: 13px;
    padding: 25px 0 0 30px;
    color: #f4373e;
    white-space: pre-line;
    line-height: 16px; }
    #modal2_form p.desc:before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      margin-top: -5px;
      margin-left: -27px;
      background: url("../img/info.png") no-repeat 0 0; }
  #modal2_form input[type="submit"] {
    width: 274px;
    height: 44px;
    margin: 43px auto 0 auto;
    border: none;
    background-color: #20495b;
    border-radius: 30px;
    color: #fff;
    font-family: "MuseoSansCyrl700";
    font-size: 16px;
    letter-spacing: 0.25px;
    cursor: pointer;
    transiton: 0.2s; }
    #modal2_form input[type="submit"]:hover {
      transiton: 0.2s;
      background-color: #e6363d; }
