@font-face {
	font-family: "PTSansRegular";
	src: url("../fonts/PTSansRegular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PTSansBold";
	src: url("../fonts/PTSansBold.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MuseoSansCyrl700";
	src: url("../fonts/MuseoSansCyrl700.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MuseoSansCyrl500";
	src: url("../fonts/MuseoSansCyrl500.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MuseoSansCyrl300";
	src: url("../fonts/MuseoSansCyrl300.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "AgpalatianRoman";
	src: url("../fonts/AgpalatianRoman.ttf");
	font-style: normal;
	font-weight: normal;
}