html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "PTSansBold";
  font-size: 14px;
  box-sizing: padding-box;
  background: url("../img/background.png") no-repeat 50% 0 #d1d1d1; }

#wrapper {
  padding: 0 45px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  background-color: #fafafa; }

header {
  width: 1260px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 17px;
  background-color: #fafafa; }
  header .top {
    height: 130px; }
    header .top .logo {
      display: inline-block;
      position: relative;
      top: 6px; }
    header .top input[type="search"] {
      width: 427px;
      height: 38px;
      border: 1px solid #b1daff;
      padding-left: 19px;
      margin-left: 70px; }
      header .top input[type="search"]:-moz-placeholder, header .top input[type="search"]::-moz-placeholder {
        color: #000000;
        opacity: 1; }
      header .top input[type="search"]::-webkit-input-placeholder {
        color: #000000; }
    header .top label {
      width: 25px;
      height: 25px;
      background-image: url(../img/sprite.png);
      background-position: -75px 0;
      background-repeat: no-repeat;
      position: absolute;
      margin-top: 55px;
      margin-left: -39px;
      cursor: pointer; }
      header .top label:hover {
        background-image: url(../img/sprite.png);
        background-position: -111px 0;
        background-repeat: no-repeat; }
    header .top .right {
      display: inline-block;
      margin-left: 60px;
      vertical-align: bottom; }
      header .top .right ul li {
        display: inline-block;
        margin-top: 15px; }
        header .top .right ul li:first-child, header .top .right ul li:nth-child(2) {
          font-family: "PTSansRegular";
          font-size: 11px;
          color: #000000; }
        header .top .right ul li:first-child {
          margin-right: 16px; }
        header .top .right ul li:nth-child(4) a, header .top .right ul li:last-child a {
          text-decoration: none;
          color: #144570; }
          header .top .right ul li:nth-child(4) a:hover, header .top .right ul li:last-child a:hover {
            color: #8cb2d8; }
          header .top .right ul li:nth-child(4) a::before, header .top .right ul li:last-child a::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            margin-left: -23px; }
        header .top .right ul li:nth-child(4) a {
          margin-right: 60px; }
          header .top .right ul li:nth-child(4) a::before {
            background-image: url(../img/sprite.png);
            background-position: 0 0;
            background-repeat: no-repeat; }
        header .top .right ul li:last-child a::before {
          background-image: url(../img/sprite.png);
          background-position: -35px 0;
          background-repeat: no-repeat; }
    header .top .advertising,
    header .top .bookmarks {
      display: block;
      position: absolute;
      top: 40px;
      font-size: 14px;
      height: 38px;
      line-height: 38px;
      color: #fff;
      text-align: right;
      padding-right: 11px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      text-decoration: none; }
      header .top .advertising::before,
      header .top .bookmarks::before {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-left: 15px solid #fafafa; }
    header .top .advertising {
      width: 92px;
      top: 32px;
      right: 56px;
      background-color: #339edd; }
      header .top .advertising::before {
        left: -1px; }
      header .top .advertising::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 14px;
        left: 0;
        top: 50%;
        margin-top: -1px;
        background-color: #fafafa; }
    header .top .bookmarks {
      width: 107px;
      right: 0px;
      background-color: #ff9203; }
  header nav {
    width: 100%; }
    header nav .first-level {
      height: 45px;
      line-height: 45px;
      padding: 0 45px;
      background-color: #d4e9fc;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header nav .first-level li a {
        font-size: 15px;
        color: #3072ad;
        text-decoration: none;
        text-transform: uppercase; }
        header nav .first-level li a:hover {
          color: #78b9f4; }
    header nav .second-level {
      height: 65px;
      padding: 0 45px;
      background-color: #e5e8e8; }
      header nav .second-level li {
        display: inline-block;
        margin-left: -4px; }
        header nav .second-level li:first-child a::before {
          background-image: url(../img/sprite.png);
          background-position: 0 -48px;
          background-repeat: no-repeat;
          margin-left: -51px; }
        header nav .second-level li:nth-child(2) a::before {
          background-image: url(../img/sprite.png);
          background-position: -64px -48px;
          background-repeat: no-repeat;
          margin-left: -41px; }
        header nav .second-level li:nth-child(3) a::before {
          background-image: url(../img/sprite.png);
          background-position: -140px -48px;
          background-repeat: no-repeat;
          margin-left: -41px; }
        header nav .second-level li:nth-child(4) a::before {
          background-image: url(../img/sprite.png);
          background-position: -217px -48px;
          background-repeat: no-repeat;
          margin-left: -41px; }
        header nav .second-level li:nth-child(5) a::before {
          background-image: url(../img/sprite.png);
          background-position: -285px -47px;
          background-repeat: no-repeat;
          margin-left: -41px; }
        header nav .second-level li:nth-child(6) a::before {
          background-image: url(../img/sprite.png);
          background-position: -356px -48px;
          background-repeat: no-repeat;
          margin-left: -41px; }
        header nav .second-level li:nth-child(7) a {
          padding-left: 54px; }
          header nav .second-level li:nth-child(7) a::before {
            background-image: url(../img/sprite.png);
            background-position: -421px -47px;
            background-repeat: no-repeat;
            margin-left: -42px; }
        header nav .second-level li:nth-child(8) a {
          padding-right: 0; }
          header nav .second-level li:nth-child(8) a::before {
            background-image: url(../img/sprite.png);
            background-position: -492px -48px;
            background-repeat: no-repeat;
            margin-left: -38px; }
        header nav .second-level li a {
          display: block;
          height: 47px;
          background-color: #e5e8e8;
          padding: 18px 20px 0 52px;
          color: #acafb2;
          text-decoration: none;
          text-transform: uppercase; }
          header nav .second-level li a:hover {
            background-color: #c5d5e6; }
          header nav .second-level li a::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px; }

