@media screen and (max-width: 1260px) {
	#content {
		width: 100%;
	}
	#content #wrapper {
		padding: 0;
	}
	header {
		padding-bottom: 85px;
		overflow-y: hidden;
	}
	header .top input[type="search"] {
      width: 35%;
  	}
 	header nav .second-level {
 		height: 130px;
 		flex-wrap: wrap;
 		justify-content: space-around;
 	}
 	 header nav .second-level li:first-child {
        width: 200px; }
      header nav .second-level li:nth-child(2) {
        width: 170px; }
      header nav .second-level li:nth-child(3) {
        width: 170px; }
      header nav .second-level li:nth-child(4) {
        width: 170px; }
      header nav .second-level li:nth-child(5) {
        width: 170px; }
      header nav .second-level li:nth-child(6) {
        width: 170px; }
      header nav .second-level li:nth-child(7) {
        width: 170px; }
      header nav .second-level li:nth-child(8) {
        width: 170px; }

    #content .block-1 {
	    border: none;
	    text-align: center;
	}
	#content .block-1 .left-menu {
	    float: none;
	    display: inline-block;
	   	position: relative;
	   	bottom: 25px;
	   	text-align: left;
	   	border-top: 1px solid #c8cdd1;
	}
	#content .block-1 aside {
	    float: none;
	    width: 820px;
	    border: none;
	    margin: 0 auto;
	    text-align: left;
	    position: relative;
	}
	#content .block-1 .left {
		float: none;
		display: inline-block;
	}
	#content .block-1 aside span {
        font-size: 11px;
        position: static; }
    #content .block-1 aside .day::before,
    #content .block-1 aside .developments .time::before,
    #content .block-1 aside .discussing .day::before {
           top: auto;
    }
	#content .block-1 aside .day::before {
		left: 35px;
	}
	#content .block-1 .most-popular {
		float: none;
		display: inline-block;
		text-align: left;
		border-top: 1px solid #c8cdd1;
		border-right: 1px solid #c8cdd1;
		margin-left: -4px;
	}
	#content .block-1 aside .developments {
	    text-align: left;
	    margin: 0;
	    margin-bottom: 20px;
	}
	#content .block-1 aside .discussing {
	    margin: 0;
	    margin-bottom: 20px;
	    text-align: left;
	}
	#content .block-1 aside .subscribe {
		margin: 0;
		width: 275px;
	}
	#content .block-1 aside .banners {
	   margin: 0;
       position: absolute;
       right: 0;
       top: 0;
	}
	#content .block-2 {
		float: none;
		margin: 0 auto;
	}
	#content .block-2 .calendar {
	    margin: 21px auto 0 auto;
	}
	#content .block-2 .ask-question {
		width: 769px;
	    margin: 17px auto 0 auto;
	}
	#content .block-2 .qa {
	    margin: 0 auto;
	}
	#content .block-2 {
	    border-bottom: none;
	}
	#content .block-3 .left {
	    border: none;
	    float: none;
	    margin: 25px auto;
	    padding: 50px;
	}
	#content .block-3 > .right .last-articles {
	   margin: 0 auto;
	   float: none;
	}
	#content .block-3 > .right {
	   float: none;
	   margin: 0 auto;
	   border-bottom: none;
	}
	#content .block-3 > .right .fire {
	   display: none;
	}
	#content .blocks {
	    justify-content: space-between;
	}
	#content .bottom-menu {
	    text-align: center;
	}
	#content .bottom-menu li {
	    padding-top: 0;
	}
	footer .social-block-bottom {
	    display: none;
	}
	footer .bottom .social {
	    display: block;
	    margin-top: 20px;
	    margin-left: 0;
	}
	footer .bottom {
	    height: auto;
	    padding-bottom: 20px;
	    position: relative;
	}
	footer .bottom > .right {
	    position: absolute;
	    top: 50px;
	    right: 50px;
	}
	footer .menu li .block {
	    width: 95%;
	    height: 150px;
	    overflow-y: scroll;
	    left: 45%;
	    margin-left: -43%;
	    top: 13px;
	    position: absolute;
	    display: none;
	    padding: 0;
	    border: 3px solid #a1d2ff;
	    background-color: #fff;
	    font-family: "MuseoSansCyrl300";
	    font-size: 13px;
	    color: #000;
	    line-height: 24px;
	}

}
@media screen and (max-width: 1169px) {
	#content .bottom-menu {
	    text-align: center;
	    background-color: #d4e9fc;/* #144570 */
	}
	#content .blocks {
	    justify-content: space-around;
	}

	#content .blocks .block {
	    margin-right: 0;
	}
	#content .blocks .block:nth-child(1), #content .blocks .block:nth-child(2), #content .blocks .block:nth-child(3) {
	    margin-top: 25px;
	}
}

@media screen and (max-width: 1100px) {
	header .top .right {
      margin-left: 0;
      float: right;
      margin-top: 27px;
  	}
  	header .top .advertising,
    header .top .bookmarks {
    	display: none;
    }
}

@media screen and (max-width: 900px) {
	header {
		height: 355px;
	}
	header nav .first-level {
     	display: -webkit-flex;
     	display: -moz-flex;
     	display: -ms-flex;
     	display: -o-flex;
     	display: flex;
     	flex-wrap: wrap;
     	justify-content: space-around;
     	height: 90px;
  	}
  	header nav .first-level li {
     	margin-right: 20px;
  	}
  	header .top {
      height: 200px;
  	}
  	header .top input[type="search"] {
      width: 50%;
      margin-left: 30px;
      right: 30px;
  	}
  	header .top .right {
      float: left;
      margin-left: 40px;
  	}
}

@media screen and (max-width: 920px) {
	#content #wrapper {
		padding: 0;
	}
}

@media screen and (max-width: 820px) {
	#content .block-1 .left-menu {
	    display: none;
	}
	header .top .menu-btn {
		display: block;
	}
	header .top {
		padding-left: 30px;
	}
	#content .block-1 .most-popular {
	    border: none;
	    margin-bottom: 50px;
	}
	#content .block-1 aside {
	   	width: 94%;
	}
	#content .block-2 .ask-question input[type="submit"] {
	    position: static;
	}
	#content .block-1 .most-popular a:last-of-type {
	    float: left;
	    margin-top: 15px;
	}
	#content .block-3 > .right {
	    padding-left: 0;
	}
	footer .bottom > .right {
	    position: static;
	    float: none;
	    margin-top: 10px;
	}
	footer .bottom p {
		float: left;
	}
	footer .bottom {
	    padding-bottom: 150px;
	}
	#content .block-2 .ask-question {
	    width: 90%;
	    margin: 17px auto 0 auto;
	}
	#content .block-2 .ask-question input[type="email"] {
	    padding-right: 17px;
	    margin: 0 auto;
	    display: block;
	    width: 90%;
	}
	#content .block-2 .ask-question input[type="submit"] {
	    display: block;
	    margin: 0 auto;
	}
	#content .block-2 .calendar {
	    width: 90%;
	    height: auto;
	    padding: 27px 15px 30px 17px;
	}
	#content .block-2 .calendar .event {
	    width: 353px;
	    margin-top: 27px;
	    float: none;
	    margin-right: 30px;
	}
	#content .block-2 .qa {
	    width: 90%;
	    height: auto;
	    padding-bottom: 30px;
	}
	#content .block-2 .qa .slider {
	    margin: 50px auto 0 auto;
	    float: none;
	}
	#content .block-3 .left {
	    border: none;
	    float: none;
	    margin: 25px auto;
	    padding: 0;
	}
	#content .block-2 .qa .right {
	    float: none;
	}
	#content .block-1 .most-popular {
		max-width: 90%;
	    margin-left: 0;
	}
}

@media screen and (max-width: 709px) {
	header {
	    height: 410px;
	}
	header nav .second-level {
	    height: 195px;
	}
	footer .menu {
	    padding: 0;
	}
	footer .menu li a {
	    font-size: 14px;
	}

}


@media screen and (max-width: 642px) {
	header .top .menu-btn2 {
		display: block;
	}
	header .top .logo {
	    display: block;
	    position: relative;
	    top: 6px;
	    text-align: center;
	}
	header .top input[type="search"] {
	    width: 80%;
	    margin-left: 0;
	    display: block;
	    margin: 30px auto 0 auto;
	}
	header {
	    height: 450px;
	}
	header .top {
	    height: 235px;
	}
	header .top label {
	    margin-top: -27px;
	    margin-left: 0;
	    right: 110px;
	}
	header .top .right {
		width: 100%;
	    float: none;
	    margin: 20px auto 0 auto;
	    text-align: center;
	}
	#content .block-1 aside {
	    width: 303px;
	    margin: 0 auto;
	    padding-bottom: 30px;
	}
	#content .block-1 aside .banners {
	    position: static;
	    margin-top: 25px;
	}
	header {
		height: 135px;
	}
	header nav .first-level {
	    display: none;
	}
	header nav .second-level {
	    display: none;
	}
	#content .block-1 .most-popular {
		display: none;
	}
	#content .block-1 aside .banner {
	    display: none;
	}
	#content .block-1 aside .banners {
	    padding-bottom: 18px;
	}
	#content .block-3 .left .news .new .img img {
	   display: none;
	}
	#content .block-3 .left .news .new a {
	    padding-left: 16px;
	}
	#content .block-3 .left .news .new {
	    height: 78px;
	    border-top: 1px solid lightgray;
	}
	#content .block-3 .left .news .new {
	    margin-top: 5px;
	}
	#content .block-3 .left .news .new:last-of-type {
	    border-bottom: 1px solid lightgray;
	}
	#content .block-3 > .right .last-articles .article .img img {
	    width: 95px;
	    height: 72px;
	}
	#content .block-3 .left {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -250px;
	}
	#content .block-3 {
		position: static;
	}
	#content #wrapper {
    	padding-top: 600px;
	}
	#content .block-3 .left .news > a {
	    display: none;
	}
	#content .block-1 {
		border-bottom: 2px solid gray;
		margin-left: 10px;
		margin-right: 10px;
	}
	#content .block-3 > .right .last-articles .article .right p {
	   	width: auto;
	   	white-space: pre-line;
	   	padding-right: 18px;
	}
	#content .block-3 > .right .last-articles > a:last-of-type {
      display: none;
  	}
  	#content .block-3 > .right .last-articles {
  	  width: auto;
      height: auto;
      padding-bottom: 20px;
  	}
  	#content .block-3 > .right .last-articles .article {
	    margin-top: 55px;
	}
	#content .bottom-menu li:nth-child(1) a::before {
	    left: 27px;
	}
	#content .bottom-menu li:nth-child(2) a::before {
	    left: 30px;
	}
	#content .bottom-menu li:nth-child(3) a::before {
	    left: 28px;
	}
	#content .bottom-menu li:nth-child(4) a::before {
	    left: 26px;
	}
	#content .bottom-menu li:nth-child(5) a::before {
	    left: 29px;
	}
	#content .bottom-menu li:nth-child(6) a::before {
	    left: 30px;
	}
	#content .bottom-menu li:nth-child(7) a::before {
	    left: 26px;
	}

}
@media screen and (max-width: 540px) {
	footer .menu {
		height: 113px;
	    flex-wrap: wrap;
	}
	footer .menu li {
		margin-right: 20px;
	}
	#content .block-2 .ask-question input[type="email"]::placeholder {
	    font-size: 11px;
	}
	#content .bottom-menu li:nth-child(4) a::before {
	    left: 28px;
	}
	#content .bottom-menu li:nth-child(5) a::before {
	    left: 27px;
	}
}
@media screen and (max-width: 480px) {
	#content .block-2 .ask-question input[type="email"]::placeholder {
	    font-size: 10px;
	}
	#content .block-3 .left {
	    width: 465px;
	    margin-left: -232px;
	}
	#content .block-3 .left .main-new {
	    width: auto;
	}
	#content .block-3 > .right .last-articles {
	    padding-left: 15px;
	}
	header .top .menu-btn {
	    left: 5px;
	}
	header .top .menu-btn2 {
	    right: 5px;
	}
}

@media screen and (max-width: 400px) {
	header .top .menu-btn {
		left: 10px;
	}
	header .logo img {
		width: 200px;
		margin-top: 15px;
	}
	header .top {
		padding-left: 5px;
	}
	header .top label {
	    right: 79px;
	}
	#content .block-2 .calendar .event img {
	    width: 107px;
	    margin-right: 10px;
	}
	#content .block-2 .calendar .event {
	    width: 305px;
	}
	#content .block-2 .qa .slider .slick-next {
   		right: 27px;
	}
	#content .block-2 .qa .slider {
	    padding-left: 48px;
	}
	#content .block-2 .qa .right .question {
	    width: 286px;
	}
	#content .block-3 .left .main-new .bottom span:nth-child(2) {
	    margin-left: 36px;
	}
	#content .block-3 .left .main-new .bottom span {
	    display: block;
	    margin-left: 36px;
	    margin-bottom: 10px;
	}
	#content .block-3 .left .main-new .bottom span:last-of-type {
	    margin-bottom: 0;
	}
	#content .block-3 .left .main-new .bottom {
	    height: 118px;
	}
	#content .block-3 .left .main-new .bottom .background {
	    height: 118px;
	}
	#content .block-3 .left .main-new a:nth-child(5) {
	    bottom: 24px;
	}
	#content .block-3 .left .news .new .img img {
	    width: 145px;
	    height: 92px;
	}
	#content .block-3 .left .news .new a {
	    margin-bottom: 10px;
	}
	#content .block-3 > .right .last-articles {
	    padding-left: 17px;
	    height: auto;
	    padding-bottom: 20px;
	}
	#content .block-3 > .right .last-articles > a:last-of-type {
	    float: none;
	    margin-top: 25px;
	}
	#content .bottom-menu li a {
	    width: 100px;
	    padding-right: 0;
	    padding-left: 70px;
	    padding-right: 10px;
	    text-align: left;
	}
	#content .bottom-menu li:nth-child(4) a, #content .bottom-menu li:nth-child(5) a {
	    width: 100px;
	    padding-right: 10px;
	}
	#content .bottom-menu li:nth-child(1) a::before {
	    left: 25px;
	}
	#content .bottom-menu li:nth-child(2) a::before {
	    left: 30px;
	}
	#content .bottom-menu li:nth-child(3) a::before {
	    left: 28px;
	}
	#content .bottom-menu li:nth-child(4) a::before {
	    left: 26px;
	}
	#content .bottom-menu li:nth-child(5) a::before {
	    left: 25px;
	}
	#content .bottom-menu li:nth-child(6) a::before {
	    left: 25px;
	}
	#content .bottom-menu li:nth-child(7) a::before {
	    left: 24px;
	}
	#content .blocks .block:nth-child(6) .social a {
	    width: 20%;
	}
	#content .blocks .block:nth-child(6) .social a:nth-child(2) {
	    width: 20%;
	}
	#content .block-3 .left {
	    width: 100%;
	    margin-left: -180px;
	}
	#content .block-3 .left .news .new a {
	    width: 280px;
	}
	#content .blocks .block:nth-child(9) input[type="email"] {
	    width: 151px;
	}
	#content .blocks .block:nth-child(9) input[type="submit"] {
	    width: 96px;
	}
	footer .bottom {
	    padding-bottom: 250px;
	}

}

@media screen and (max-width: 320px) {
	#content .block-3 .left {
	    margin-left: -160px;
	}
	#content .block-3 .left .main-new .bottom {
	    height: 148px;
	}
	#content .block-3 .left .main-new .bottom .background {
	    height: 148px;
	}
	#content .block-3 .left .news .new a {
	    width: 242px;
	}
	#content .block-3 .left .news .new {
	    height: 93px;
	}
	#content #wrapper {
	    padding-top: 648px;
	}
	#content .block-2 .qa > a {
	    float: left;
	    margin-top: 5px;
	    margin-bottom: 10px;
	}
	#content .bottom-menu li:nth-child(1) a::before {
	    left: 25px;
	}
	#content .bottom-menu li:nth-child(2) a::before {
	    left: 27px;
	}
	#content .bottom-menu li:nth-child(3) a::before {
	    left: 26px;
	}
	#content .bottom-menu li:nth-child(4) a::before {
	    left: 24px;
	}
	#content .bottom-menu li:nth-child(7) a::before {
	    left: 22px;
	}
	footer .menu li {
	    margin-right: 0;
	}
}