body {
  font-family: GPLight;
  color: #000;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  display: block;
  text-align: center;
  font-family: GPBlack;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  width: 270px;
  height: 55px;
  line-height: 55px;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #c52615;
  background-color: #e6321e;
  transition: 0.3s;
  &:hover {
    background-color: #fc523f;
    transition: 0.3s;
  }
  &:active {
    background-color: #c52615;
    transition: 0.3s;
  }
}

span.bold {
  font-family: GPBlack;
}

header {
  padding-bottom: 105px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  background:   url("../img/header-bg2.png") 0 110% no-repeat,
                url("../img/header-bg1.png") no-repeat;
  background-size: auto, cover;
  .top-line {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    .left {
      .logo {
        padding-right: 19px;
      }
      p {
        font-size: 16px;
        text-align: right;
        color: #888888;
        font-family: GPRegular;
      }
    }
    .address {
      font-family: GPRegular;
      font-size: 18px;
      color: #888888;
      line-height: 99px;
    }
    .right {
      .tel {
        text-decoration: none;
        font-size: 30px;
        color: #000;
      }
      .start-training {
        margin-top: 15px;
        margin-left: auto;
      }
    }
  }
  .center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
      text-transform: uppercase;
      padding-left: 100px;
      h1 {
        font-family: GPBlack;
        font-size: 48px;
        white-space: pre-line;
        color: #0e7dc0;
        line-height: 60px;
        padding-top: 90px;
      }
      p {
        padding-top: 10px;
        line-height: 40px;
        font-size: 28px;
        white-space: pre-line;
      }
    }
    .left > span:last-of-type {
      position: relative;
      font-size: 20px;
      line-height: 40px;
      &::before {
        content: '';
        position: absolute;
        right: -20px;
        top: 4px;
        width: 98px;
        height: 16px;
        background: url("../img/line.png");
      }
    }
    .right {
      margin-top: auto;
      padding-right: 40px;
      ul {
        li.rect {
          margin-bottom: 28px;
          &:last-child {
            margin-bottom:0;
          }
          &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url("../img/rectangle.png");
          }
          p {
            font-family: GPRegular;
            font-size: 20px;
            padding-left: 35px;
          }
        }
      }
    }
  }
  .wrapper > a {
    width: 570px;
    margin: 70px auto 0;
  }
}

.collection {
  padding-bottom: 46px;
  background: url("../img/collection-bgRight.png") 90.5% 18% no-repeat;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  h2 {
    padding-left: 100px;
    padding-top: 90px;
    font-size: 48px;
    white-space: pre-line;
    color: #000;
    line-height: 65px;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      width: 412px;
      height: 337px;
      margin-left: -420px;
      margin-top: -40px;
      background: url("../img/collection-bgLeft.png") no-repeat;
    }
    .blue {
      color: #0e7dc0;
    }
  }
  ul {
    padding-left: 100px;
    margin-top: 29px;
    li.rect {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom:0;
      }
      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: url("../img/rectangle.png");
      }
      p {
        font-family: GPRegular;
        font-size: 20px;
        padding-left: 35px;
      }
    }
  }
  h3 {
    font-family: GPRegular;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 85px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 70px;
      height: 1px;
      margin-left: -88px;
      top: 50%;
      margin-top: -0.5px;
      background-color: #b2b2b2;
    }
    &::after {
      content: '';
      position: absolute;
      width: 70px;
      height: 1px;
      margin-left: 17px;
      top: 50%;
      margin-top: -0.5px;
      background-color: #b2b2b2;
    }
  }
  .life {
    width: 100%;
    margin-top: 50px;
    .images {
      display: flex;
      justify-content: space-between;
      .img {
        position: relative;
        &:hover {
          a::before {
            content: '';
            position: absolute;
            width: 39px;
            height: 40px;
            margin-top: -20px;
            margin-left: -19.5px;
            top: 50%;
            left: 50%;
            background: url("../img/loupe.png");
          }
        }
      }
    }
  }
  .arrow {
    margin-top: 40px;
    text-align: center;
  }
}

.block-form {
  background: url("../img/form-block-bg.png");
  background-size: cover;
  padding-bottom: 31px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .left {
    h2 {
      padding-left: 100px;
      padding-top: 250px;
      font-size: 48px;
      white-space: pre-line;
      color: #000;
      line-height: 65px;
      text-transform: uppercase;
      .blue {
        color: #0e7dc0;
      }
    }
    p {
      font-size: 28px;
      padding-top: 34px;
      line-height: 55px;
      white-space: pre-line;
      padding-left: 100px;
      text-transform: uppercase;
      &::after {
        content: '';
        position: absolute;
        width: 131px;
        height: 55px;
        margin-top: 55px;
        background: url("../img/arrow-right.png");
      }
      .red {
        color: #e6321e;
      }
    }
    img {
      margin-top: 30px;
    }
  }
  form {
    padding: 58px 50px;
    height: 284px;
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    input[type="text"],input[type="tel"] {
      width: 250px;
      height: 55px;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.28);
      border-radius: 4px;
      border: 1px solid #acacac;
      background-color: #fafafa;
      margin: 0 auto 20px;
      padding-left: 20px;
      color: #000;
      font-size: 18px;
      font-family: GPRegular;
      &:focus {
        background-color: #fff;
      }
    }
    input[type="submit"] {
      border: none;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}

footer {
  padding-top: 37px;
  padding-bottom: 33px;
  .top-line {
    display: flex;
    justify-content: space-between;
    .left {
      p {
        font-size: 16px;
        text-align: right;
        font-family: GPRegular;
        color: #888888;
      }
    }
    .address {
      font-family: GPRegular;
      font-size: 18px;
      color: #888888;
      line-height: 99px;
    }
    .right {
      .tel {
        text-decoration: none;
        font-size: 30px;
        color: #000;
      }
      .start-training {
        margin-top: 15px;
        margin-left: auto;
      }
    }
  }
}