html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'PTNarrow';
}

h2 {
  font-family: 'PTNarrowBold';
  font-size: 38px;
  color: #333333;
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header .top-line {
  background: url("../img/background1.jpg") repeat;
}
header .top-line h1 {
  text-align: center;
  font-family: 'AkroBold';
  font-size: 30px;
  line-height: 33.5px;
  color: #000;
  white-space: pre-line;
}
header .top-line h1 span {
  font-family: 'AkroBlack';
  text-decoration: underline;
}
header .top-line .contacts a {
  display: block;
  text-align: center;
  font-family: 'AkroExtraBold';
  text-decoration: none;
  color: #000;
}
header .top-line .contacts .tel {
  font-size: 30.16px;
}
header .top-line .contacts .mail {
  font-size: 24.13px;
  padding-top: 8px;
}
header .top-line .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 157px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: auto;
}
header .top-line .wrapper div {
  margin-right: 20px;
}
header .top-line .wrapper div:last-child {
  margin-right: 0;
}
header .top-line .buttons a {
  position: relative;
  display: block;
  width: 158px;
  height: 30px;
  line-height: 30px;
  font-family: 'AkroSemiBold';
  font-size: 18.1px;
  text-decoration: none;
}
header .top-line .buttons .requestCall {
  width: 131px;
  border: 1px dashed #00a750;
  color: #00a750;
  margin-bottom: 4px;
  padding-left: 27px;
}
header .top-line .buttons .requestCall::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 15px;
  top: 6px;
  left: 9px;
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
header .top-line .buttons .submitApplication {
  width: 126px;
  border: 1px dashed #ff0000;
  color: #ff0000;
  padding-left: 32px;
}
header .top-line .buttons .submitApplication::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 13px;
  top: 8px;
  left: 11px;
  background-image: url(../img/sprite.png);
  background-position: -18px 0;
  background-repeat: no-repeat;
}
header .bottom-line {
  max-height: 50px;
  background: #000;
}
header .bottom-line .burger {
  display: none;
  cursor: pointer;
  padding: 10px 0;
}
header .bottom-line .burger span {
  display: block;
  width: 24px;
  height: 4px;
  margin: 4px auto 0;
  background: white;
}
header .bottom-line ul.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header .bottom-line ul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
header .bottom-line ul .mini:hover .submenu {
  opacity: 1;
  visibility: visible;
}
header .bottom-line ul li:first-child span {
  font-size: 13px;
}
header .bottom-line ul li:first-child .submenu {
  display: block;
  position: absolute;
  left: 20px;
  top: 50px;
  opacity: 0;
  width: 150px;
  height: 480px;
  visibility: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  z-index: 100;
}
header .bottom-line ul li:first-child .submenu li {
  background-color: #ecefef;
}
header .bottom-line ul li:first-child .submenu li a {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  font-family: 'PTNarrowBold';
  font-size: 16px;
  color: #444444;
  text-decoration: none;
  background-color: #ecefef;
}
header .bottom-line ul li:first-child .submenu li a:hover {
  color: #02984b;
  background-color: #e1e5e5;
}
header .bottom-line ul a {
  display: block;
  font-family: "PTNarrow";
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}

.main {
  margin-top: 46px;
}
.main .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main aside {
  width: 275px;
  margin-right: 20px;
}
.main aside .submenu {
  display: block;
  width: 275px;
  height: 850px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  z-index: 1;
}
.main aside .submenu li {
  background-color: #ecefef;
}
.main aside .submenu li:first-child {
  padding-top: 25px;
}
.main aside .submenu li:last-child {
  padding-bottom: 25px;
}
.main aside .submenu li:nth-child(1) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -99px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(1) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -99px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(2) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -149px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(2) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -149px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(3) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -199px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(3) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -199px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(4) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -249px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(4) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -249px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(5) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -299px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(5) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -299px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(6) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -349px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(6) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -349px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(7) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -399px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(7) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -399px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(8) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -449px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(8) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -449px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(9) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -499px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(9) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -499px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(10) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -549px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(10) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -549px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(11) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -599px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(11) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -599px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(12) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -649px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(12) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -649px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(13) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -699px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(13) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -699px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(14) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -749px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(14) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -749px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(15) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -799px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(15) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -799px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(16) a::before {
  background-image: url(../img/sprite.png);
  background-position: 0 -849px;
  background-repeat: no-repeat;
}
.main aside .submenu li:nth-child(16) a:hover::before {
  background-image: url(../img/sprite.png);
  background-position: -101px -849px;
  background-repeat: no-repeat;
}
.main aside .submenu li a {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 80px;
  font-family: 'PTNarrowBold';
  font-size: 19px;
  color: #444444;
  text-decoration: none;
  background-color: #ecefef;
}
.main aside .submenu li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 79px;
  height: 50px;
}
.main aside .submenu li a:hover {
  color: #02984b;
  background-color: #e1e5e5;
}
.main aside .news {
  margin-top: 60px;
}
.main aside .news .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main aside .news .top a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #0b9547;
  font-size: 24px;
}
.main aside .news .top a:hover {
  text-decoration: none;
}
.main aside .news article:last-child {
  margin-top: 13px;
}
.main aside .news .date,
.main aside .news .theme,
.main aside .news .desc {
  font-size: 18px;
}
.main aside .news .theme {
  padding-top: 22px;
  font-family: 'PTNarrowBold';
}
.main aside .news .date {
  padding-top: 39px;
  color: #6b6b6b;
}
.main aside .news .desc {
  padding-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main aside .news .desc p {
  white-space: pre-line;
}
.main aside .news .more {
  color: #35a55f;
  font-size: 18px;
}
.main aside .news .more:hover {
  text-decoration: none;
}
.main .content .breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 16px;
  color: #333333;
}
.main .content .breadcrumbs a {
  color: #333333;
  margin-bottom: 5px;
}
.main .content .breadcrumbs a:hover {
  text-decoration: none;
}
.main .content .breadcrumbs .current {
  color: #999999;
}
.main .content h2 {
  padding-top: 12px;
}
.main .content .offer {
  max-width: 875px;
  height: 358px;
  margin-top: 40px;
  border-radius: 3px;
  background: url("../img/offer.jpg") 100% 0 no-repeat #ecefef;
  position: relative;
}
.main .content .offer .triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 313px;
  height: 101px;
  background: url("../img/triangle.png");
  font-family: "PTNarrowBold";
  font-size: 25.38px;
  color: #fff;
  padding-left: 12px;
  padding-top: 15px;
}
.main .content .offer .triangle div {
  -webkit-transform: rotate(-19deg);
      -ms-transform: rotate(-19deg);
          transform: rotate(-19deg);
}
.main .content .offer p {
  font-size: 18px;
  color: #333333;
  padding-left: 39px;
  padding-bottom: 13px;
}
.main .content .offer p:first-of-type {
  padding-top: 153px;
}
.main .content .offer a {
  display: inline-block;
  font-size: 18px;
  color: #00a650;
  margin-top: 55px;
  margin-left: 39px;
}
.main .content .offer a:hover {
  text-decoration: none;
}
.main .content .trucks-block {
  margin-top: 40px;
}
.main .content .trucks-block .filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .content .trucks-block .filter .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main .content .trucks-block .filter .left a {
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 1px dashed #00a550;
  color: #444444;
  padding: 0 12px;
  margin-right: 10px;
  text-decoration: none;
}
.main .content .trucks-block .filter .left a:last-child {
  margin-right: 0;
}
.main .content .trucks-block .filter .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .content .trucks-block .filter .right p {
  color: #444444;
  padding-right: 9px;
}
.main .content .trucks-block .filter .right a {
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
  border: 1px dashed #00a550;
}
.main .content .trucks-block .filter .right a:first-of-type {
  margin-right: 10px;
}
.main .content .trucks-block .filter .right a:first-of-type::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 7px;
  width: 20px;
  height: 15px;
  background-image: url(../img/sprite.png);
  background-position: -36px 0;
  background-repeat: no-repeat;
}
.main .content .trucks-block .filter .right a:last-of-type::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 19px;
  height: 18px;
  background-image: url(../img/sprite.png);
  background-position: -60px 0;
  background-repeat: no-repeat;
}
.main .content .trucks-block .trucks {
  max-width: 875px;
  margin-top: 37px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .content .trucks-block .trucks li {
  position: relative;
  padding: 9px 9px 30px 9px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
}
.main .content .trucks-block .trucks li .type {
  font-size: 14px;
  color: #6b6b6b;
  padding-top: 11px;
}
.main .content .trucks-block .trucks li .model {
  font-family: "PTNarrowBold";
  font-size: 18px;
  color: #020202;
  padding-top: 5px;
  text-decoration: none;
}
.main .content .trucks-block .trucks li .model:hover {
  text-decoration: underline;
}
.main .content .trucks-block .trucks li .desc {
  padding-top: 7px;
}
.main .content .trucks-block .trucks li .desc p {
  font-size: 13px;
  color: #666666;
  padding-top: 3px;
}
.main .content .trucks-block .trucks li .desc span {
  font-family: "PTNarrowBold";
  font-size: 13px;
  color: #444444;
}
.main .content .trucks-block .trucks li .cost {
  font-family: "PTNarrowBold";
  font-size: 24px;
  padding-top: 18px;
}
.main .content .trucks-block .trucks li .mileage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 94px;
  height: 16px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #06a855;
}
.main .content .trucks-block .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 47px;
}
.main .content .trucks-block .nav a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: "PTNarrowBold";
  font-size: 18px;
  margin-right: 10px;
  border-radius: 2px;
  color: #333333;
  background-color: #ecefef;
  text-decoration: none;
}
.main .content .trucks-block .nav a.prev {
  background-image: url(../img/sprite.png);
  background-position: -222px -291px;
  background-repeat: no-repeat;
}
.main .content .trucks-block .nav a.start {
  background-image: url(../img/sprite.png);
  background-position: -185px -291px;
  background-repeat: no-repeat;
}
.main .content .trucks-block .nav a.next {
  background-image: url(../img/sprite.png);
  background-position: -222px -325px;
  background-repeat: no-repeat;
}
.main .content .trucks-block .nav a.end {
  background-image: url(../img/sprite.png);
  background-position: -185px -325px;
  background-repeat: no-repeat;
}
.main .content .trucks-block .nav div {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: "PTNarrowBold";
  font-size: 18px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: #ecefef;
}
.main .content .trucks-block .nav a.current {
  color: #fff;
  background-color: #06a855;
}

.why {
  margin-top: 68px;
  padding-bottom: 133px;
  box-shadow: 18px 0 23px 12px rgba(35, 31, 32, 0.13);
  background: url("../img/background1.jpg") repeat;
}
.why h2 {
  padding-top: 49px;
}
.why p {
  font-size: 18px;
  color: #444;
  padding-top: 27px;
}
.why p:first-of-type {
  padding-top: 33px;
}

.message {
  height: 453px;
  background: url("../img/background2.jpg") repeat;
  overflow: hidden;
}
.message .radio {
  margin-right: 30px;
  margin-top: -60px;
}
.message .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.message h2 {
  font-family: "PTNarrowBold";
  font-size: 40.21px;
  padding-top: 10px;
  padding-left: 33px;
  color: #fff;
}
.message p {
  font-family: "PTNarrowBold";
  font-size: 24.13px;
  padding-left: 33px;
  padding-top: 8px;
  color: #bbbbbb;
}
.message form {
  position: relative;
  width: 740px;
  height: 310px;
  margin-top: 15px;
  border: 1px dashed #35a55f;
}
.message form input {
  display: block;
  width: 230px;
  height: 41px;
  line-height: 41px;
  font-family: "PTNarrow";
  font-size: 18px;
  background-color: #d7d7d7;
  margin-top: 13px;
  padding-left: 20px;
  margin-left: 32px;
  border-radius: 3px;
  border: none;
  outline: none;
}
.message form textarea {
  width: 471px;
  height: 67px;
  background-color: #dfdfdf;
  margin-top: 13px;
  font-family: "PTNarrow";
  font-size: 18px;
  padding-left: 20px;
  padding-top: 14px;
  border-radius: 3px;
  margin-left: 32px;
  border: none;
  resize: none;
  outline: none;
}
.message form input[type="submit"] {
  position: absolute;
  bottom: -20px;
  width: 160px;
  height: 41px;
  font-size: 18px;
  color: #fff;
  background-color: #35a55f;
  padding-left: 0;
  cursor: pointer;
}

footer {
  margin-top: 47px;
}
footer .top-line {
  max-height: 50px;
  background: #000;
}
footer .top-line ul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
footer .top-line ul li:first-child:hover .submenu {
  opacity: 1;
  visibility: visible;
}
footer .top-line ul li:first-child span {
  font-size: 13px;
}
footer .top-line ul li:first-child .submenu {
  display: block;
  position: absolute;
  left: 6px;
  bottom: 52px;
  opacity: 0;
  width: 150px;
  height: 480px;
  visibility: hidden;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  z-index: 100;
}
footer .top-line ul li:first-child .submenu li {
  background-color: #ecefef;
}
footer .top-line ul li:first-child .submenu li a {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  font-family: 'PTNarrowBold';
  font-size: 16px;
  color: #444444;
  text-decoration: none;
  background-color: #ecefef;
}
footer .top-line ul li:first-child .submenu li a:hover {
  color: #02984b;
  background-color: #e1e5e5;
}
footer .top-line ul a {
  display: block;
  font-family: "PTNarrow";
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}
footer .bottom-line .wrapper {
  height: 161px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .bottom-line .buttons a {
  position: relative;
  display: block;
  width: 158px;
  height: 30px;
  line-height: 30px;
  font-family: 'AkroSemiBold';
  font-size: 18.1px;
  text-decoration: none;
}
footer .bottom-line .buttons .requestCall {
  width: 131px;
  border: 1px dashed #00a750;
  color: #00a750;
  margin-bottom: 4px;
  padding-left: 27px;
}
footer .bottom-line .buttons .requestCall::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 15px;
  top: 6px;
  left: 9px;
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
footer .bottom-line .buttons .submitApplication {
  width: 126px;
  border: 1px dashed #ff0000;
  color: #ff0000;
  padding-left: 32px;
}
footer .bottom-line .buttons .submitApplication::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 13px;
  top: 8px;
  left: 11px;
  background-image: url(../img/sprite.png);
  background-position: -18px 0;
  background-repeat: no-repeat;
}
footer .bottom-line .contacts a {
  display: block;
  text-align: center;
  font-family: 'AkroExtraBold';
  text-decoration: none;
  color: #000;
}
footer .bottom-line .contacts .tel {
  font-size: 30.16px;
}
footer .bottom-line .contacts .mail {
  font-size: 24.13px;
  padding-top: 8px;
}
footer .bottom-line .social p {
  text-align: center;
  font-size: 18px;
}
footer .bottom-line .social .block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}
footer .bottom-line .social .block a {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
footer .bottom-line .social .block a:last-child {
  margin-right: 0;
}
footer .bottom-line .social .block .vk {
  background-image: url(../img/sprite.png);
  background-position: 0 -23px;
  background-repeat: no-repeat;
}
footer .bottom-line .social .block .fb {
  background-image: url(../img/sprite.png);
  background-position: -47px -23px;
  background-repeat: no-repeat;
}
footer .bottom-line .social .block .inst {
  background-image: url(../img/sprite.png);
  background-position: -94px -23px;
  background-repeat: no-repeat;
}
footer .bottom-line .social .block .yt {
  background-image: url(../img/sprite.png);
  background-position: -141px -23px;
  background-repeat: no-repeat;
}
footer .bottom-line .made {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .bottom-line .made p {
  font-family: "RobotoLight";
  font-size: 13.07px;
  color: #b1b1b1;
  white-space: pre-line;
  text-align: right;
  padding-right: 5px;
}

.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  display: none;
  opacity: 0;
  width: 370px;
  height: 370px;
  margin-left: -200px;
  margin-top: -200px;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 4;
}
.modal .close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  font-family: "PTNarrowBold";
  font-size: 40px;
  color: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
}
.modal p {
  font-family: "PTNarrowBold";
  font-size: 27px;
  color: #333333;
}
.modal form {
  text-align: center;
}
.modal input {
  display: block;
  width: 230px;
  height: 41px;
  line-height: 41px;
  font-family: "PTNarrow";
  font-size: 18px;
  background-color: #d7d7d7;
  margin: 13px auto 0;
  padding-left: 20px;
  border-radius: 3px;
  border: none;
  outline: none;
}
.modal input[type="submit"] {
  background-color: #00a750;
  color: #fff;
  cursor: pointer;
  padding-left: 0;
  width: 251px;
}

#modal2.modal input[type="submit"] {
  background-color: #ff0000;
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.slider .item {
  position: relative;
}
.slider .item img {
  max-width: 100%;
  height: 475px;
}
.slider .item .wrapper {
  position: absolute;
  width: 1170px;
  height: 475px;
  top: 0;
  left: 50%;
  margin-left: -585px;
}
.slider .item .block {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 355px;
  height: 262px;
  margin-top: -131px;
  background: rgba(0, 0, 0, 0.7);
}
.slider .item .block p {
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding-top: 28px;
}
.slider .item .block p:nth-of-type(2) {
  padding-top: 36px;
}
.slider .item .block p span {
  color: #ff0000;
}

.catalog {
  background: url("../img/background3.jpg") no-repeat;
  background-size: cover;
}
.catalog .wrapper {
  max-width: 1160px;
}
.catalog .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
}
.catalog .top h2 {
  font-family: "PTNarrowBold";
  font-size: 38px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  color: #fff;
}
.catalog .top .buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.catalog .top .buttons .btn {
  position: relative;
}
.catalog .top .buttons .btn::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
}
.catalog .top .buttons .btn:first-of-type {
  margin-right: 26px;
  border: 1px dashed #d11c25;
}
.catalog .top .buttons .btn:first-of-type::before {
  left: 57px;
  top: 12px;
  background-image: url(../img/sprite.png);
  background-position: -192px 0;
  background-repeat: no-repeat;
}
.catalog .top .buttons .btn:first-of-type a {
  background-color: #d11c25;
  width: 107px;
  padding-left: 93px;
}
.catalog .top .buttons .btn:last-of-type {
  border: 1px dashed #35a55f;
}
.catalog .top .buttons .btn:last-of-type::before {
  top: 13px;
  left: 46px;
  background-image: url(../img/sprite.png);
  background-position: -226px 0;
  background-repeat: no-repeat;
}
.catalog .top .buttons .btn:last-of-type a {
  background-color: #35a55f;
  width: 117px;
  padding-left: 83px;
}
.catalog .top .buttons .btn a {
  display: block;
  height: 45px;
  line-height: 45px;
  margin: 4px;
  font-family: "PTNarrowBold";
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.catalog .top .search {
  position: relative;
}
.catalog .top .search::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/sprite.png);
  background-position: -85px 0;
  background-repeat: no-repeat;
  right: 14px;
  top: 14px;
}
.catalog .top .search input[type="search"] {
  width: 261px;
  height: 43px;
  line-height: 43px;
  padding-left: 12px;
  font-family: "PTNarrow";
  font-size: 18px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  outline: none;
}
.catalog .top .search input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}
.catalog .top .search input[type="search"]::-moz-placeholder {
  color: #fff;
}
.catalog .top .search input[type="search"]:-ms-input-placeholder {
  color: #fff;
}
.catalog .top .search input[type="search"]::placeholder {
  color: #fff;
}
.catalog ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 60px 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.catalog ul li {
  width: 275px;
  border-radius: 3px;
  margin-bottom: 19px;
}
.catalog ul li .img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 190px;
  background-color: #fff;
}
.catalog ul li a {
  display: block;
  text-decoration: none;
}
.catalog ul li a:hover span:nth-of-type(2) {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  background-color: #349d5b;
}
.catalog ul li span:nth-of-type(2) {
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: "PTNarrowBold";
  font-size: 24.13px;
  background-color: #292929;
  color: #fff;
  border-bottom: 1px solid #349d5b;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

.about {
  box-shadow: 18px 0 23px 12px rgba(35, 31, 32, 0.13);
  padding-bottom: 37px;
  background: url("../img/background1.jpg") repeat;
}
.about h2 {
  padding-top: 40px;
}
.about .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .left {
  margin-right: 50px;
}
.about .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.about p {
  font-size: 18px;
  line-height: 22px;
  color: #444444;
  padding-top: 20px;
}
.about a {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-family: "PTNarrow";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: #309757;
  border-radius: 3px;
  margin-top: 25px;
}

section.news {
  padding-top: 30px;
  padding-bottom: 38px;
}
section.news .top h2 {
  display: inline-block;
  padding-right: 57px;
}
section.news .top a {
  color: #0b9547;
  font-size: 24px;
}
section.news .top a:hover {
  text-decoration: none;
}
section.news .date,
section.news .theme,
section.news .desc {
  font-size: 18px;
}
section.news .theme {
  padding-top: 28px;
  font-family: 'PTNarrowBold';
}
section.news .date {
  color: #6b6b6b;
}
section.news .desc {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
section.news .desc p {
  white-space: pre-line;
}
section.news .more {
  color: #35a55f;
  font-size: 18px;
}
section.news .more:hover {
  text-decoration: none;
}
section.news article.img {
  position: relative;
  background: url("../img/new.jpg") no-repeat;
  height: 176px;
}
section.news article.img .date {
  color: #fff;
  padding-left: 6px;
}
section.news article.img .theme {
  color: #fff;
  padding-left: 6px;
}
section.news article.img a {
  display: block;
  position: absolute;
  left: 40%;
  bottom: 8px;
}
section.news article {
  width: 275px;
  display: inline-block;
  vertical-align: top;
  margin-top: 39px;
  margin-right: 110px;
}
section.news article:last-child {
  margin-right: 0;
}

section.parthers {
  padding-bottom: 98px;
}
section.parthers h2 {
  text-align: center;
  padding-top: 45px;
}
section.parthers .parthers-slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 200px);
  text-align: center;
  height: 184px;
  border: 1px dashed #309757;
  padding: 0 100px;
  margin-top: 20px;
}
section.parthers .parthers-slider .owl-prev {
  position: absolute;
  width: 35px;
  height: 62px;
  left: 21px;
  top: 50%;
  background-image: url(../img/sprite.png);
  background-position: -187px -77px;
  background-repeat: no-repeat;
  color: transparent;
  margin-top: -31px;
}
section.parthers .parthers-slider .owl-next {
  position: absolute;
  width: 35px;
  height: 62px;
  right: 21px;
  top: 50%;
  margin-top: -31px;
  background-image: url(../img/sprite.png);
  background-position: -187px -142px;
  background-repeat: no-repeat;
  color: transparent;
}
section.parthers .parthers-slider .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 122px;
}

@media screen and (max-width: 1230px) {
  .slider .item .block {
    top: 215px;
  }
  .slider .item .wrapper {
    position: static;
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  header .bottom-line ul li:first-child:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  .message form textarea {
    width: 230px;
  }

  .message h2 {
    padding-left: 0;
  }

  .message p {
    padding-left: 0;
  }

  .main .wrapper {
    max-width: 875px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .wrapper aside {
    width: 100%;
    margin-top: 40px;
    margin-right: 0;
  }
  .main .wrapper aside .submenu {
    display: none;
  }
  .main .wrapper aside .news {
    margin-top: 0;
  }
  .main .wrapper aside article {
    width: 275px;
    display: inline-block;
    vertical-align: top;
  }
  .main .wrapper aside article:first-of-type {
    margin-right: 35px;
  }
  .main .wrapper aside article:last-child {
    margin-top: 0;
  }

  .message h2 {
    text-align: center;
  }
  .message p {
    text-align: center;
  }
  .message .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .message .radio {
    display: none;
  }
  .message form {
    width: auto;
    text-align: center;
  }
  .message form input {
    margin-left: auto;
    margin-right: auto;
  }
  .message form textarea {
    margin-left: 0;
  }
  .message form input[type="submit"] {
    left: 50%;
    margin-left: -80px;
  }

  footer .bottom-line .logo {
    display: none;
  }
}
@media screen and (max-width: 1128px) {
  .catalog ul {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media screen and (max-width: 1000px) {
  .about .left {
    margin-right: 0;
  }
  .about .right {
    display: none;
  }
}
@media screen and (max-width: 946px) {
  header .top-line .wrapper {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    height: auto;
    padding: 15px;
  }
  header .top-line .wrapper .buttons {
    margin-top: 20px;
  }

  .slider .item img {
    height: 340px;
  }
  .slider .item .block {
    left: 50%;
    top: 170px;
    margin-left: -177.5px;
  }
}
@media screen and (max-width: 900px) {
  #welcomeHero {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #slideshow-carousel {
    display: none;
  }

  header .bottom-line ul li:first-child .submenu {
    left: 0;
  }
}
@media screen and (max-width: 884px) {
  .main .content .trucks-block .trucks {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
@media screen and (max-width: 850px) {
  footer .bottom-line .wrapper {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: auto;
  }
  footer .bottom-line .wrapper div {
    margin-top: 20px;
  }
}
@media screen and (max-width: 820px) {
  .main .content .offer {
    background: #ecefef;
    text-align: center;
  }
  .main .content .offer p {
    padding-left: 0;
  }
  .main .content .offer a {
    margin-left: 0;
  }
  .main .content .offer .triangle {
    width: 100%;
    background: none;
    color: #00a54f;
  }
  .main .content .offer .triangle div {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 786px) {
  header .top-line .logo {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .catalog .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog .top h2 {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .catalog .top .buttons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .catalog .top div {
    margin-top: 20px;
  }
}
@media screen and (max-width: 474px) {
  .catalog .top .buttons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog .top .buttons .btn:first-of-type {
    margin-right: 0;
  }
}
@media screen and (max-width: 674px) {
  .message {
    padding-bottom: 40px;
    background-size: cover;
  }
}
@media screen and (max-width: 670px) {
  header .bottom-line {
    max-height: 100%;
  }
  header .bottom-line .burger {
    display: block;
  }
  header .bottom-line ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .bottom-line ul li {
    text-align: center;
  }

  header .bottom-line ul li:first-child .submenu {
    left: 50%;
    margin-left: -75px;
    padding-top: 0;
    top: 50px;
  }
  header .bottom-line ul li:first-child .submenu li a {
    padding-left: 0;
  }

  footer {
    margin-top: 0;
    padding: 15px;
  }
  footer .top-line {
    display: none;
  }
}
@media screen and (max-width: 642px) {
  .main .content .trucks-block .filter .left a {
    margin-bottom: 10px;
  }

  .message {
    height: auto;
  }
  .message form textarea {
    width: 80%;
  }

  footer .bottom-line .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  header .top-line .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .top-line .wrapper h1 {
    display: none;
  }
  header .top-line .wrapper .contacts {
    margin-top: 20px;
  }

  section.news article {
    margin-right: 0;
  }

  section.parthers .parthers-slider {
    width: calc(100% - 100px);
    padding: 0 50px;
  }

  section.parthers .parthers-slider .owl-next {
    right: 10px;
  }

  section.parthers .parthers-slider .owl-prev {
    left: 10px;
  }
}
@media screen and (max-width: 390px) {
  .main .content .trucks-block .nav a.end,
  .main .content .trucks-block .nav a.next,
  .main .content .trucks-block .nav a.prev,
  .main .content .trucks-block .nav a.start {
    display: none;
  }

  .main .wrapper aside article:first-of-type {
    margin-right: 0;
  }

  .modal .close {
    right: 32px;
  }

  .slider .item .block p {
    font-size: 27px;
    color: #fff;
    text-align: center;
    padding-top: 28px;
  }
}
#welcomeHero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

#slideshow-main {
  height: auto;
  position: relative;
}

#slideshow-main ul {
  height: auto;
  margin: 0;
  padding: 0;
}

#slideshow-main li {
  display: none;
  position: relative;
}
#slideshow-main li img {
  max-width: 100%;
  height: auto;
}

#slideshow-main li.active {
  display: block !important;
}

#slideshow-carousel {
  width: 156px;
  height: 358px;
  margin-right: 14px;
  position: relative;
}

#slideshow-carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#slideshow-carousel li {
  width: 156px;
  height: 110px;
  margin-bottom: 14px;
  box-sizing: content-box;
}
#slideshow-carousel li a:hover img {
  outline-offset: -7px;
  outline: 7px solid rgba(6, 168, 85, 0.5);
}

#slideshow-carousel li a {
  background: #000;
  display: block;
  width: 156px;
  height: 110px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
  width: 156px;
  height: 358px;
  padding: 0;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
  width: 156px;
  height: 358px;
}

.jcarousel-skin-tango .jcarousel-item {
  width: 156px;
  height: 110px;
}

.jcarousel-skin-tango .jcarousel-next-vertical {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 156px;
  height: 26px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}
.jcarousel-skin-tango .jcarousel-next-vertical::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 9px;
  width: 17px;
  height: 8px;
  margin-left: -8.5px;
  background-image: url(../img/sprite.png);
  background-position: -215px -226px;
  background-repeat: no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 156px;
  height: 26px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}
.jcarousel-skin-tango .jcarousel-prev-vertical::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 9px;
  width: 17px;
  height: 8px;
  margin-left: -8.5px;
  background-image: url(../img/sprite.png);
  background-position: -215px -209px;
  background-repeat: no-repeat;
}

.jcarousel-container {
  position: relative;
}

.jcarousel-clip {
  z-index: 2;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.jcarousel-list {
  z-index: 1;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.jcarousel-list li,
.jcarousel-item {
  float: left;
  list-style: none;
  width: 75px;
  height: 75px;
}

.jcarousel-next {
  z-index: 3;
  display: none;
}

.jcarousel-prev {
  z-index: 3;
  display: none;
}

#welcomeHero .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -8.5px;
  width: 17px;
  height: 38px;
  background-image: url(../img/sprite.png);
  background-position: -185px -207px;
  background-repeat: no-repeat;
}

#welcomeHero .next {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -8.5px;
  width: 17px;
  height: 38px;
  background-image: url(../img/sprite.png);
  background-position: -185px -248px;
  background-repeat: no-repeat;
}

.main h3 {
  font-family: "PTNarrowBold";
  font-size: 24px;
  color: #333333;
}
.main h3:first-of-type {
  padding-top: 39px;
}
.main h3:nth-of-type(2) {
  padding-top: 54px;
}
.main .buttons {
  margin-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.main .buttons a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-right: 29px;
  margin-bottom: 15px;
}
.main .buttons a::before {
  content: '';
  height: 15px;
  top: 13px;
  left: 25px;
  position: absolute;
}
.main .buttons a:first-child {
  width: 187px;
  padding-left: 57px;
  background-color: #35a55f;
}
.main .buttons a:first-child::before {
  width: 13px;
  background-image: url(../img/sprite.png);
  background-position: -104px 0;
  background-repeat: no-repeat;
}
.main .buttons a:nth-child(2) {
  width: 141px;
  padding-left: 56px;
  background-color: #d11c25;
}
.main .buttons a:nth-child(2)::before {
  width: 11px;
  background-image: url(../img/sprite.png);
  background-position: -120px 0;
  background-repeat: no-repeat;
}
.main .buttons a:nth-child(3) {
  width: 115px;
  padding-left: 66px;
  margin-right: 0;
  background-color: #292929;
}
.main .buttons a:nth-child(3)::before {
  width: 17px;
  background-image: url(../img/sprite.png);
  background-position: -134px 0;
  background-repeat: no-repeat;
}
.main table {
  margin-top: 32px;
}
.main table tr {
  height: 42px;
}
.main table tr td {
  width: 326px;
  padding-left: 20px;
  font-family: "PTNarrow";
  vertical-align: middle;
  font-size: 18px;
  color: #444444;
  border: 1px solid #c4c4c4;
}
.main .content .trucks-block.mini {
  margin-top: 32px;
}

.main.second {
  padding-bottom: 139px;
}

.message.second {
  overflow: visible;
}

@media screen and (max-width: 550px) {
  .main table tr:last-of-type td:last-child {
    border-bottom: 1px solid #c4c4c4;
  }
  .main table tr td {
    display: block;
    height: 40px;
    line-height: 41px;
    text-align: center;
    border-bottom: none;
    padding-left: 0;
  }
}
@media screen and (max-width: 378px) {
  .main table tr td {
    width: 288px;
  }
}
