html, body {
    height: 100%;
}

body {
    margin: 0;
    min-width: 1000px;
    background: url(bg-body.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-body.png*/;
    font: 16px/18px 'Oswald', sans-serif;
    color: #000;
}

img {
    vertical-align: top;
    border-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

input, textarea, select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

aside, nav, footer, header, section {
    display: block;
}

q {
    quotes: none;
}

q:before {
    content: "";
}

q:after {
    content: "";
}

.row {
    height: 1%;
    overflow: hidden;
}

.wrap {
    width: 100%;
}

.wrap:after {
    content: "";
    display: block;
    clear: both;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.wrapper { /* min-height:100%; */
    position: relative;
    width: 100%;
}

.shadow {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -330px;
    top: 0;
}

header {
    background: url(bg-header.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-header.png*/ repeat-x 50% 0;
    width: 100%;
    height: 376px;
    color: #000;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.header-shadow {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -307px;
}

.holder {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.holder:after {
    content: "";
    display: block;
    clear: both;
}

header .alignleft {
    width: 535px;
    padding: 10px 0 0;
}

header .alignright {
    padding: 31px 0 0 4px;
    width: 504px;
    position: relative;
    margin: 0 35px 0 0;
}

header .alignright span {
    position: absolute;
    top: 140px;
    left: 315px;
    font: 16px/18px 'Oswlad', sans-serif;
    white-space: nowrap;
}

.logo {
    background: url(parazit.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/parazit.png*/ no-repeat;
    width: 168px;
    height: 60px;
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 105px 0 0;
}

.logo a {
    display: block;
    height: 100%;
}

h1, h2 {
    font: bold 30px/30px 'Oswald', sans-serif;
    text-align: center;
}

header .phone {
    float: left;
    padding: 29px 0 0;
}

header .wrap {
    padding: 0 0 12px;
}

.thx header .wrap {
    padding: 0 0 68px;
}

.thx .w1 {
    padding: 0;
}

h1 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 10px;
}

h1 span {
    padding: 0 3px;
    background: #f06c47;
    display: inline-block;
}

h1 span2 {
    padding: 0 3px;
    background: #f06c47;
    display: inline-block;
}

header .txt {
    font-style: italic;
    padding: 0 0 0 150px;
    font: italic 14px/16px 'Oswald', sans-serif;
    color: #000;
}

.thx header .txt {
    padding: 0;
}

header .txt p {
    margin: 0 0 10px;
}

.main {
    width: 100%;
    position: relative;
}

.order {
    padding: 45px 0 75px;
    width: 100%;
    background: url(bg-order.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-order.png*/ repeat-x 50% 100%;
    position: relative;
}

.order .sub-txt {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 0 124px;
}

.order-holder {
    width: 1000px;
    margin: 0 auto;
}

.order h2 {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    margin: 0 -30px -40px 50px;
    background: url(arrow.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/arrow.png*/ no-repeat 0 13px;
    padding: 0 0 70px 56px;
    text-shadow: 1px 1px 1px #000;
}

.select {
    float: left;
    width: 383px;
    margin: 0 22px 0 108px;
}

.cusel {
    width: 100% !important;
    height: 50px;
    position: relative;
    color: #8e8e8e;
    line-height: 50px;
    cursor: pointer;
    font-style: italic;
}

.cusel .cuselText {
    padding: 0 20px 0 19px;
    background: url(bg-select-l.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-select-l.png*/ no-repeat;
    height: 50px;
}

.cusel .cuselFrameRight {
    background: url(btn-select.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/btn-select.png*/ no-repeat;
    width: 68px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.cusel.cuselOpen .cuselFrameRight {
    background-position: 0 -50px;
}

.cusel.cuselOpen {
    z-index: 200;
}

.cusel .cusel-scroll-wrap {
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    color: #161616;
}

.cusel .cusel-scroll-wrap span {
    display: block;
    padding: 0 11px;
}

.cusel .cusel-scroll-wrap span:hover, .cusel .cusel-scroll-wrap span.cuselActive {
    background: #ddd;
}

.order .submit {
    background: url(btn-submit.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/btn-submit.png*/ no-repeat;
    width: 210px;
    height: 59px;
    border: 0;
    margin: -5px 0 0;
    padding: 0;
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}

.order .submit:hover {
    background-position: 0 -59px;
}

.container {
    width: 100%;
    background: #d9d9d9;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

.container-holder {
    background: url(shadow-02.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/shadow-02.png*/ no-repeat 50% 0;
    padding: 50px 0 215px;
    color: #000;
}

h3 {
    text-align: center;
    color: #aeafb1;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Oswald';
    font-weight: normal;
    margin: 0 0 40px;
}

.icons {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 60px;
    width: 1065px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}

.icons li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    width: 355px;
    letter-spacing: 0;
    margin: 0 0 55px;
}

.icons li p {
    margin: 16px 0 0;
}

.content .phone {
    text-align: center;
    float: none;
    font-size: 54px;
    line-height: 54px;
    color: #fff;
    display: block;
    margin: 0 0 115px;
}

.phone span {
    display: block;
    font: 25px/25px Arial, Helvetica, sans-serif;;
}

footer {
    background: url(bg-footer.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-footer.png*/ no-repeat 50% 0;
    padding: 0px 0 0;
    width: 1095px;
    height: 198px;
    margin: -215px auto 0;
    overflow: hidden;
    color: #000;
    font-size: 12px;
    line-height: 14px;
    position: relative;
}

footer p {
    margin: 0 0 10px;
}

footer .alignright {
    padding: 20px 0 0;
}

footer .alignright img {
    display: block;
    margin: 0 0 5px auto;
}

footer a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

footer .address-box {
    float: left;
    width: 240px;
    margin: 0 0 0 170px;
}

footer .address-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

footer .address-box ul li {
    float: left;
    width: 100%;
}

footer .address-box .wrap {
    margin: 0 0 25px;
}

footer .address-box .wrap ul {
    float: left;
    width: 50%;
}

.thx h1 {
    margin: 0;
    padding: 127px 0 38px;
}

.thx header .alignright {
    margin: 0 -150px 0 0;
}

.thx header .alignright img {
    margin: 0 0 0 7px;
}

.thx header .holder, .thx .content {
    width: 964px;
    margin: 0 auto;
    padding: 0 0 95px;
}

.thx .content {
    color: #fff;
    font-size: 24px;
    line-height: 26px;
}

.thx .w1 {
    padding: 0 0 215px;
}

.thx footer {
    color: #fff;
    width: 964px;
}

.thx footer a {
    color: #fff;
}

#dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: url('dim.png') /*tpa=http://dez-pobeda.ru/dez_b2c/images/dim.png*/;
    display: none;
    text-align: left;
}

.lightbox-02, .lightbox-03 {
    display: none;
}

.lightbox {
    background: #d7d9d9 url(bg-lightbox.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-lightbox.png*/ no-repeat 50% 0;
    width: 550px;
    padding: 74px 150px 100px 147px;
    -webkit-box-shadow: #666 0px 0px 30px;
    -moz-box-shadow: #666 0px 0px 30px;
    box-shadow: #666 0px 0px 30px;
    position: relative;
    margin: 100px auto;
}

.lightbox .btn-close {
    background: url(btn-close.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/btn-close.png*/ no-repeat;
    width: 19px;
    height: 18px;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    top: 11px;
    right: 17px;
}

.lightbox h3 {
    font: bold 32px/36px Arial, Helvetica, sans-serif;;
    color: #000;
    text-align: left;
    margin: 0 0 16px;
    background: url(bg-title.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-title.png*/ no-repeat;
    padding: 0 0 5px 100px;
}

.lightbox .callback {
    padding: 0 0 23px 100px;
}

.lightbox .callback:after {
    content: "";
    display: block;
    clear: both;
}

.lightbox .callback .text {
    background: url(bg-text.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-text.png*/ no-repeat;
    width: 186px;
    height: 36px;
    float: left;
    border: 0;
    font-style: italic;
    padding: 0 9px;
    margin: 0 10px 0 0;
    color: #8b8b8b;
    line-height: 36px;
}

.lightbox .callback .submit {
    float: left;
    background: url(btn-submit-03.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/btn-submit-03.png*/ no-repeat;
    width: 169px;
    height: 36px;
    border: 0;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}

.lightbox .callback .submit:hover {
    background-position: 0 -36px;
}

.lightbox p {
    margin: 0;
    padding: 0 0 0 100px;
    background: url(bg-txt.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-txt.png*/ no-repeat 18px 5px;
    line-height: 18px;
}

.lightbox-02 h3 {
    background: url(bg-title-02.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-title-02.png*/ no-repeat 36px 43px;
    padding: 0 0 50px 100px;
    margin: 0 0 -25px;
}

.lightbox-02 p {
    background-position: 38px 5px
}

.lightbox-03 {
    margin: 190px auto;
}

.lightbox-03 h3 {
    background: url(bg-txt.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-txt.png*/ no-repeat 90px 8px;
    padding: 0 0 15px;
    margin: 0 0 -10px;
    text-align: center;
}

.lightbox-03 p {
    padding: 0 0 0 145px;
    background: none;
}

.fader {
    background: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modal {
    width: 745px;
    height: 632px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -394px;
    background: #fff;
    z-index: 1000;
    padding: 39px 15px 15px 27px;
    font-size: 13px;
    line-height: 17px;
    color: #000;
    margin-top: 650px;
}

.modal .modal-text {
    overflow: auto;
    padding-right: 13px;
    max-height: 585px;
}

.modal h2 {
    font: normal 30px/30px 'Oswald Condensed', Arial, Helvetica, sans-serif;
    margin: 0 0 17px 0;
    text-align: center;
    position: relative;
    left: -2px;
}

.modal h3 {
    font: normal 24px/24px 'Oswald Condensed', Arial, Helvetica, sans-serif;
    margin: 48px 0 13px 0;
}

.modal ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.modal .close {
    background: url(close.png) /*tpa=http://dez-pobeda.ru/dez_b2c/img/close.png*/ no-repeat 0 0;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal p {
    margin-bottom: 13px;
}

.vscroll-bar {
    width: 6px !important;
}

.scroll-slider {
    background: #ababab;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    left: 1px !important;
    width: 4px !important;
    position: absolute;
    behavior: url(PIE.html) /*tpa=http://dez-pobeda.ru/dez_b2c/css/js/PIE.html*/;
}

.scroll-up, .scroll-down {
    background: url(scroll-arrow.png) /*tpa=http://dez-pobeda.ru/dez_b2c/img/scroll-arrow.png*/ no-repeat 0 2px;
    width: 6px !important;
    height: 11px !important;
}

.scroll-down {
    background-position: -8px 4px;
}

.flagCase {
    width: 975px;
    margin: 0 auto;
    position: absolute;
}

.flagCase .image {
    background: url(image01.png) /*tpa=http://freemedia.in.ua/1/images/image01.png*/ 0 0 no-repeat;
    width: 257px;
    height: 506px;
    position: absolute;
    left: -212px;
    top: -412px;
    z-index: 2;
}

.top-menu {
    padding: 0;
    margin-top: 25px;
    list-style: none;
    text-align: center;
}

.top-menu li {
    display: inline-block;
    padding: 0 10px;
}

.wrapper {
}

.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.col-2 {
    width: 16.66666%;
    padding: 0 15px;
    float: left;
}

.col-7 {
    width: 58.3333%;
    padding: 0 15px;
    float: left;
}

.header {
    background: #f7f7f7;
    padding: 5px 0;
    box-shadow: 0 2px 10px #c6c6c6;
    -webkit-box-shadow: 0 2px 10px #c6c6c6;
    position: relative;
    z-index: 9999;
}

.header .cont {
    width: 1080px;
    margin: 5px auto;
}

.header .phone {
    background: url(phone.png) /*tpa=http://dez-pobeda.ru/dez_b2c/img/phone.png*/ no-repeat 5px 5px;
    font-size: 40px;
    line-height: 30px;
    margin-top: 10px;
    color: #484848;
}

.col-sm-6 {
    width: 50%;
    padding: 0 15px;
    float: left;
}

footer .alignleft {
    min-width: 100%;
    left: 0 !important;
}

footer .alignleft img {
    position: static !important;
}

.col-sm-4 {
    width: 25%;
    padding: 0 15px;
    float: left;
}

.clear {
    clear: both;
}

.info {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding-top: 50px;
}

.info li {
    float: left;
    width: 100%;
    padding: 50px 0;
    font: 14px/16px 'Oswald', sans-serif;
    color: #333;
}

.black {
    background: #191919;
}

.info li .container {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    width: 1070px;
    margin: 0 auto;
    background: transparent;
}

.info li .img-holder {
    text-align: right;
}

.info li .img-holder, .info li .text {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
}

.info li .img-holder img {
    margin: 0 98px;
}

.info h3 {
    margin: 8px 0 20px;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Oswald';
    color: #333;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.top-menu a {
    text-decoration: underline;
}

footer .alignleft {
    text-align: center;
}

footer .roistat-phone {
    padding-left: 20px;
}

.info .black h3 {
    color: #fff;
    text-align: right;
}

.info p {
    margin: 0 0 20px;
}

.info h4 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin: 0;
}

.red, .black, .green {
    color: #fff !important;
    text-align: right;
}

footer {
    margin: 0 auto;
}

.retq .container {
    border-top: 1px solid #b4b4b4;
    overflow: hidden;
    padding: 15px 0 0;
    font-size: 12px;
    line-height: 14px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.ret .container,
.retq .container {
    width: 1070px;
    margin: 0 auto;
}

.retq {
    padding: 0px 0 20px;
}

.reviews-wrapper .user-img {
    border-radius: 100%;
    width: 110px;
    margin-bottom: 15px;
}

.col-lg-8 {
    width: 66.66666667%;
    float: left;
    padding: 0 15px;
}

.col-lg-4 {
    width: 33.33333333%;
    float: left;
    padding: 0 15px;
}

div {
    box-sizing: border-box;
}

.startpage.reviews .reviews-item {
    margin-top: 30px;
}

.reviews-wrapper .user-name {
    font-size: 13px;
    font-weight: 700;
}

.reviews-wrapper .user-job {
    color: #a6a6a6;
    font-size: 13px;
}

.startpage.reviews .title {
    padding-top: 15px;
}

.startpage .title {
    font-size: 30px;
    line-height: 35px;
    margin-top: 18px;
    margin-bottom: 9px;
}

.text-center {
    text-align: center;
}

.ret .container {
    background: transparent;
}

.ret {
    padding-bottom: 40px;
    padding-top: 50px !important;
}

.blockquote1 {
    width: 760px;
    margin: 0 auto 0px;
    overflow: hidden;
    font: italic 18px/22px Georgia, "Times New Roman", Times, serif;
}

.blockquote1 .alignleft {
    margin: 0 40px 0 0;
}

.alignleft {
    float: left;
}

.blockquote1 blockquote {
    height: 1%;
    overflow: hidden;
    margin: 0;
    padding: 32px 0 0;
}

.blockquote1 p {
    text-align: right;
    color: #676767;
    font-size: 14px;
    line-height: 16px;
}

.blockquote1 blockquote q {
    margin: 0 0 10px;
}

footer {
    width: 1070px !important;
}

body {
    min-width: 1120px !important;
}

footer {
    min-height: 110px;
    padding-bottom: 50px;
    height: auto;
}

header {
    background: url(bg-header.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/bg-header.png;repeat-x 50% 0; */
    width: 100%;
    height: 108px;
    color: #000;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

header .alignright {
    padding-top: 31;
}

.header-shadow {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -276px;
}

.main.t > form.order {
    padding: 75px 0 75px;
}

footer .alignleft {
    height: auto !important;
}

.span-hdr1 {
    font-size: 18px;
}

.blockquote {
    background: url(quote.png) /*tpa=http://dez-pobeda.ru/dez_b2c/images/quote.png*/ no-repeat 61px 10px;
    font-size: 18px;
    line-height: 20px;
    padding: 0 50px 13px 160px;
    width: 960px;
}

.main2 {
    width: 1100px;
    margin: 0 auto;
    padding: 5px 0 0 0;
}

.blockquote .cite {
    font-style: normal;
    display: block;
    text-align: right;
}