@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(K88pR3goAWT7BTt32Z01m_Y6323mHUZFJMgTvxaG2iE.eot)/*tpa=http://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01m_Y6323mHUZFJMgTvxaG2iE.eot*/;
}
