@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(gk5FxslNkTTHtojXrkp-xC1H8eOWK_R8Q3qI0xgnpjk.eot)/*tpa=http://fonts.gstatic.com/s/opensanscondensed/v12/gk5FxslNkTTHtojXrkp-xC1H8eOWK_R8Q3qI0xgnpjk.eot*/;
}
