// IMAGES
@mixin pic($name) {
	background: url("../img/#{$name}") no-repeat 0 0;
}

@mixin png($name) {  
	background: url("../img/#{$name}.png") no-repeat 0 0;
}

@mixin jpg($name) {
	background: url("../img/#{$name}.jpg") no-repeat 0 0;
}

// CROSS-BROWSER

@mixin opacity($opacity) {
  	opacity: $opacity;
  	$opacity-ie: $opacity * 100;
  	filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin br($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius ;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin bs($bshadow) {
	-webkit-box-shadow: $bshadow;
	-moz-box-shadow: $bshadow;
	-ms-box-shadow: $bshadow;
	-o-box-shadow: $bshadow;
	box-shadow: $bshadow;
}

@mixin ts($string) {
	-webkit-text-shadow: $string;
	-moz-text-shadow: $string;
	-ms-text-shadow: $string;
	-o-text-shadow: $string;
	text-shadow: $string;
}

@mixin placeholder-color($color) {
	&:-moz-placeholder,
	&::-moz-placeholder {
		color: $color;
		opacity: 1;
	}

	&::-webkit-input-placeholder {
		color: $color;
	}
}

@mixin transition($what) {
	-moz-transition: $what;
	-o-transition: $what;
	-webkit-transition: $what;
	-ms-transition: $what;
	transition: $what;
}

@mixin cover {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
}

// LINKS

@mixin links($link, $visit, $hover, $active) {
	a {
		color: $link;

		&:visited {
			color: $visit;
		}

		&:hover {
			color: $hover;
		}

		&:active {
			color: $active;
		}
	}
}

// SPRITE

@mixin sprite($x: 0, $y: 0) {
	background-image: url(../img/sprite.png);
	background-position: $x $y;
	background-repeat: no-repeat;
}

// Triangles
@mixin triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}