body {
  font-family: "SFUID";
  font-size: 17px;
  color: #f6f6f6;
  background-color: #fafafa;
}

.wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  position: relative;
  font-family: "SFUID-Black";
  font-size: 33px;
  color: #353535;
  white-space: pre-line;
  &::before {
    content: '';
    position: absolute;
    left: -72px;
    top: -70px;
    width: 110px;
    height: 102px;
    background: url('../img/title-icons-before.png');
  }
  span {
    font-family: "SFUID";
    color: #3da634;
  }
}

h2 {
  font-family: "SFUID-Heavy";
  font-size: 25px;
  color: #262626;
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
  &.white {
    color: #f6f6f6;
  }
}

.btn {
  display: inline-block;
  height: 43px;
  padding: 0 29px;
  line-height: 43px;
  text-align: center;
  font-family: "SFUID-Semibold";
  font-size: 14px;
  color: #f4f4f4;
  border-radius: 22px;
  background: linear-gradient(to right, #3ca532 0%, #3db731 100%);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.13);
  text-decoration: none;
  outline: none;
  &.light-green {
    padding: 0 32px;
    background: #bdfdb7;
    color: #202020;
  }
  &.white {
    color: #262626;
    background: #fafafa;
  }
}

@keyframes arrow-down1 {   
  0% {     
    opacity: 0.25;  
  }   
  50% {     
    opacity: 0.5;   
  } 
  100% {
    opacity: 0.9;
   }
}
@keyframes arrow-down2 {   
  0% {     
    opacity: 0.5;  
  }   
  50% {     
    opacity: 0.9;   
  } 
  100% {
    opacity: 0.25;
  }
}
@keyframes arrow-down3 {   
  0% {     
    opacity: 0.9;  
  }   
  50% {     
    opacity: 0.25;   
  } 
  100% {
    opacity: 0.5;
   }
}

header {
  padding-top: 15px;
  .wrapper {
    max-width: 1170px;
  }
  .top-line {
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      align-items: center;
      .nav {
        display: flex;
        margin-right: 73px;
        li {
          margin-right: 63px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-family: "SFUID-Medium";
            font-size: 14px;
            color: #202020;
            text-decoration: none;
          }
        }
      }
      .contact-us {
        box-shadow: -2px 1px 6px rgba(0, 0, 0, 0.13);
      }
    }
  }
  .center {
    margin: 36px auto 0;
    display: flex;
    max-width: 970px;
    .left {
      margin-top: 150px;
      & > p {
        padding-top: 11px;
        font-family: "SFUID-Medium";
        color: #353535;
        white-space: pre-line;
      }
      .bottom-line {
        display: flex;
        align-items: center;
        margin-top: 17px;
        p {
          position: relative;
          font-family: "SFUID-Light";
          color: #262626;
          margin-left: 54px;
          &::before {
            content: '';
            position: absolute;
            left: -40px;
            top: 8px;
            width: 26px;
            height: 1px;
            border-radius: 1px;
            background-color: #3db731;
          }
        }
      }
    }
  }
}

#services {
  height: 986px;
  background: url('../img/services-bg.png') 50% 0 no-repeat;
  h2 {
    position: relative;
    padding-top: 178px;
    .arrows {
      position: absolute;
      margin-top: -88px;
      left: 50%;
      margin-left: -8.5px;
      width: 17px;
      height: 41px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .arrow {
        width: 17px;
        height: 11px;
        background: url('../img/icons.png') 0 -385px;
        &:nth-child(1) {
          opacity: 0.9;
          animation: arrow-down3 2s ease infinite;
        }
        &:nth-child(2) {
          opacity: 0.25;
          animation: arrow-down2 2s ease infinite;
        }
        &:nth-child(3) {
          opacity: 0.5;
          animation: arrow-down1 2s ease infinite;
        }
      }
    }
  }
  .services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 81px;
    li {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:not(:nth-child(4n)) {
        margin-bottom: 58px;
      }
      &:nth-child(1) .icon {
        background-position: 0 0;
      }
      &:nth-child(2) .icon {
        background-position: -175px 0;
      }
      &:nth-child(3) .icon {
        background-position: -350px 0;
      }
      &:nth-child(4) .icon {
        background-position: -525px 0;
      }
      &:nth-child(5) .icon {
        background-position: 0 0;
      }
      &:nth-child(6) .icon {
        background-position: -175px -124px;
      }
      &:nth-child(7) .icon {
        background-position: -350px -124px;
      }
      &:nth-child(8) .icon {
        background-position: -525px -124px;
      }
      .icon {
        width: 170px;
        height: 112px;
        background: url('../img/icons.png');
      }
      p {
        padding-top: 19px;
        font-family: "SFUID-Medium";
        text-align: center;
        white-space: pre-line;
      }
    }
  }
}

#about-us {
  padding-bottom: 50px;
  h2 {
    padding-top: 84px;
  }
  .content {
    max-width: 800px;
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 60px auto 0;
    .right {
      max-width: 366px;
      margin-top: 34px;
      p {
        padding-top: 24px;
        color: #262626;
        &:first-child {
          line-height: 22px;
        }
        &:nth-child(2) {
          font-family: "SFUID-Semibold";
        }
      }
      .btn {
        margin-top: 15px;
      }
    }
  }
}

#tariffs {
  padding-top: 50px;
  .tarfiffs-list {
    display: flex;
    align-items: center;
    margin-top: 97px;
    li {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 409px;
      text-align: center;
      border-radius: 6px;
      background-color: #41ac39;
      &.popular {
        position: relative;
        width: 370px;
        height: 465px;
        background: url('../img/tariff-item-bg.png');
        &::before {
          content: 'Популярный';
          position: absolute;
          right: 13px;
          top: 13px;
          width: 90px;
          height: 16px;
          line-height: 16px;
          padding-left: 4px;
          border-radius: 4px;
          background-color: #ffffff;
          font-family: "SFUID-Bold";
          font-size: 8px;
          color: #262626;
          text-transform: uppercase;
          letter-spacing: 2.82px;
        }
        .title {
          padding-top: 67px;
        }
        .price {
          margin-bottom: 60px;
        }
      }
      .title {
        padding-top: 38px;
        font-family: "SFUID-Black";
        font-size: 15px;
        color: #f7f7f7;
        text-transform: uppercase;
        letter-spacing: 3.52px;
      }
      .desc {
        padding-top: 18px;
      }
      & > p {
        font-size: 12px;
        color: #f7f7f7;
        white-space: pre-line;
        &:nth-child(3) {
          padding-top: 26px;
        }
        &:nth-child(n+3) {
          font-family: "SFUID-Light";
          padding-bottom: 10px;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
      .price {
        margin-top: auto;
        margin-bottom: 54px;
        font-family: "SFUID-Semibold";
        font-size: 14px;
        color: #f7f7f7;
        p:last-child {
          padding-top: 5px;
        }
        span {
          font-family: "SFUID-Heavy";
          font-size: 20px;
        }
      }
    }
  }
  .submit-request {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 770px;
    height: 75px;
    margin: 57px auto 0;
    border-radius: 10px;
    background-color: #7ddb74;
    p {
      font-family: "SFUID-Medium";
      color: #171717;
      text-align: right;
    }
    .btn {
      flex-shrink: 0;
      margin: 0 47px 0 31px;
    }
  }
}

#advantages {
  h2 {
    padding-top: 87px;
  }
  .advantages-list {
    margin-top: 82px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      &:nth-child(1) .icon {
        background-position: 0 -252px;
      }
      &:nth-child(2) .icon {
        background-position: -175px -252px;
      }
      &:nth-child(3) .icon {
        background-position: -350px -252px;
      }
      &:nth-child(4) .icon {
        background-position: -525px -252px;
      }
      .icon {
        width: 170px;
        height: 112px;
        background: url('../img/icons.png');
      }
      p {
        padding-top: 19px;
        font-family: "SFUID-Light";
        font-size: 14px;
        text-align: center;
        white-space: pre-line;
        color: #171717;
      }
    }
  }
}

footer {
  margin-top: 70px;
  height: 702px;
  background: url('../img/footer-bg.png') 50% 0 no-repeat;
  .contacts {
    h2 {
      padding-top: 181px;
    }
    .content {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .left {
        & > div:not(:last-child) {
          position: relative;
          padding-left: 46px;
          margin-bottom: 39px;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 33px;
            background: url('../img/icons.png');
          }
          &:first-child::before {
            height: 33px;
            top: 3px; 
            background-position: -22px -385px;
          }
          &:nth-child(2)::before {
            height: 34px;
            top: 5px;
            background-position: -60px -384px;
          }
          p:first-child {
            font-family: "SFUID-Bold";
          }
          a {
            display: block;
            margin-top: 10px;
            color: #f7f7f7;
            text-decoration: none;
          }
        }
        .social {
          display: flex;
           a {
            display: block;
            width: 35px;
            height: 35px;
            background: url('../img/icons.png');
            background-position: -138px -385px;
            &:first-child {
              margin-right: 13px;
              background-position: -98px -385px;
            }
           }
        }
      }
      .ask-question {
        max-width: 571px;
        display: flex;
        flex-wrap: wrap;
        &.fadeIn {
          animation-delay: 0.3s;
        }
        input[type="text"], input[type="tel"], textarea {
          height: 43px;
          line-height: 43px;
          margin-bottom: 23px;
          border: none;
          padding-left: 39px;  
          box-shadow: inset 0 2px 10px rgba(0, 1, 1, 0.2);
          border-radius: 22px;
          background-color: #f7f7f7;
          outline: none;
          font-family: "Monteserrat-Medium";
          font-size: 12px;
          color: #202020;
          &::placeholder {
            font-family: "Monteserrat-Medium";
            font-size: 12px;
            color: #202020;
            opacity: 1;
          }
        }
        input:first-child {
          margin-right: 30px;
        }
        & > .input,
        & > .textarea {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            left: 18px;
            top: 14px;
            width: 13px;
            height: 13px;
            background: url('../img/icons.png');
            background-position: -178px -385px;
          }
        }
        .input:nth-child(2)::before {
          background-position: -214px -385px;
        }
        .textarea {
          width: 100%;
          &::before {
            background-position: -196px -385px;
          }
        }
        textarea {
          width: 100%;
          padding-top: 13px;
          padding-right: 15px;
          line-height: normal;
          height: 124px;
          box-sizing: border-box;
          resize: none;
        }
        input.btn {
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .wrapper:nth-of-type(2) {
    max-width: 1170px;
  }
  .bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 77px;
    .right {
      display: flex;
      .nav {
        display: flex;
        margin-right: 112px;
        li {
          margin-right: 63px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-family: "SFUID-Medium";
            font-size: 14px;
            color: #f7f7f7;
            text-decoration: none;
          }
        }
      }
      .to-top {
        a {
          position: relative;
          font-size: 14px;
          color: #f7f7f7;
          text-decoration: none;
          margin-right: 40px;
          &::before {
            content: '';
            position: absolute;
            right: -34px;
            top: 2px;
            width: 15px;
            height: 9px;
            background: url('../img/icons.png') -227px -385px;
            z-index: 1;
          }
          &::after {
            content: '';
            position: absolute;
            right: -40px;
            top: 50%;
            margin-top: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #bdfdb7;
          }
        }
      }
    }
  }
}

#modal {
  display: none;
  position: fixed;
  width: 970px;
  top: 50%;
  left: 50%;
  margin-top: -171.5px;
  margin-left: -485px;
  height: 343px;
  border-radius: 10px;
  background-color: #7ddb74;
  z-index: 20;
  text-align: center;
  h2 {
    padding-top: 46px;
  }
  form {
    margin-top: 50px;
    .top {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      .input {
        position: relative;
        margin-right: 25px;
        width: 170px;
        height: 42px;
        &::before {
          content: '';
          position: absolute;
          top: 16px;
          left: 18px;
          width: 11px;
          height: 11px;
          background: url('../img/icons.png');
          background-position: -178px -401px;
        }
        &:nth-child(2) {
          &::before {
            top: 17px;
            height: 9px;
            background-position: -196px -401px;
          }
          input {
            border: 2px solid #f4f4f4;
          }
        }
        &:last-child {
          margin-right: 0;
          &::before {
            background-position: -214px -401px;
          }
          input {
            border: 2px solid #404040;
          }
        }
      }
      input {
        width: 100%;
        height: 100%;
        padding-left: 35px;
        box-shadow: -2px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 21px;
        border: 2px solid #2f9228; 
        color: #606060;
        background-color: transparent;
        font-family: "SFUID";
        font-size: 14px;
        outline: none;
        box-sizing: border-box;
        &::placeholder {
          opacity: 1;
          color: #606060; 
        }
      }
    }
    .btn {
      margin-top: 30px;
      border: none;
      cursor: pointer;
    }
  }
  p {
    font-family: "TTNorms";
    color: #404040;
    font-size: 11px;
    white-space: pre-line; 
    padding-top: 29px;
  }
}

#background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  z-index: 10;
}


@media screen and (max-width: 990px) {
  header {
    margin-bottom: 35px;
    .center {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      .left {
        margin-top: 50px;
        .bottom-line {
          justify-content: center;
        }
      }
    }
  }
  h1 {
    white-space: normal;
    &::before {
      display: none;
    }
  }
  #modal {
    max-width: calc(100% - 30px);
    height: 411px;
    margin-top: -205.5px;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    form {
      margin-top: 20px;
      .top {
        flex-direction: column;
        justify-content: center;
        .input {
          width: 260px;
          margin: 0 auto 10px;
          &:last-child {
            margin-bottom: 0;
            margin-right: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 930px) {
  header .top-line .right .nav,
  footer .bottom-line .right .nav  {
    display: none;
  }
}

@media screen and (max-width: 810px) {
  #tariffs .tarfiffs-list {
    flex-direction: column;
    margin-top: 30px;
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  #services {
    height: auto;
    padding-bottom: 20px;
    background: linear-gradient(to right, #3ca532 0%, #3db731 100%);
    h2 {
      padding-top: 75px;
      &::before {
        margin-top: -60px;
      }
    }
    .services-list {
      justify-content: space-around;
      margin-top: 40px;
      padding-bottom: 25px;
      li {
        width: 170px;
        margin-bottom: 10px;
        &:not(:nth-child(4n)) {
          margin-bottom: 15px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 807px) {
  footer {
    height: auto;
    background: linear-gradient(to right, #3ca532 0%, #3db731 100%);
    .contacts {
      h2 {
        padding-top: 35px;
      }
      .content {
        margin-top: 25px;
        .ask-question {
          max-width: 100%;
          margin-top: 35px;
        }
      }
    }
    .bottom-line {
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 734px) {
  #advantages .advantages-list {
    justify-content: space-around;
    margin-top: 25px;
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  #about-us .content {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .right {
      max-width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 640px) {
  #tariffs .submit-request {
    flex-direction: column;
    padding: 15px 5px;
    height: auto;
    p {
      text-align: center;
    }
    .btn {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 520px) {
  header .center img {
    max-width: 100%;
  }
  #modal {
    height: 450px;
    margin-top: -225px;
    h2 {
      white-space: normal;
      padding: 46px 5px 0;
    }
    p {
      white-space: normal;
      padding: 29px 5px 0;
    }
  }
}

@media screen and (max-width: 420px)  {
  header .center .left > p {
    white-space: normal;
  }
}

@media screen and (max-width: 400px) {
  #tariffs .tarfiffs-list li.popular {
    max-width: 100%;
  }
}

@media screen and (max-width: 398px) {

}

@media screen and (max-width: 350px)  {
  h1 {
    font-size: 27px;
  }
  header .center .left .bottom-line {
    flex-direction: column-reverse;
    p {
      margin-left: 0;
      &::before {
        display: none;
      }
    }
    .btn {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 328px) {
  #about-us .content img {
    max-width: 100%;
  }
}