#book-room {
  padding: 100px 0;
  background: #f8f8f8;
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 995px;
  }
  .desc {
    max-width: 476px;
    margin-left: 15px;
    .amenities {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 45px;
      li {
        width: 200px;
        margin-bottom: 50px;
        &:nth-child(2),
        &:nth-child(4) {
          width: 218px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 857px) {
  #book-room {
    .wrapper {
      flex-direction: column-reverse;
      align-items: center;
    }
    .book-room-form {
      margin-top: 30px;
    }
    .desc {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  #book-room {
    padding: 50px 0;
  }
}

@media screen and (max-width: 480px) {
  #book-room .desc {
    h2 span.br {
      display: inline;
    }

    .amenities {
      width: 218px;
      flex-direction: column;
      margin: 30px auto;

      li {
        margin-bottom: 20px;
        &:nth-child(3) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  #book-room .book-room-form {
    width: 289px;
    padding: 23px;
  }
}
