#special-offers {
  margin: 100px 0;
  .top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: wrap;
  }
  .service-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    // grid-auto-columns: max-content;
    // grid-template-columns: repeat(2, minmax(500px, 666px));
    grid-column-gap: 32px;
    grid-row-gap: 50px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 1040px) {
  #special-offers .service-list {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 750px) {
  #special-offers {
    margin: 50px 0;
    .top-line {
      flex-direction: column;
    }
    .show-all {
      margin-top: 30px;
    }
    .service-list {
      margin-top: 15px;
    }
  }
  
}

@media screen and (max-width: 515px) {
  #special-offers {
    .top-line {
      align-items: flex-start;
      h2 span.br {
        display: inline;
      }
    }
  }
}

