@font-face {
    font-family: 'OSSemiBold';
    src: url('../fonts/open-sans-semibold.eot');
    src: url('../fonts/open-sans-semibold.eot') format('embedded-opentype'),
        url('../fonts/open-sans-semibold.woff2') format('woff2'),
        url('../fonts/open-sans-semibold.woff') format('woff'),
        url('../fonts/open-sans-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'OS';
    src: url('../fonts/open-sans.eot');
    src: url('../fonts/open-sans.eot') format('embedded-opentype'),
        url('../fonts/open-sans.woff2') format('woff2'),
        url('../fonts/open-sans.woff') format('woff'),
        url('../fonts/open-sans.ttf') format('truetype');
}

body {
    font-family: 'OS';
}

/* MODAL */

.content-blur.active {
    background: rgba(68, 68, 68, 0.6);
    -webkit-filter: blur(32px);
    -moz-filter: blur(32px);
    -o-filter: blur(32px);
    -ms-filter: blur(32px);
    filter: blur(32px);
    
}

.modal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    width: 540px;
    padding: 39px 35px 34px 36px;
    background-color: #fff;
    box-shadow: 0px 18px 48px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    z-index: 1;
}

.modal h2 {
    font-size: 32px;
    color: #444444;
    margin-bottom: 13px;
}

.modal p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 20px;
}

.modal input {
    width: 100%;
    height: 52px;
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: 'OS';
    font-size: 18px;
    color: #777777;
}

.modal input:nth-of-type(3) {
    margin-bottom: 25px;
}

.modal input::-webkit-input-placeholder { opacity: 1; }
.modal input:-ms-input-placeholder { opacity: 1; }
.modal input::-ms-input-placeholder { opacity: 1; }
.modal input::placeholder { opacity: 1; } 

.modal input[type="submit"] {
    width: 172px;
    height: 52px;
    padding-left: 0;
    color: #fff;
    background: #E2B846;
    border-radius: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.modal.active {
    display: flex;
}
/* END MODAL */

/* HEADER */
.header-top-message {
    margin-left: 12px;
}

.header-top-message span {
    font-size: 16px;
}

.header-top-message>span:first-child {
    margin-right: 30px;
}

.header-top-message .req-call {
    font-family: 'OSSemiBold';
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.header-top-menu {
    height: 20.5px;
    line-height: 20.5px;
}

.header-top-menu>ul>li {
    padding-left: 26px;
}

.header-top-menu ul li a {
    font-family: 'OSSemiBold';
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.mainmenu nav ul {
    display: flex;
}

.mainmenu nav ul li {
    display: block;
}

.mainmenu nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
}

.header-cart ul {
    display: flex;
}
.header-cart {
    margin-top: 7px;
    position: relative;
}
.header-cart ul li:nth-child(2) {
    display: flex;
    margin-left: 36px;
}

.header-cart ul li:nth-child(2) .right {
    margin-left: 22px;
}

.header-cart ul li:nth-child(2) .right p {
    margin-bottom: 0;
}

.header-cart ul li:nth-child(2) .right p:first-child {
    font-size: 11px;
    color: rgba(68, 68, 68, 0.5);
}

.header-cart ul li:nth-child(2) .right p:last-child {
    font-size: 16px;
    margin-top: -3px;
    color: #444444;
}

.header-cart-search i,
.header-cart-link i {
    font-size: 28px;
}

.header-cart-link span {
    right: auto;
    margin-left: -13px;
}

.mean-container .mean-nav ul li a {
    font-weight: normal;
}

.mean-container .mean-bar::after {
    color: #ffffff;
    content: "МЕНЮ";
    font-size: 21px;
    position: absolute;
    top: 12px;
}

/* END HEADER */


/* SHOP PAGE AREA */
.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.show-label label {
    font-family: 'OSSemiBold';
    font-size: 14px;
    font-weight: normal;
}

.single-product-content h2 {
    font-family: 'OSSemiBold';
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: normal;
}

.single-product-content .desc {
    font-size: 14px;
    margin-bottom: 3px;
    color: #777777;
}

.single-product-content .new-price {
    font-family: 'OSSemiBold';
    font-size: 24px;
    font-weight: normal;
    color: #E2B846;
}

.show-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.single-product-content .category {
    font-size: 20px;
    text-align: center;
}

.shop-list-single {
    display: flex;
    justify-content: space-between;
    padding: 15px 17px 15px 13px;
}

.shop-list-single .left,
.shop-list-single .right {
    display: flex;
}

.shop-list-single .left img {
    margin-right: 23px;
}

.shop-list-single .desc h2 {
    font-family: "OSSemiBold";
    font-weight: normal;
    margin-bottom: 14px;
    font-size: 18px;
    text-transform: uppercase;
    color: #555555;
}

.shop-list-single .desc p {
    margin-bottom: 6px;
    font-size: 14px;
    color: #777777;
}

.shop-list-single .desc .new-price {
    font-size: 24px;
    text-transform: uppercase;
    color: #E2B846;
}
.shop-list-single .right .single-shop-select {
    position: relative;
    width: 152px;
    margin-right: 20px;
    cursor: pointer;
}
.shop-list-single .right i {
    position: absolute;
    top: 17px;
    right: 16px;
    margin-top: -2.5px;
    font-size: 14px;
    z-index: 1;
}
.shop-list-single .right .single-shop-select > select {
    background: none;
    height: 42px;
    border: 1px solid rgba(187, 187, 187, 0.5);
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-user-select: none;
}

.shop-list-single .right .quantity-wanted-p {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(187, 187, 187, 0.5);
    display: inline-block;
    margin-right: 20px;
    height: 42px;
}
.shop-list-single .right .quantity-wanted-p .qtybutton {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    padding: 0;
    text-align: center;
    width: 20px;
}
.shop-list-single .right .quantity-wanted-p .qtybutton {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    padding: 0;
    text-align: center;
    width: 20px;
}
.shop-list-single .right .quantity-wanted-p input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none !important;
    height: 39px;
    line-height: 42px;
    text-align: center;
    width: 11px;
}
.shop-list-single .right a {
    display: block;
    width: 132px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E2B846;
}
/* END SHOP RIGHT AREA */


/* SHOP WIDGET */

.checkbox {
	display: none;
}

.checkbox-custom,
.label {
	display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox:checked + .checkbox-custom {
	border: 3px solid #E2B846;
}

.widget-title {
    font-family: 'OSSemiBold';
    font-size: 20px;
    color: #444444;
    padding-bottom: 26px;
    margin-bottom: 0;
}

.widget-header.active {
    border-bottom: none;
}

.sidebar-title {
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    padding: 24px 15px 24px 0;
    margin-bottom: 0;
}

.sidebar-title span {
    color: rgba(68, 68, 68, 0.5);
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    width: 100% !important;
    border: 1px solid #C4C4C4;
}

.chosen-container {
    width: 100% !important;
    font-size: 14px;
}

.chosen-container-multi .chosen-choices {
    margin: 0;
    padding: 0 3px;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    background: transparent;
}

.chosen-container-multi .chosen-choices li.search-choice {
    font-size: 14px;
    margin: 3px 4px 3px 0;
    padding: 4px 31px 5px 14px;
    border: none;
    background: #E2B846;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    line-height: normal;
}

.chosen-results::-webkit-scrollbar,
.widget .list::-webkit-scrollbar {
    width: 4px;
}

.chosen-results::-webkit-scrollbar-thumb,
.widget .list::-webkit-scrollbar-thumb {
    background: #E2B846;
    border-radius: 2px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 9px;
    right: 12px;
    width: 10px;
    height: 10px;
    background: url(../img/close-icon.svg);
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: 0;
}

.chosen-container-active .chosen-choices {
    box-shadow: none;
}

.chosen-container .chosen-drop {
    position: static;
    display: none;
    border: none;
}

.chosen-container .chosen-results {
    width: 100%;
    height: 156px;
    color: #777777;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    max-height: 240px;
    box-shadow: 0px, 4px rgba(0, 0, 0, 0.12)
}

.chosen-container .chosen-results li {
    margin: 0;
    padding: 7px 0 8px 16px;
    line-height: 15px;
    font-size: 14px;
}

.chosen-container .chosen-results li.highlighted {
    color: #fff;
    background: #E2B846;
}

.widget-header {
    position: relative;
    cursor: pointer;
    border-bottom: 1px dotted #bbb;
}
.sidebar-title::before {
    display: none;
}
.widget-header a {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    color: #444;
    width: 10px;
    height: 6px;
}

.widget-header.active a {
    margin-top: 7px;
    transform: rotate(180deg);
}

.widget-header a > i {
    color: #444;
    width: 10px;
    height: 6px;
}

aside.widget {
    margin-bottom: 0;
}

.widget .list {
    width: 100%;
    height: 300px;
    overflow: auto;
}

.widget .list li {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgba(196, 196, 196, 0.25);
}

.widget .list li:last-child {
    border-bottom: none;
}

.widget .list .label {
    font-size: 16px;
    color: rgba(68, 68, 68, 0.75);
    display: inline-block;
    padding-left: 23px;
    margin-bottom: 0;
    font-weight: normal;
}

.widget .list li a:hover {
    color: #e2b846;
}

.widget-search .widget-header {
    border-bottom: none;
}

.widget-search .search {
    position: relative;
}

.widget-search .search i {
    position: absolute;
    top: 50%;
    left: 18px;
    margin-top: -15px;
    color: #DDDDDD;
    font-size: 21px;
}

.widget-search input {
    width: 100%;
    height: 60px;
    font-family: 'OS';
    font-size: 18px;
    padding-left: 55px;
    border: 1px solid #DDDDDD;
    background: #fff;
    color: #555555;
}

.widget-search input::-webkit-input-placeholder { opacity: 1; color: #DDDDDD; }
.widget-search input:-ms-input-placeholder { opacity: 1; color: #DDDDDD;}
.widget-search input::-ms-input-placeholder { opacity: 1; color: #DDDDDD;}
.widget-search input::placeholder { opacity: 1; color: #DDDDDD;} 
/* END SHOP WIDGET */

/*  FOOTER AREA  */
.footer-left > p {
    font-size: 15px;
    line-height: 23px;
    font-weight: normal;
    white-space: pre-line;
    color: #777777;
    margin-top: 55px;
    margin-bottom: 0;
}

.footer-top-area .top-menu {
    margin-bottom: 63px;
}

.footer-top-area .top-menu ul {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.footer-top-area .top-menu li {
    margin-right: 53px;
}

.footer-top-area .top-menu li:last-child {
    margin-right: 0;
}

.footer-top-area .top-menu li a {
    font-size: 16px;
    color: #444444;
}

.footer-top-area .top-menu li a:hover {
    color: #e2b846
}

.footer-top-area .contacts {
    display: flex;
    justify-content: space-between;
}

.footer-top-area .contacts h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #444444;
}

.footer-top-area .contacts p {
    font-size: 16px;
    color: #777777;
}

.footer-top-area .contacts .address p {
    white-space: pre-line;
}

.footer-top-area .contacts .tel p:first-of-type {
    margin-bottom: 0;
}
/* END FOOTER AREA  */

.shopping-cart-area table th {
    font-size: 18px;
    color: #777777;
}

.t-product-name {
    width: 265px;
}
.shopingcart-bottom-area a {
    font-family: "OSSemiBold";
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
}

.shopping-cart-area .total-price,
.shopping-cart-area .total {
    height: 62px;
    font-size: 18px;
    text-transform: uppercase;
    color: #777777;
}

.shopping-cart-area .total:not(:nth-child(6)) {
    border-right: none;
}

/* BREADCRUMBS  */

.breadcrumbs-area2.register {
    background: rgba(0, 0, 0, 0) url("../img/register-bg.jpg") no-repeat scroll center center;
}
.breadcrumbs-area2.account {
    background: rgba(0, 0, 0, 0) url("../img/account-bg.jpg") no-repeat scroll center center;
}
.breadcrumbs-area2.order {
    background: rgba(0, 0, 0, 0) url("../img/order-bg.jpg") no-repeat scroll center center;
}
.breadcrumbs-area2 {
    background: rgba(0, 0, 0, 0) url("../img/breadcrumbs-bg.jpg") no-repeat scroll center center;
    color: #fefefe;
    padding: 70px 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}
.breadcrumbs-area2 h2 {
    font-family: "OSSemiBold";
    font-weight: normal;
    margin-bottom: 9px;
}

.breadcrumbs-area2 p {
    font-family: "OSSemiBold";
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #FEFEFE;
}

.breadcrumbs > li {
    font-family: "OSSemiBold";
    font-weight: normal;
}

/* END BREADCRUMBS  */

/* PRODUCT SIMPLE AREA */
.single-product-details > h4 {
    font-size: 14px;
    color: #E2B846;
}
.product-price {
    margin-bottom: 30px;
}
.product-price h2 {
    font-size: 34px;
    color: #444444;
}
.product-price h2 span {
    font-size: 22px;
    color: rgba(68, 68, 68, 0.5);
}
.prev-price {
    position: relative;
    font-size: 22px;
    color: rgba(68, 68, 68, 0.5);
}
.prev-price::before {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
    margin-top: -0.5px;
    left: 0;
    background: rgba(68, 68, 68, 0.5);
}
.single-shop-select label {
    font-family: "OSSemiBold";
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #444444;
}
.single-shop-select > select {
    background: #fbfbfb url("../img/shop/down.png") no-repeat scroll right center;
    font-family: "OSSemiBold";
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #777777;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-user-select: none;
}
.single-product-details .cart-btn {
    background: #e2b846 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    height: 55px;
    line-height: 53px;
    margin-right: 10px;
    position: relative;
}

.single-product-details .buy-one-touch a {
    display: block;
    width: 200px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    border: 2px solid #e2b846;
    font-family: "OSSemiBold";
    text-transform: uppercase;
    color: #e2b846;
}

.single-product-details .char p {
    font-family: "OSSemiBold";
    font-size: 14px;
    text-transform: uppercase;
    color: #444444;
}
.single-product-details .char table {
    margin-bottom: 30px;
}
.single-product-details .char table tr:not(:last-of-type) {
    border-bottom: 1px solid #E1E1E1;
    font-size: 16px;
    color: #777777;
}

.single-product-details .char table td {
    width: 250px;
    height: 52px;
    border-bottom: 1px solid #E1E1E1;
    font-size: 16px;
    color: #777777;
}

.product-attributes > span {
    margin-bottom: 15px;
}

/* END PRODUCT SIMPLE AREA */

/* RELATED PRODUCT AREA */
.section-title h2 {
    font-family: "OSSemiBold";
    font-size: 28px;
    text-transform: uppercase;
    color: #444444;
    font-weight: normal;
}
.featured-product-list .overlay-content h2 {
    font-family: "OSSemiBold";
    font-size: 24px;
    color: #5A5A5A;
    font-weight: normal;
}
.overlay-content h4 {
    font-family: "OSSemiBold";
    line-height: normal;
    font-size: 18px;
    bottom: 16px;
    color: #5A5A5A;
}
/* END RELATED PRODUCT AREA */

/* MY ACCOUNT AREA */
.my-account-area .p-details-tab {
    margin-top: 30px;
}

.my-account-area .section-title2 h2 {
    font-size: 34px;
    color: #444444;
}
.p-details-tab ul.p-details-nav-tab li.active a {
    font-family: "OSSemiBold";
    font-size: 16px;
    color: #444444;
    font-weight: normal;
}
.p-details-tab ul.p-details-nav-tab li a {
    font-family: "OSSemiBold";
    font-weight: normal;
    font-size: 16px;
    color: rgba(68, 68, 68, 0.5);
}

.panel-group .address h4 {
    font-family: "OSSemiBold";
    font-size: 20px;
    text-transform: uppercase;
    color: #444444
}
.panel-group .address p {
    font-size: 18px;
    color: #777777;
    margin-bottom: 0;
}

.form-row > label {
    font-size: 18px;
    color: #777777;
}
.checbox-info {
    font-size: 18px;
    color: #777777;
    font-weight: normal;
}
.panel-body.border {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 27px;
}
.personal-data input[type="submit"] {
    width: 180px;
    height: 54px;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E2B846;
    border: none;
}

.stocks .stock-body {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(214, 212, 212, 0.5);
}

.stocks .stock-body p {
    padding: 7px 0;
    margin-bottom: 0;
    font-size: 18px;
}

.stocks .stock-body p:first-child {
    color: #444444;
    
}
.stocks .stock-body p:last-child {
    color: #777777;
}

.stocks .stock-body:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.panel-group .order {
    background: #fff;
}
.panel-group .order .order-body {
    padding: 15px;
    border-bottom: 1px solid #D6D4D4;
}
.panel-group .order .order-body:last-child {
    border-bottom: none;
}
.panel-group .order .order-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.panel-group .order .order-head p:first-child {
    font-size: 18px;
    color: #777777;
}
.panel-group .order .order-head p:last-child {
    font-family: "OSSemiBold";
    font-size: 18px;
}
.panel-group .order .order-head p.delivered {
    color: #3DD97B;
}
.panel-group .order .order-head p.new {
    color: #777777;
    background: transparent;
}
.panel-group .order .order-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel-group .order .order-product .right {
    display: flex;
    align-items: center;
}
.panel-group .order .order-product .name {
    font-family: "OSSemiBold";
    font-size: 16px;
    text-transform: uppercase;
    color: #777777
}

.panel-group .order .order-product .quantity {
    font-size: 16px;
    text-transform: uppercase;
    color: #777777;
    padding-right: 50px;
}
.panel-group .order .order-product .price {
    font-family: "OSSemiBold";
    font-size: 18px;
    text-transform: uppercase;
    color: #444444;
}

.order .panel-body {
    padding: 0;
}
.panel-group .order .order-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(214, 212, 212, 0.5);
}
.panel-group .order .order-total p {
    padding-top: 15px;
    margin-bottom: 0;
}
.panel-group .order .order-total p:first-child {
    font-family: "OSSemiBold";
    font-size: 16px;
    text-transform: uppercase;
    color: #777777;
}

.panel-group .order .order-total p:last-child {
    font-family: "OSSemiBold";
    font-size: 18px;
    text-transform: uppercase;
    color: #444444;
}

.panel-group .order .order-total.gold {
    border-color: #E0B645;
}
.order-head .left {
    display: flex;
    align-items: center;
}

.order-head .left p {
    padding-right: 15px;
    margin-bottom: 0;
}
.order-head .left .paid {
    color: #E2B846;
}
/* END MY ACCOUNT AREA */

.shop-pagination.center {
    text-align: center;
    float: none;
}
.panel-body .form-row.custom.single-shop-select > label {
    font-family: "OS";
    font-size: 18px;
    color: #777777;
    text-transform: none;
    font-weight: normal;
}
.panel-body .form-row.custom.single-shop-select > select {
    background: #eaeaea url("../img/shop/down.png") no-repeat scroll right center;
    border: medium none;
    cursor: pointer;
    text-transform: none;
    font-family: "OS";
    font-size: 16px;
    font-weight: normal;
    color: #777777
}
#payment-form li.control label, ul.form-list li.control label {
    font-size: 18px;
    color: #777777;
}
.panel-group input[type="submit"] {
    width: 247px;
    height: 54px;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E2B846;
    border: none;
    font-family: "OSSemiBold";
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 45px;
}
#entity {
    display: none;
}
.single-product-image-inner .tab-content img {
    width: 100%;
}
.product-tabs {
    display: flex;
    justify-content: space-between;
}
.product-tabs li {
    margin-right: 10px;
}
.shop-list-single .right.cart {
    align-items: center;
}
.shop-list-single .right.cart > span:first-child {
    margin-right: 60px;
}
.shop-list-single .right.cart > span:last-child {
    margin-right: 0;
}
.shop-list-single .right.cart .quantity-wanted-p input {
    width: 20px;
}
.shop-list-single .right.cart .quantity-wanted-p {
    margin-right: 60px;
}
.wishlist-table-area.cart {
    padding-bottom: 60px;
    border: none;
    border-bottom: 1px solid #dddddd;
}
.shopingcart-bottom-area.cart a {
    width: 250px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
}
@media (max-width: 1459px) {
    .mainmenu nav ul li a {
        font-size: 16px;
        text-transform: uppercase;
    }
    .header-cart ul li:nth-child(2) {
        flex-wrap: wrap;
        margin-left: 23px;
    }
    .shop-right-area .shop-left-tab {
        width: 70%;
    }
    .widget-search input {
        font-size: 15px;;
    }

    .footer-top-area .top-menu li {
        margin-right: 20px;
    }
}

@media (max-width: 1199px) {
    .header-top-message .req-call {
        display: none;
    }
    .header-cart ul li:nth-child(2) .right {
        display: none;
    }
    .mainmenu nav ul li a {
        font-size: 14px;
    }

    .widget-search input {
        font-size: 15px;
        padding-left: 10px;
    }
    .widget-search .search i {
        display: none;
    }
    .shop-tab-list {
        display: flex;
        justify-content: space-between;
    }
    .shop-left-tab {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        float: none !important;
    }
    .shop-list-single {
        flex-wrap: wrap;
    }
    .shop-list-single .left {
        margin-bottom: 20px;
    }

    .footer-top-area .top-menu ul {
        margin-top: 0;
    }
    .footer-left > p {
        white-space: normal;
        margin-top: 20px;
    }
    .footer-top-area .top-menu {
        margin: 63px 0;
    }
    .footer-top-area .contacts {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .mainmenu {
        margin-top: 10px;
    }
    .header-cart ul li:nth-child(1) {
        display: none;
    }
    .header-cart ul li:nth-child(2) {
        margin-left: 0;
    }
    .header-cart {
        margin-top: 2px;
    }
    .shop-right-area .shop-left-tab {
        width: 60%;
    }
    .widget-search input {
        font-size: 11px;
        padding-left: 10px;
    }
    .widget .list li a {
        padding-left: 5px;
    }
    .panel-group .order .order-product .quantity {
        padding-right: 15px;
    }
    #payment-form li.control label, ul.form-list li.control label {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .header-top-menu > ul > li {
        padding-left: 0;
    }
    .header-top-menu {
        width: 100%;
    }
    .header-top-menu .nav-menu {
        display: flex;
        justify-content: space-between;
    }

    aside.widget-search {
        margin-bottom: 25px;
    }
    .shop-right-area .shop-left-tab {
        width: 30%;
    }
    .widget-search input {
        font-size: 19px;
        padding-left: 10px;
    }

    .footer-top-area .top-menu {
        display: none;
    }
    .footer-top-area .footer-left {
        text-align: center;
    }
    .footer-top-area .contacts {
        flex-direction: column;
        margin-top: 25px;
    }
    .footer-top-area .contacts {
        text-align: center;
    }

}

@media (max-width: 479px) {
    .header-top-menu ul li a {
        font-size: 10px;
    }
    .breadcrumbs-area2 h2 {
        font-size: 35px;
    }
    .shop-list-single .left,
    .shop-list-single .right {
        flex-wrap: wrap;
    }
    .shop-list-single .right.cart {
        flex-direction: column;
    }
    .shop-list-single .right.cart > span:first-child,
    .shop-list-single .right.cart .quantity-wanted-p {
        margin-right: 0;
    }
    .shop-list-single .right.cart > span {
        margin-bottom: 15px;
    }
    .shop-list-single .left img {
        margin-bottom: 10px;
    }
    .shopingcart-bottom-area.cart a {
        margin: 0 auto;
    }
    .panel-group .order .order-product {
        flex-wrap: wrap;
    }
    #payment-form li.control label, ul.form-list li.control label {
        font-size: 11px;
    }
    #payment-form li.control label, ul.form-list li.control label {
        margin-left: 0;
    }
    #payment-form li.control input.radio {
        margin-right: 2px;
    }
}