html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  height: 905px;
  background: url("../img/header-bg.jpg");
}
header .top-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .top-line a {
  text-decoration: none;
}
header .top-line .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top-line .phone {
  margin-right: 32px;
  font-family: 'SFUIT-Medium';
  font-size: 15px;
  color: #fff;
}
header .top-line .call {
  display: block;
  width: 196px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  font-family: 'SFUIT-Regular';
  font-size: 15px;
  color: #ddae68;
  border: 1px solid #b88846;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
header .top-line .call:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  color: #fff;
  background-color: #b88846;
}
header .center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
  color: #fff;
}
header .center h1 {
  font-family: 'MP-Medium';
  font-size: 75.38px;
  color: #dfaf69;
  letter-spacing: 9.4px;
  padding-top: 37px;
}
header .center h3 {
  font-family: 'MP-Medium';
  font-size: 40px;
  padding-top: 34px;
}
header .center h3::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -77px;
  margin-top: 72px;
  width: 154px;
  height: 33px;
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
header .center p {
  font-family: 'SFUIT-Medium';
}
header .center p:first-of-type {
  font-size: 29px;
  padding-top: 95px;
}
header .center p:first-of-type::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -448px;
  margin-top: 54px;
  width: 896px;
  height: 1px;
  background: url("../img/bottom-line.png");
}
header .center p:last-of-type {
  padding-top: 100px;
  font-size: 12px;
  letter-spacing: 1.5px;
}
header .center p:last-of-type::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -5.5px;
  margin-top: 24px;
  width: 11px;
  height: 16px;
  background-image: url(../img/sprite.png);
  background-position: -185px 0;
  background-repeat: no-repeat;
}
