.dn{display: none;}
.db{display: block;}

@media (min-width: 1200px) {
    .mcol-lg-2 {
        width: 19.9999999997%;
    }
}

/*economic table styles*/
table.basic-table {
    min-width: 1052px;
}
table.economic_table {
    border: 1px solid #dddcdc;
    text-align: center;
}
.dataTable {
    border-collapse: collapse;
}
table.purchased_shares thead,
table.involvement-organizations thead,
table.economic_table thead,
table.economic_table .empty-row,
table.economic_table .total-row {
    background-color: #eeeded;
}
table.economic_table thead td {
    padding: 7px 20px 2px;
}
table.economic_table td.name,
table.economic_table td.detail-name,
table.economic_table td.detail-name2 {
    width: 20%;
}


table.involvement-organizations,
table.economic_table tbody td:nth-child(3),
table.economic_table tbody td:nth-child(5),
table.economic_table tbody td:nth-child(6) {
    text-align: left;
}

table.involvement-organizations td.first-child,
table.involvement-organizations td.last-child {
    text-align: center;
}


table.economic_table td.small-col,
table.economic_table td.sum {
    width: 10%;
}
table.economic_table tbody td {
    padding: 5px 20px;
}
table.economic_table .total-row td,
table.economic_table .time-interval {
    font-weight: bold;
    padding: 2px 20px;
}
table.economic_table .total-row td:first-child,
table.economic_table .total-row td:nth-child(3)
{
    text-align: right;
}

table.purchased_shares,
table.involvement-organizations {
    border: 1px solid #dddcdc;
    text-align: left;
}


.filter-panel .form-control {
    /*width: 40%;*/
    display: inline-block;
}

.filter-panel .form-group {
    width: 50%;
    display: inline-block;
    float: left;
}
.purchased_shares .round-link {
    background: #26a69a;
    border-radius: 20px;
    color: #fff;
    padding: 5px 0;
    width: 170px;
    display: inline-block;
    text-align: center;
    margin: 2px 0;
    border-width: 0;
}
.purchased_shares .round-link.center {
    width: 100%;
}

.purchased_shares td.table-links {
    width: 35%;
    padding: 0;
}

.up_arrow {
    color: green;
}
.down_arrow {
    color: red;
}
.one_star {
    display: block;
    float: right;
    margin-bottom: 5px;
}
.purchased_shares thead tr {
    height: 20px;
}
.purchased_shares td {
    padding: 3px 10px !important;
}
.purchased_shares td.sorting_1 {
    text-align: center;
}
table.purchased_shares td:nth-child(2) {
    width: 240px;
}
.modal-window .panel-flat{
    width: 100%;
    box-shadow: none;
}

.modal-window .heading-form {
    margin-left: 0 !important;
}
.modal-window  button.close {
    position: relative;
}
.modal-window .input-group {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.daterangepicker.dropdown-menu {
    z-index: 1510;
}
#hours-available-progress,
#goal-progress {
    height: 157px;
}


.same_block {
    min-height: 70px;
}

.quick-stats-boxes .height_block .panel-body {
    height: 112px;
}

.cold_link {
    margin-right: 20px;
}

.total-register-info {
    display: block;
}

.purchased #alpaca1 {
    padding-left: 4px;
}
.affiliate .resize-height {
    height: 287px;
}


/*.resize-height .panel-body {
  height: 285px;
}
*/
/*@media (min-width: 1650px) {
  .resize-height .panel-body {
    height: 260px;
  }
}*/

/*
Стили для блока с днями недели в графике в модальном окне
 */
.diag{position: relative;}
.days{
    position: absolute;
    left: 0px;
    bottom: 34px;
    width: 100%;
    background-color: white;
}
.days ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.days ul li{
    float: left;
    color: #9A9A9A;
}
.days ul li:nth-child(1){padding-left: 66px;}
.days ul li:nth-child(2){padding-left: 54px;}
.days ul li:nth-child(3){padding-left: 49px;}
.days ul li:nth-child(4){padding-left: 54px;}
.days ul li:nth-child(5){padding-left: 54px;}
.days ul li:nth-child(6){padding-left: 60px;}
.days ul li:nth-child(7){padding-left: 56px;}

/* поле ввода "количество акций для продажи" в модальном окне "продать акции" */
.shares-for-sell{
    margin: 0 auto;
    width: 300px;
}
.shares-for-sell input{
    background-color: #F5F5F5;
    padding: 9px;
    border: none;
    border-radius: 3px!important;
    border-bottom: 1px solid #dddddd;
    margin-left: -15px;
    width: 125px;
}
.shares-for-sell input:focus{
    border-bottom: 1px solid #C7C7C7;
}

.avatar-ch-wrapper{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.avatar-ch-wrapper li{
    float: left;
    color: #8D87A5;
}
.avatar-ch-wrapper li:nth-child(2){
    padding: 26px 0 0 13px;
}
.img-responsive{
    display: block;
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 100%;
    background-color: #EF5350;
    cursor: pointer;
}
.avatar-progress-wrapper-invest{
    text-align: left;
    margin: -12px 0 8px;
}
.cover-ch-wrapper{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.cover-ch-wrapper li{
    color: #8D87A5;
    overflow: hidden;
}
.cover-ch-wrapper li:nth-child(2){
    padding: 26px 0 0 13px;
    text-align: left;
}
.img-cover-responsive{
    display: block;
    width: 500px;
    height: 300px;
    float: left;
    background-color: #EF5350;
    cursor: pointer;
}

@media (max-width: 768px){
    .avatar-ch-wrapper li{
        float: none;
    }
    .avatar-ch-wrapper li:nth-child(2){
        padding: 8px 0 0 13px;
    }
    .img-responsive{
        float: none;
    }
    .avatar-progress-wrapper-invest{
        text-align: center;
        margin-top: -18px;
    }
    .img-cover-responsive{
        width: 100%;
        height: auto;
    }
}

.btns-create-org .btn{
    width: 100%;
}
.btns-create-org .description{
    margin: 20px 0;
}
.btns-create-org .wrap-btns{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.btns-create-org .wrap-btns li{
    float: left;
    width: 180px;
    margin-right: 12px;
}
.btns-create-org .wrap-btns li .progress{
    width: 94%;
    background-color: white;
    text-align: center;
    margin-top: 5px;
}
.btns-create-org .wrap-btns li .progress .delete{
    cursor: pointer;
    transition: 0.3s;
}
.btns-create-org .wrap-btns li .progress .delete:hover{
    font-weight: bold;
    color: red!important;
}
@media (max-width: 620px) {
    .btns-create-org .wrap-btns li {
        float: none;
        text-align: center;
        padding: 8px 0;
        width: 100%;
    }
    .btns-create-org .wrap-btns li .progress {
        text-align: center;
        padding: 0;
        width:100%;
    }
}
.page-header-content .header{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.page-header-content .header li{
    float: left;
    width:50%;
}
.page-header-content .header li:last-child{text-align: right;}
.voting-subject{
    background-color: #EEEDED!important;
    margin-bottom: 10px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.voting-title{
    list-style: none;
    padding: 0;
    margin: 0;
}
.voting-title li{
    float: left;
}
.voting-title li:first-child{
    width: 90%;
}
.voting-title li:last-child{
    width: 30px;
    float: right;
    text-align: right;
    margin-right: -10px;
}
.golos_content.create .pencil{
    right: -5px;
    cursor: pointer;
}
.golos_content.create .cross{
    right: -16px;
    cursor: pointer;
}
.saving-a-poll .save-but-wrap{
    text-align: right;
    padding-top: 35px;
    /*overflow: hidden;*/
}
/* promoTraffic */
.head-text{
    padding: 15px 70px 0;
}
.view-statistics{
    padding-left: 10px;
}
.dateptimepicker-statistics-interval{
    width: 100%;
}
.add-on.from,
.add-on.to{
    display: block;
    position: absolute;
    top: 3px;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: text;
}
.chart-container.count-shares{
    margin-top: -55px;
}

/* CREATE_A_SURVEY */
.heading-elements-del-edit{
    float: right;
    margin-top: 5px;
    margin-right: -10px;
}
.page-header.answer{
    height: 66px;
}
.page-header.answer h5{
    position: absolute;
}
@media (max-width: 767px){
    .btn.add-files,
    .btn.add-answer{
        width: 100%;
    }
    .btn.add-files{
        margin-bottom: 20px;
    }
}
@media (max-width: 500px){
    .btn.save{
        width: 100%;
    }
}


/* ТАБЛИЦА КАПИТАЛЬНЫЕ/ОПЕРАЦИОННЫЕ РАСХОДЫ */
.economic_table thead tr td{
    padding: 5px 0;
}
.economic_table tbody td{
    position: relative;
}
.economic_table .view_t{
    display: block;
    width: 100%;
    min-height: 30px;
    padding-top: 5px;
    cursor: pointer;
}
.economic_table .edit{
    display: none;
}
.economic_table .view_t + input,
.economic_table .view_t + textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #ff00005d;
    border-left: none;
    border-right: none;
    padding: 0px 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.economic_table .view_t + textarea{
    min-height: 70px;
    z-index: 1;
}
.economic_table .itog{
    display: block;
    width: 100%;
    min-height: 30px;
    padding-top: 5px;
}
.economic_table thead tr td .cost,
.economic_table thead tr td .summ,
.economic_table thead tr td .main-itog{
    min-width: 110px;
}
/* страницы - капитальные/операционные расходы */
.economic_table .inputs-fields.kp input{
    width: 100%;
}

/* Выпадающие списки даты первого месяца отчета */
.upload-current-economy,
.upload-business-plan{
    position: relative;
}
#start-date{
    display: none;
    border: 1px solid #26A69A;
    background-color: #26A69A;
    color: white;
    text-align: center;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: 30px;
    z-index: 1;
}
#start-date .description{
    padding: 5px;
}
#start-date select{
    border: none;
    color: rgba(0,0,0,0.8);
}
#start-date .close{
    position: absolute;
    bottom: 0;
    right: -22px;
    background-color: rgba(255,0,0, 1);
    color: white;
    z-index: 1;
    width: 20px;
    height: 20px;
    font-size: 17px;
    border-radius: 100%;
    cursor: pointer;
}
#start-date button{
    display: none;
    background-color: rgba(38,95,166, 1);
    border: 1px solid rgba(255,255,255, 0.6);
    padding: 2px 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* поля добаления новой строки в месяц текущая экономика/бизнес план */
.inputs-fields td{
    padding: 0px 5px!important;
}
.inputs-fields textarea{
    border: 1px solid #ddd;
    float: left;
    max-width: 100%;
    min-width: 150px;
    padding: 20px 5px 0;
}
.inputs-fields input{
    border: 1px solid #ddd;
    float: left;
    max-width: 100%;
    min-width: 150px;
    padding: 5px;
    text-align: center;
}
























/* для JS смены состояния (ошибки/предупреждения/успех) */
.success{
    color: green;
}
.warning{
    color: #D86B00;
}
.danger{
    color: red;
}