.hero_btn {
    color: #000;
    border-color: #1cbac8;
    text-transform: none;
    box-shadow: none;
}

.hero_btn:visited {
    color: #000;
    background-color: #fff;
    border-color: #1cbac8;
    box-shadow: none;
}

.hero_btn:focus,
.hero_btn:active {
    color: #000;
    border-color: #1cbac8;
    background-color: #fff;
    text-transform: none;
    box-shadow: none;
}

.hero_btn:hover {
    color: #fff;
    border-color: #1cbac8;
    background-color: #1cbac8;
    text-transform: none;
    box-shadow: none;
}

.menuzord ul a.active {
    color: #1cbac8;
}

.text-green {
    color: #8BC34A;
}

.text-red {
    color: #F44336;
}

.text-red:hover {
    color: #F44336;
}

.text-green:hover {
    color: #8BC34A;
}

.navbar-fixed-top {
    border-bottom: 1px solid #eee;
}

.nav_border::after {
    display: none;
}

p {
    line-height: normal;
    margin-bottom: 0;
}

.menuzord-brand.left {
    margin: 15px 0 0 -8.5px;
}

.inner_typography {
    padding-bottom: 0;
    margin-top: 100px;
}

.header h4 {
    margin-bottom: 0;
}

.header h4 .pull-right {
    font-size: 14px;
}

.earn-control-manage {
    margin-top: 43px;
}

.prev {
    margin-top: 29px;
    margin-bottom: 15px;
    display: flex;
    color: #000;
}

.prev .icon-arrow-left52::before {
    content: "\e8b5";
    line-height: 25px;
}

.prev p {
    padding-left: 15px;
    margin-bottom: 0;
}

.prev:hover {
    text-decoration: none;
    color: #000;
}

.table-stock {
    margin-top: 42px;
}

.table-stock, .table-stock th {
    text-align: center;
}

.table-stock td {
    border-right: 1px solid #ddd;
}

.table-stock tr td:last-child {
    border-right: none;
}

.table-stock > tbody > tr > td {
    height: 44px;
}

.economy-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.economy {
    width: 222px;
    height: 103px;
    box-sizing: border-box;
}

.economy .panel-body {
    padding: 10px 7px 40px 17px;
    color: #fff;
}

.economy h3 {
    margin-top: 0;
}

.economy .icons-list {
    display: flex;
    justify-content: flex-end;
}

.nav-tabs {
    text-align: center;
}

.product_extra_vote {
    padding-top: 60px;
}

.product_extra_vote .nav-tabs > li a, .product_extra_vote .nav-tabs > li a:hover, .product_extra_vote .nav-tabs > li a:focus, .product_extra_vote .nav-tabs > li a:visited {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 418px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-transform: none;
}

.product_extra_vote .participation > li a, .product_extra_vote .participation > li a:hover, .product_extra_vote .participation > li a:focus, .product_extra_vote .participation > li a:visited {
    padding: 7px 25px;
}
.product_extra_vote .nav-tabs {
    margin-bottom: 0;
}

.product_extra_vote .tab-content > .active {
    border: none;
}

.product_extra_vote .tab-pane {
    padding: 0;
}

.tab-content-internal {
    margin-top: 4px;
}

#current {
    margin-top: 99px;
}

#prev .tab-content {
    margin-top: 99px;
}

#prev .tab-content.internal {
    margin-top: 62px;
}

.product_extra_vote .progress {
    height: 10px;
    margin-bottom: 0;
}

.content .btn-sm:not(.btn-rounded),
.content .btn-xs:not(.btn-rounded){
     border-radius: 0;
 }

.content .btn-sm:not(.btn-rounded):hover {
    color: #fff;
}

.organization_info .nav-tabs {
    margin-bottom: 0;
    text-align: left;
}

.organization_info .single_progressbar {
    margin: 9px 0;
}

.organization_info .nav.nav-tabs {
    display: flex;
    flex-direction: row;
}

.organization_info .nav.nav-tabs li a {
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0 5px;
}

.organization_info .nav.nav-tabs li:nth-child(3) a {
    padding-top: 5px;
    line-height: 18px;
}

.downl-more {
    padding-bottom: 100px;
}

.org p {
    color: #585858;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 26px;
}

.org .product_more_info_tab {
    display: flex;
    flex-direction: column;
    height: 234px;
}

.org .product_more_info_tab a {
    margin-top: auto;
}

.org .product_more_info_tab p {
    margin-bottom: 0;
}

.percent {
    font-weight: 900;
}

.product_quantity.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.product_quantity.left .btn.hero_btn {
    height: 43.15px;
    line-height: 17px;
}

.product_quantity.left .sp_minus,
.product_quantity.left .sp_minus:hover,
.product_quantity.left .sp_minus:active,
.product_quantity.left .sp_minus:focus,
.product_quantity.left .sp_minus:visited {
    left: 0;
}

.product_quantity.left .input-group .form-control {
    height: 35px;
}

.product_quantity.left .sp_minus,
.product_quantity.left .sp_minus:hover,
.product_quantity.left .sp_minus:active,
.product_quantity.left .sp_minus:focus,
.product_quantity.left .sp_minus:visited,
.product_quantity.left .sp_plus,
.product_quantity.left .sp_plus:hover,
.product_quantity.left .sp_plus:active,
.product_quantity.left .sp_plus:focus,
.product_quantity.left .sp_plus:visited,
.product_quantity.left .input-group .form-control,
.product_quantity.left .input-group .form-control:focus {
    height: 35px;
    padding: 9px 9px;
}

.product_quantity .input-group .form-control.long {
    width: 191px;
}

.product_quantity.left .input-group {
    margin: 0;
    padding-left: 32px;
    padding-right: 39px;
}


.header-desc .desc-right.less {
    padding: 50px;
}


.desc-right {
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}

.section-desc h5 {
     font-size: 15px;
     color: #fff;
 }

.header-desc .desc-right .el span {
    color: #fff;
}
.header-desc .desc-right .el h4 {
    color: #fff;
}
.header-desc .desc-right .el p {
    color: #fff;
}

.desc-right .hero_btn {
    color: #fff;
}

.body1 .description li p {
    line-height: 22px;
}

.under-header.gray-block {
    text-align: center;
    padding: 69px 0 70px 0;
    margin-top: 35px;
}
.under-header.gray-block button {
    margin: 0;
}
.under-header.gray-block button:first-child {
    margin-right: 150px;
}

.heading-elements {
    height: 18px;
    right: 10px;
}

.heading-elements:not(.visible-elements) .icons-list {
    margin-top: 0;
}

.heading-elements:not(.visible-elements) .heading-text, .heading-elements:not(.visible-elements) .heading-btn, .heading-elements:not(.visible-elements) .ui-slider, .heading-elements:not(.visible-elements) .noui-slider, .heading-elements:not(.visible-elements) .nav-tabs, .heading-elements:not(.visible-elements) .nav-pills, .heading-elements:not(.visible-elements) .pagination, .heading-elements:not(.visible-elements) .progress, .heading-elements:not(.visible-elements) .icons-list, .heading-elements:not(.visible-elements) .breadcrumb, .heading-elements:not(.visible-elements) .pager, .heading-elements:not(.visible-elements) .heading-form, .heading-elements:not(.visible-elements) .daterange-custom, .heading-elements:not(.visible-elements) .heading-thumbnails, .heading-elements:not(.visible-elements) > .btn-group {
    margin-left: 0px;
}

.block-stats {
    width: 1170px;
    margin: 0 auto;
}

.quick-stats-boxes {
    display: flex;
    flex-direction: row;
}

.quick-stats-boxes .panel {
    width: 20%;
    height: 112px;
    margin-right: 18px;
}

.quick-stats-boxes .panel:last-child {
    margin-right: 0;
}

.table-responsive.big-table {
    overflow-x: visible;
}

.input-group-addon {
    background: none;
    border: none;
}

.form-control[readonly] {
    border: none;
    background: none;
}

.pick-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pick-date .left {
    display: flex;
    align-items: center;
}

.pick-date .right {
    display: flex;
}

.pick-date .right .input-group-addon {
    display: flex;
    align-items: center;
    margin-right: 54px;
}

.pick-date .right .caret {
    display: flex;
    align-items: center;
}

.input-group .form-control.pick_date {
    width: 70px;
}
.header2 {
    display: flex;
    flex-wrap: wrap;
}

.header2 .checkbox {
    padding-top: 2px;
    margin-left: 10px;
}

.vote {
    width: 80%;
}

.section-desc .el p {
    font-size: 16px;
}

.vote p {
    color: #fff;
}

.vote .right {
    min-width: 119px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.vote .right h5 {
    padding-bottom: 9px;
}

.vote .top {
    display: flex;
    justify-content: space-between;
}

.vote .bar {
    display: flex;
    align-items: center;
}

.vote .bar .progress {
    width: 100%;
    margin-bottom: 0;
    margin-right: 100px;
}


.documentation {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 0;
}

.documentation ul {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    margin-top: 35px;
}

.documentation ul li {
    min-width: 70px;
    height: 135px;
    text-align: center;
    margin-right: 40px;
    list-style-type: none;
}

.documentation ul li div {
    display: flex;
    flex-direction: column;
}

.documentation h4 {
    text-align: center;
}

.documentation .single_mobile_feature {
    position: relative;
    padding-top: 76px;
    padding-left: 0;
    margin-bottom: 0;
}

.documentation .single_mobile_feature div {
    left: 50%;
    margin-left: -35px;
}

.documentation .single_mobile_feature p {
    line-height: 16px;
}

.delimeter {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.delimeter div {
    width: 50%;
}
.delimeter h5 {
    font-size: 18px;
    margin: 0;
}

.body1 h4 {
    color: #585858;
}

.field-group {
    display: flex;
    margin-bottom: 19px;
}

.field {
    width: 553px;
    height: 26px;
    border: 1px solid #cccccc;
}

.btn-small {
    width: 94px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    margin-right: 0;
    margin-top: -5px;
    margin-left: 15px;
}

.btn-small:focus {
    padding: 0;
}

.uploader {
     margin-top: 10px;
}

.uploader:hover .action, .uploader:focus .action {
    box-shadow: none;
    background-color: #1cbac8;
    color: #fff;
}

.btn_st_four, .btn_st_four:visited {
    padding: 11px 11px;
    margin-right: 27px;
    background: #fff;
}

.btn_st_four:active, .btn_st_four:focus {
    padding: 11px 11px;
    margin-right: 27px;
    background: #1cbac8;
}

.vote .choiceVote {
    border-radius: 50%;
}

.modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
}

.modal ul {
    position: relative;
}

.modal .close {
    position: absolute;
    z-index: 10;
    right: 7px;
    top: 0;
    font-size: 36px;
    color: #000;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal .under-header {
    position: absolute;
    width: 100%;
    top: 33%;
}

@media screen and (max-width: 1250px) {
    .table-responsive.big-table {
        overflow-x: auto;
    }
    .block-stats {
        width: auto;
    }
}

@media screen and (max-width: 1200px) {
    .menuzord-menu.menuzord-right {
        float: left;
    }
    .head-content {
        margin-top: 130px;
    }
    .field-group {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .menuzord-menu.mp_menu > li > a {
        padding: 26px 6px;
    }
}

@media screen and (max-width: 768px) {
    .menuzord-responsive .menuzord-menu > li > a {
        width: 100%;
        padding: 12px 20px;
        display: block;
        border-bottom: solid 1px #f0f0f0;
    }
    .quick-stats-boxes {
        flex-direction: column;
    }

    .quick-stats-boxes .panel {
        width: 100%;
        height: 112px;
        margin-right: 0;
    }
    .vote {
        width: 100%;
    }
    .modal .under-header {
        position: absolute;
        width: 100%;
        top: 0;
        margin-top: 0;
    }
    .modal .close {
        top: 0;
    }
}

@media screen and (max-width: 764px) {
    .btn-small {
        display: block;
        margin-right: 0;
        margin-top: 10px;
        margin-left: 0;
    }
    .field {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .delimeter {
        flex-direction: column;
    }
}


@media screen and (max-width: 612px) {
    .org .product_more_info_tab a button {
        width: 100%;
    }
    .under-header.gray-block {
        text-align: center;
        padding: 45px 0;
        margin-top: 35px;
    }
    .under-header.gray-block .col-md-12 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .under-header.gray-block button {
        width: 65%;
    }
    .under-header.gray-block button:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 520px) {
    .documentation ul {
        flex-direction: column;
    }
    .documentation ul li {
        margin-bottom: 15px;
        margin-right: 0;
    }
}

@media screen and (max-width: 410px) {
    .header2 {
        flex-direction: column;
    }
    .header2 .checkbox {
        padding-top: 0;
        margin-left: 0;
    }
    .vote .bar .progress {
        margin-right: 25px;
    }
}

@media screen and (max-width: 500px) {
    .product_extra_vote .nav-tabs > li a, .product_extra_vote .nav-tabs > li a:hover, .product_extra_vote .nav-tabs > li a:focus, .product_extra_vote .nav-tabs > li a:visited {
        max-width: 418px;
        width: auto;
    }
}



@media screen and (max-width: 436px) {
    .product_quantity.left .spinner {
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 396px) {
    .org .product_more_info_tab {
        height: auto;
    }
    .organization_info .nav.nav-tabs li a {
        height: 40px;
    }
}



