@font-face {
    font-family: "GPRegular";
    src: url("../fonts/GothaProReg.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GPMedium";
    src: url("../fonts/GothaProMed.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GPBold";
    src: url("../fonts/GothaProBol.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GPBlack";
    src: url("../fonts/GothaProBla.otf");
    font-style: normal;
    font-weight: normal;
}