@font-face {
    font-family: "OSBold";
    src: url("../fonts/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OSLight";
    src: url("../fonts/OpenSans-Light.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OSRegular";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OSSemiBold";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-style: normal;
    font-weight: normal;
}
