html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
	font-family: "RobotoLight";
	font-size: 14px;
	height: 1500px;
	color: #030304;
	background-color: #f4f4f4;
}


#wrapper {
	max-width: 900px;
	margin: 0 auto;
	text-align: left;
}

header {
	width: 100%;
	height: 146px;
	position: fixed;
	z-index: 10;
	background-color: #fff;
}

header .top-line {
	height: 76px;
	line-height: 76px;
}

header .logo {
	float: left;
	margin-top: 16px;
}

header .header-menu {
	float: right;
}

header .header-menu li {
	display: inline-block;
	margin-right: 28px;
}

header .header-menu li a {
	font-size: 16px;
	color: #4f4f57;
	text-decoration: none;
}

header .header-menu li:last-child {
	margin-right: 0;
	vertical-align: middle;
}

header .header-menu li:last-child a {
	width: 20px;
	height: 20px;
	display: block;
	margin-bottom: 2px;
	background: url('../img/sprite.png') 0 0;
}

header .bottom-line {
	width: 100%;
	padding-top: 17px;
	height: 53px;
	background-color: #fcdf00;
}

header .bottom-line a {
	font-size: 14px;
	color: #030304;
	text-decoration: none;
}

header .bottom-line a::before {
	content: '';
	position: absolute;
	width: 29px;
	height: 22px;
	margin-left: -41px;
	margin-top: -3px;
	background: url('../img/sprite.png') -58px 0 no-repeat;
}

header .bottom-line .right a:nth-of-type(1)::before {
	background: url('../img/sprite.png') -119px 0 no-repeat;
}

header .bottom-line .right a:nth-of-type(2)::before {
	background: url('../img/sprite.png') -172px 0 no-repeat;
}

header .bottom-line .right a:nth-of-type(3)::before {
	background: url('../img/sprite.png') -239px 0 no-repeat;
}

header .bottom-line #wrapper > a {
	margin-left: 42px;
}

header .bottom-line .right {
	float: right;
}

header .bottom-line .right a:nth-child(1) {
	margin-right: 58px;
}

header .bottom-line .right a:nth-child(2) {
	margin-right: 69px;
}

.content {
	width: 100%;
	height: 337px;
	position: relative;
	top: 146px;
}

.content .background {
	width: 100%;
	height: 257px;
	position: absolute;
	z-index: -1;
	background-color: #fcdf00;
}

.content .banner {
	width: 240px;
	height: 298px;
	float: right;
	background-color: #fff;
	display: inline-block;
	background: url('../img/banner.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.content .banner .top  {
	width: 100%;
	height: 92px;
	text-align: center;
	background: rgba(0, 0, 0, 0.9)
}

.content .banner .top p {
	font-family: "FiraRegular";
	white-space: pre-line;
	padding-top: 25px;
	font-size: 20px;
	color: #fff;
}

.content .banner p:nth-child(2) {
	font-family: "FiraBold";
	font-size: 24px;
	color: #000000;
	text-align: center;
	line-height: 28px;
	white-space: pre-line;
	padding-top: 70px;
	text-transform: uppercase;
}

.content .banner p:nth-child(3) {
	font-family: "FiraRegular";
	font-size: 20px;
	color: #000000;
	text-align: center;
	line-height: 23px;
	white-space: pre-line;
	padding-top: 20px;
}

.content .banner p:nth-child(3) span {
	font-family: "FiraBold";
	color: #f0c006;
}

.content .head {
	width: 645px;
	height: 47px;
	float: left;
}

.content .head h1 {
	font-family: "FiraRegular";
	font-size: 36px;
	display: inline-block;
}

.content .head span {
	position: relative;
	top: 12px;
	vertical-align: top;
	font-size: 13px;
}

.content .head .viewers {
	padding-left: 66px;
	padding-right: 36px;
}

.content .head span::before {
	content: "";
	position: absolute;
	width: 28px;
	height: 20px;
	margin-top: 1px;
	margin-left: -31px;
	background: url("../img/sprite.png") -317px 0 no-repeat;
}

.content .head span.comments::before {
	background: url("../img/sprite.png") -392px 0 no-repeat;
}

.content form {
	width: 595px;
	height: 230px;
	padding: 30px 25px;
	float: left;
	background-color: #fff;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15)
}

.content form h2 {
	font-family: "FiraRegular";
	font-size: 30px;
	display: inline-block;
}

.content form h2:first-child {
	padding-right: 50px;
}

.content form h2::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 12px;
	margin-top: 10px;
	margin-left: 14px;
	background: url('../img/sprite.png') -473px 0 no-repeat;
}

.content form hr {
	width: 100%;
	height: 1px;
	margin-top: 14px;
	background-color: #e6e6e6;
	border: none;
}

.content form .field {
	display: inline-block;
	width: 168px;
	height: 115px;
	margin-top: 12px;
	margin-right: 42px;
}

.content form .field:last-of-type {
	margin-right: 0;
}

.content form label {
	font-size: 14px;
	color: #767676;
}

.content form .field .amount {
	width: 168px;
	font-size: 30px;
	font-family: "RobotoLight";
	margin-top: 9px;
	margin-bottom: 17px;
	color: #4f4f57;
	border: 0;
}

.content form .field:nth-of-type(2) .amount,
.content form .field:nth-of-type(3) .amount {
	width: 40px;
}

.content form p span {
	color: #a7a7a7;
	font-size: 30px;
}

.slider {
    width: 263px;
    height: 6px;
    background: #fdda00;
    position: relative;
    display: inline-block;
}
.ui-widget-header {
    background: #5c7bbe no-repeat left;
    height: 6px;
    left: 0px;
    top: 0px;
    position: absolute;
}
.ui-slider-handle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    margin-left: -12px;
    z-index: 200;
    border-radius: 50%;
    background: black;
}

.content form input[type="submit"] {
	width: 220px;
	height: 50px;
	display: block;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	background: url('../img/button.jpg') no-repeat;
}

@media screen and (max-width: 900px) {
	header {
		height: 80px;
		padding: 0 20px;
	}
	.content {
		top: 80px;
	}
	.content .head,
	.content form {
		float: none;
		margin: 0 auto;
	}
	.content .head {
		padding-top: 25px;
	}
	.content .background {
		height: 236px;
	}
	header .header-menu,
	.content .banner,
	.bottom-line {
		display: none;
	}
	.content form {
		width: 560px;
		height: 189px;
		padding: 20px;
	}
	.content form h2 {
		font-size: 25px;
	}
	.content form .field {
		margin-right: 24px;
	}
	.content form hr {
		margin-top: 11px;
	}
	.content form .field {
		margin-top: 3px;
	}
	.content form .amount {
		margin-top: 2px;
	}
	.ui-slider {
		bottom: 5px;
	}
	.content form .field {
		height: 95px;
	}
	.content .head h1 {
		font-size: 30px;
	}
	.content form p span {
		color: #a7a7a7;
		font-size: 28px;
	}
}