body {
	font-family: "PTSansBold";
	font-size: 14px;
	box-sizing: padding-box;
	background: url('../img/background.png') no-repeat 50% 0 #d1d1d1;
}

h3 {
	font-family: "PTSansRegular";
	font-size: 20px;
	color: #313945;
}

#wrapper {
	padding: 0 45px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	background-color: #fafafa;
}

header {
	width: 1260px;
	height: 240px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 17px;
	background-color: #fafafa;
	.top {
		height: 130px;
		.logo {
			display: inline-block;
			position: relative;
			top: 6px;
		}
		input[type="search"] {
			width: 427px;
			height: 38px;
			border: 1px solid #b1daff;
			padding-left: 19px;
			@include placeholder-color(#000000);
			margin-left: 70px;
		}
		label {
			width: 25px;
			height: 25px;
			@include sprite(-75px,0);
			position: absolute;
			margin-top: 55px;
			margin-left: -39px;
			cursor: pointer;
			&:hover {
				@include sprite(-111px,0);
			}
		}
		.right {
			display: inline-block;
			margin-left: 60px;
			vertical-align: bottom;
			ul {
				li {
					display: inline-block;
					margin-top: 15px;
					&:first-child,
					&:nth-child(2) {
						font-family: "PTSansRegular";
						font-size: 11px;
						color: #000000;
					}
					&:first-child {
						margin-right: 16px;
					}
					&:nth-child(4) a,
					&:last-child a {
						text-decoration: none;
						color: #144570;
						&:hover {
							color: #8cb2d8;
						}
						&::before {
							content: '';
							position: absolute;
							width: 20px;
							height: 20px;
							margin-left: -23px;
						}
					}
					&:nth-child(4) a {
						margin-right: 60px;
						&::before {
							@include sprite(0,0);
						}
					}
					&:last-child a::before {
						@include sprite(-35px,0);
					}
				} 
			}
		}
		.advertising,
		.bookmarks {
			display: block;
			position: absolute;
			top: 40px;
			font-size: 14px;
			height: 38px;
			line-height: 38px;
			color: #fff;
			text-align: right;
			padding-right: 11px;
			transform: rotate(-90deg);
			text-decoration: none;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 0;
				height: 0;
				border-top: 19px solid transparent;
				border-bottom: 19px solid transparent;
				border-left: 15px solid #fafafa;
			}
		}
		.advertising {
			width: 92px;
			top: 32px;
			right: 56px;
			background-color: #339edd;
			&::before {
				left: -1px;
			}
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 14px;
				left: 0;
				top: 50%;
				margin-top: -1px;
				background-color: #fafafa;
			}
		}
		.bookmarks {
			width: 107px;
			right: 0px;
			background-color: #ff9203;
		}
	}
	nav {
		width: 100%;
		.first-level {
			height: 45px;
			line-height: 45px;
			padding: 0 45px;
			background-color: #d4e9fc;
			display: flex;
			justify-content: space-between;
			li {
				a {
					font-size: 15px;
					color: #3072ad;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						color: #78b9f4;
					}
				}
			}
		}
		.second-level {
			height: 65px;
			padding: 0 45px;
			background-color: #e5e8e8;
			li {
				display: inline-block;
				margin-left: -4px;
				&:first-child a {
					&::before {
						@include sprite(0,-48px);
						margin-left: -51px;
					}
				}
				&:nth-child(2) a {
					&::before {
						@include sprite(-64px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(3) a {
					&::before {
						@include sprite(-140px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(4) a {
					&::before {
						@include sprite(-217px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(5) a {
					&::before {
						@include sprite(-285px,-47px);
						margin-left: -41px;
					}
				}
				&:nth-child(6) a {
					&::before {
						@include sprite(-356px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(7) a {
					padding-left: 53px;
					&::before {
						@include sprite(-421px,-47px);
						margin-left: -42px;
					}
				}
				&:nth-child(8) a {
					padding-right: 0;
					&::before {
						@include sprite(-492px,-48px);
						margin-left: -38px;
					}

				}
				a {
					display: block;
					height: 47px;
					background-color: #e5e8e8;
					padding: 18px 20px 0 52px;
					color: #acafb2;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						background-color: #c5d5e6;
					}
					&::before {
						content: '';
						position: absolute;
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}

#content {
	width: 1260px;
	margin: 0 auto;
	position: relative;
	background-color: #fafafa;
	hr {
		width: 100%;
		height: 1px;
		margin-top: 11px;
		background-color: #aeaeae;
		border: none;
	}
	.block-1 {
		border: 1px solid #c8cdd1;
		border-left: none;
		.left-menu {
			width: 135px;
			display: inline-block;
			li:last-child a {
				border-bottom: none;
			}
			li:nth-child(7) a {
				padding-top: 21px;
				line-height: 20px;
			}
			li:nth-child(13) a {
				padding-top: 21px;
				line-height: 20px;
			}
			li:last-child a {
				height: 143px;
			}
			a {
				display: block;
				height: 60px;
				line-height: 60px;
				font-size: 18px;
				color: #fff;
				position: relative;
				text-decoration: none;
				background-color: #384e66;
				padding-left: 16px;
				border-bottom: 1px solid #4d6784;
				&::before {
					content: '';
					display: none;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -8px;
					@include triangle(#fff,left,9px);
				}
				&:hover {
					background-color: #134b8a;
					&::before {
						display: block;
					}
				}
			}
		}
		.most-popular {
			width: 630px;
			display: inline-block;
			vertical-align: top;
			padding: 20px 17px 10px 30px;
			.news {
				padding-bottom: 17px;
				border-bottom: 1px solid #e0e0e0;
				margin-top: 18px;
				h4 {
					max-width: 400px;
					display: inline-block;
					font-size: 17px;
					padding-bottom: 20px;
					color: #336699;
				}
				.social {
					float: right;
					font-family: "PTSansRegular";
					font-size: 10px;
					color: #312d2d;
					span {
						margin-right: 33px;
						&:last-child {
							margin-right: 0;
						}
					}
					span::before {
						content: '';
						position: absolute;
						width: 12px;
						height: 12px;
						margin-left: -21px;
					}
					.date::before {
						@include sprite(0,-120px);
					}
					.views::before {
						margin-top: 3px;
						@include sprite(-29px,-120px);
					}
					.comments::before {
						margin-top: 2px;
						@include sprite(-58px,-120px);
					}
				}
				img {
					width: 135px;
					height: 79px;
					display: inline-block;
					margin-right: 11px;
				}
				p {
					font-family: "PTSansRegular";
					font-size: 13px;
					line-height: 22px;
					margin-top: -7px;
				}
			}
		}
		aside {
			display: inline-block;
			vertical-align: top;
			border-left: 1px solid #c8cdd1;
			h3 {
				padding-top: 7px;
			}
			span {
				font-size: 11px;
				&:first-of-type {
					margin-right: 36px;
					margin-left: 21px;
				}
			}
			.day::before {
				content: '';
				position: absolute;
				width: 22px;
				height: 22px;
				margin-left: -22px;
				margin-top: 2px;
				@include sprite(0,-120px);
			}
			.time::before {
				content: '';
				position: absolute;
				width: 22px;
				height: 22px;
				margin-left: -29px;
				margin-top: 3px;
				@include sprite(-78px,-120px);
			}
			.developments {
				width: 270px;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
				background-color: #ffffff;
				margin: 14px 22px 8px 22px;
				padding: 0 15px 38px 19px;
				hr {
					margin-bottom: 11px;
				}
				.event {
					margin-left: 17px;
					margin-top: 36px;
					font-family: "PTSansRegular";
					color: #000000;
					&:first-of-type {
						margin-top: 0;
					}
					&::before {
						content: '';
						position: absolute;
						width: 4px;
						height: 60px;
						background-color: #ebebeb;
						margin-left: -20px;
					}
					a {
						color: #336699;
						text-decoration: none;
						display: inline-block;
						padding: 9px 5px 9px 0;
					}
					p:nth-child(3) {
						display: inline-block;
						font-size: 10px;
					}
				}
			}
			.discussing {
				width: 270px;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
				background-color: #ffeddd;
				margin: 14px 22px 8px 22px;
				padding: 0 15px 38px 19px;
				.event {
					margin-left: 17px;
					margin-top: 36px;
					font-family: "PTSansRegular";
					color: #000000;
					&:first-of-type {
						margin-top: 0;
					}
					&::before {
						content: '';
						position: absolute;
						width: 4px;
						height: 75px;
						background-color: #afafaf;
						margin-left: -20px;
						margin-top: 12px;
					}
					a {
						color: #336699;
						text-decoration: none;
						display: inline-block;
						&:first-of-type {
							padding: 6px 5px 10px 0;
						}
						&:nth-of-type(2) {
							padding-bottom: 13px;
						}
					}
					p:nth-child(2) {
						display: inline-block;
						font-size: 10px;
					}
				}
			}
			.subscribe {
				width: 274px;
				height: 134px;
				margin: 34px 0 0 23px;
				padding: 30px 14px 25px 15px;
				background-color: #dfebf3;
				img {
					width: 70px;
					height: 59px;
					margin-right: 23px;
					display: inline-block;
				}
				p {
					font-family: "MuseoSansCyrl700";
					font-size: 17px;
					color: #0577c6;
					margin-bottom: 33px;
					line-height: 20px;
					
				}
				input[type="email"] {
					width: 148px;
					height: 42px;
					display: inline-block;
					padding-left: 17px;
					border: none;
					@include placeholder-color(#000);
				}
				input[type="submit"] {
					width: 108px;
					height: 44px;
					font-family: "PTSansBold";
					line-height: 44px;
					text-transform: uppercase;
					color: #fff;
					border: none;
					cursor: pointer;
					position: relative;
					bottom: 1px;
					font-size: 12px;
					background-color: #2b9dec;
					&:hover {
						background-color: #1089de;
					}
				}
			}
		}
	}
}