body {
	font-family: "PTSansBold";
	font-size: 14px;
	box-sizing: padding-box;
	background: url('../img/background.png') no-repeat 50% 0 #d1d1d1;
}

h3 {
	font-family: "PTSansRegular";
	font-size: 20px;
	color: #313945;
}

#wrapper {
	padding: 0 45px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	background-color: #fafafa;
}

header {
	width: 1260px;
	height: 240px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 17px;
	background-color: #fafafa;
	.top {
		height: 130px;
		.logo {
			display: inline-block;
			position: relative;
			top: 6px;
		}
		input[type="search"] {
			width: 427px;
			height: 38px;
			border: 1px solid #b1daff;
			padding-left: 19px;
			@include placeholder-color(#000000);
			margin-left: 70px;
		}
		label {
			width: 25px;
			height: 25px;
			@include sprite(-75px,0);
			position: absolute;
			margin-top: 55px;
			margin-left: -39px;
			cursor: pointer;
			&:hover {
				@include sprite(-111px,0);
			}
		}
		.right {
			display: inline-block;
			margin-left: 60px;
			vertical-align: bottom;
			ul {
				li {
					display: inline-block;
					margin-top: 15px;
					&:first-child,
					&:nth-child(2) {
						font-family: "PTSansRegular";
						font-size: 11px;
						color: #000000;
					}
					&:first-child {
						margin-right: 16px;
					}
					&:nth-child(4) a,
					&:last-child a {
						text-decoration: none;
						color: #144570;
						&:hover {
							color: #8cb2d8;
						}
						&::before {
							content: '';
							position: absolute;
							width: 20px;
							height: 20px;
							margin-left: -23px;
						}
					}
					&:nth-child(4) a {
						margin-right: 60px;
						&::before {
							@include sprite(0,0);
						}
					}
					&:last-child a::before {
						@include sprite(-35px,0);
					}
				} 
			}
		}
		.advertising,
		.bookmarks {
			display: block;
			position: absolute;
			top: 40px;
			font-size: 14px;
			height: 38px;
			line-height: 38px;
			color: #fff;
			text-align: right;
			padding-right: 11px;
			transform: rotate(-90deg);
			text-decoration: none;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 0;
				height: 0;
				border-top: 19px solid transparent;
				border-bottom: 19px solid transparent;
				border-left: 15px solid #fafafa;
			}
		}
		.advertising {
			width: 92px;
			top: 32px;
			right: 56px;
			background-color: #339edd;
			&::before {
				left: -1px;
			}
			&::after {
				content: '';
				position: absolute;
				height: 1px;
				width: 14px;
				left: 0;
				top: 50%;
				margin-top: -1px;
				background-color: #fafafa;
			}
		}
		.bookmarks {
			width: 107px;
			right: 0px;
			background-color: #ff9203;
		}
	}
	nav {
		width: 100%;
		.first-level {
			height: 45px;
			line-height: 45px;
			padding: 0 45px;
			background-color: #d4e9fc;
			display: flex;
			justify-content: space-between;
			li {
				a {
					font-size: 15px;
					color: #3072ad;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						color: #78b9f4;
					}
				}
			}
		}
		.second-level {
			display: inline-flex;
			height: 65px;
			background-color: #e5e8e8;
			li {
				&:first-child a {
					padding-left: 93px;
					&::before {
						@include sprite(0,-48px);
						margin-left: -48px;
					}
				}
				&:nth-child(2) a {
					&::before {
						@include sprite(-64px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(3) a {
					&::before {
						@include sprite(-140px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(4) a {
					&::before {
						@include sprite(-217px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(5) a {
					&::before {
						@include sprite(-285px,-47px);
						margin-left: -41px;
					}
				}
				&:nth-child(6) a {
					&::before {
						@include sprite(-356px,-48px);
						margin-left: -41px;
					}
				}
				&:nth-child(7) a {
					padding-left: 53px;
					&::before {
						@include sprite(-421px,-47px);
						margin-left: -42px;
					}
				}
				&:nth-child(8) a {
					padding-right: 45px;
					padding-left: 61px;
					&::before {
						@include sprite(-492px,-48px);
						margin-left: -38px;
					}

				}
				a {
					display: block;
					height: 47px;
					background-color: #e5e8e8;
					padding: 18px 20px 0 50px;
					color: #acafb2;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						background-color: #c5d5e6;
					}
					&::before {
						content: '';
						position: absolute;
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}

#content {
	width: 1260px;
	height: 3000px;
	margin: 0 auto;
	position: relative;
	background-color: #fafafa;
	hr {
		width: 100%;
		height: 1px;
		margin-top: 11px;
		background-color: #aeaeae;
		border: none;
	}
	.block-1 {
		border-bottom: none;
		border-left: none;
		border-top: 1px solid #c8cdd1;
		.left-menu {
			width: 135px;
			float: left;
			border-bottom: 1px solid #c8cdd1;
			li:last-child a {
				border-bottom: none;
			}
			li:nth-child(7) a {
				padding-top: 21px;
				line-height: 20px;
			}
			li:nth-child(13) a {
				padding-top: 21px;
				line-height: 20px;
			}
			li:last-child a {
				height: 144px;	
			}
			a {
				display: block;
				height: 60px;
				line-height: 60px;
				font-size: 18px;
				color: #fff;
				position: relative;
				text-decoration: none;
				background-color: #384e66;
				padding-left: 16px;
				border-bottom: 1px solid #4d6784;
				&::before {
					content: '';
					display: none;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -8px;
					@include triangle(#fff,left,9px);
				}
				&:hover {
					background-color: #134b8a;
					&::before {
						display: block;
					}
				}
			}
		}
		.most-popular {
			width: 630px;
			float: left;
			padding: 21px 25px 11px 30px;
			border-bottom: 1px solid #c8cdd1;
			.news {
				padding-bottom: 17px;
				border-bottom: 1px solid #e0e0e0;
				margin-top: 18px;
				h4 {
					max-width: 400px;
					display: inline-block;
					font-size: 17px;
					padding-bottom: 20px;
					line-height: 19px;
					color: #336699;
				}
				.social {
					float: right;
					font-family: "PTSansRegular";
					font-size: 10px;
					color: #312d2d;
					span {
						margin-right: 33px;
						&:last-child {
							margin-right: 0;
						}
					}
					span::before {
						content: '';
						position: absolute;
						width: 12px;
						height: 12px;
						margin-left: -21px;
					}
					.date::before {
						@include sprite(0,-120px);
					}
					.views::before {
						margin-top: 3px;
						@include sprite(-29px,-120px);
					}
					.comments::before {
						margin-top: 2px;
						@include sprite(-58px,-120px);
					}
				}
				img {
					width: 135px;
					height: 79px;
					display: inline-block;
					margin-right: 11px;
				}
				p {
					font-family: "PTSansRegular";
					font-size: 13px;
					line-height: 22px;
					margin-top: -7px;
				}
			}
			a:last-of-type {
				display: inline-block;
				font-family: "PTSansRegular";
				font-size: 15px;
				color: #313945;
				float: right;
				margin-top: 33px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		aside {
			float: right;
			padding-bottom: 133px;
			border: 1px solid #c8cdd1;
			border-top: none;
			h3 {
				padding-top: 7px;
			}
			span {
				font-size: 11px;
				&:first-of-type {
					margin-right: 36px;
					margin-left: 21px;
				}
			}
			.day::before {
				content: '';
				position: absolute;
				width: 22px;
				height: 22px;
				margin-left: -22px;
				margin-top: 2px;
				@include sprite(0,-120px);
			}
			.time::before {
				content: '';
				position: absolute;
				width: 22px;
				height: 22px;
				margin-left: -29px;
				margin-top: 3px;
				@include sprite(-78px,-120px);
			}
			.developments {
				width: 270px;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
				background-color: #ffffff;
				margin: 14px 22px 8px 22px;
				padding: 0 15px 38px 19px;
				hr {
					margin-bottom: 11px;
				}
				.event {
					margin-left: 17px;
					margin-top: 36px;
					font-family: "PTSansRegular";
					color: #000000;
					&:first-of-type {
						margin-top: 0;
					}
					&::before {
						content: '';
						position: absolute;
						width: 4px;
						height: 60px;
						background-color: #ebebeb;
						margin-left: -20px;
					}
					a {
						color: #336699;
						text-decoration: none;
						display: inline-block;
						padding: 9px 5px 9px 0;
					}
					p:nth-child(3) {
						display: inline-block;
						font-size: 10px;
					}
				}
			}
			.discussing {
				width: 270px;
				box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
				background-color: #ffeddd;
				margin: 14px auto 8px auto;
				padding: 0 15px 38px 19px;
				.event {
					margin-left: 17px;
					margin-top: 36px;
					font-family: "PTSansRegular";
					color: #000000;
					&:first-of-type {
						margin-top: 0;
					}
					&::before {
						content: '';
						position: absolute;
						width: 4px;
						height: 75px;
						background-color: #afafaf;
						margin-left: -20px;
						margin-top: 12px;
					}
					a {
						color: #336699;
						text-decoration: none;
						display: inline-block;
						&:first-of-type {
							padding: 6px 5px 10px 0;
						}
						&:nth-of-type(2) {
							padding-bottom: 13px;
						}
					}
					p:nth-child(2) {
						display: inline-block;
						font-size: 10px;
					}
				}
			}
			.subscribe {
				width: 274px;
				height: 134px;
				margin: 34px auto 0 auto;
				padding: 30px 14px 25px 15px;
				background-color: #dfebf3;
				img {
					width: 70px;
					height: 59px;
					margin-right: 23px;
					display: inline-block;
				}
				p {
					font-family: "MuseoSansCyrl700";
					font-size: 17px;
					color: #0577c6;
					margin-bottom: 33px;
					line-height: 20px;
					
				}
				input[type="email"] {
					width: 148px;
					height: 42px;
					display: inline-block;
					padding-left: 17px;
					border: none;
					@include placeholder-color(#000);
				}
				input[type="submit"] {
					width: 108px;
					height: 44px;
					font-family: "PTSansBold";
					line-height: 44px;
					text-transform: uppercase;
					color: #fff;
					border: none;
					cursor: pointer;
					position: relative;
					bottom: 1px;
					font-size: 12px;
					background-color: #2b9dec;
					&:hover {
						background-color: #1089de;
					}
				}
			}
			.banners {
				width: 303px;
				border: 1px dashed #404040;
				margin: 50px auto 0 auto;
				padding-bottom: 28px;
				.networks {
					width: 272px;
					height: 212px;
					background-color: #e6ebee;
					margin: 18px auto 0 auto;
					text-align: center;
					p:first-child {
						font-family: "AgpalatianRoman";
						font-size: 16.25px;
						color: #000000;
						padding-top: 31px;
						padding-bottom: 16px;
					}
					p:nth-child(2),
					p:nth-child(4) {
						font-family: "PTSansRegular";
						font-size: 11.75px;
						color: #a9b2be;
					}
					p:nth-child(4) {
						margin-top: 20px;
					}
					.social {
						margin-top: 30px;
						margin-left: 12px;
						li {
							display: inline-block;
							margin-right: 9px;
							margin-left: -4px;
							&:last-child {
								margin-right: 0;
							}
							&:nth-child(2) a {
								@include sprite(-42px,-167px);
							}
							&:nth-child(3) a {
								@include sprite(-85px,-167px);
							}
							&:nth-child(4) a {
								@include sprite(-129px,-167px);
							}
							&:nth-child(5) a {
								@include sprite(-172px,-167px);
							}
							&:nth-child(6) a {
								@include sprite(-215px,-167px);
							}
							a {
								display: block;
								width: 33px;
								height: 33px;
								border-radius: 50%;
								@include sprite(0,-167px);
							}
						}
					}
				}
				.networks > a {
					font-family: "PTSansRegular";
					color: #57a2c9;
					font-size: 11.75px;
					text-decoration: none;
				}

				.banner {
					width: 275px;
					height: 320px;
					margin: 25px auto 0 auto;
					background-color: gray;
					&:last-child {
						margin-top: 34px;
					}
				}
			}
		}	
	}
	.block-2 {
		float: left;
		padding-bottom: 17px;
		border-bottom: 1px solid #c8cdd1;
		.calendar {
			width: 768px;
			height: 278px;
			padding: 27px 15px 30px 17px;
			margin-top: 21px;
			position: relative;
			background-color: #fff5ed;
			.event {
				width: 353px;
				margin-top: 27px;
				float: left;
				margin-right: 30px;
				&:nth-child(2),
				&:last-child {
					margin-right: 0;
				}
				.date {
					font-size: 15px;
					color: #000000;
				}
				img {
					width: 135px;
					height: 56px;
					margin-top: 9px;
					display: inline-block;
					margin-right: 18px;
				}
				p {
					font-family: "PTSansRegular";
					color: #0063c0;
					line-height: 20px;
				}
				a:last-child {
					font-family: "PTSansRegular";
					color: #000000;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.calendar > a {
			position: absolute;
			right: 15px;
			top: 27px;
			font-family: "PTSansRegular";
			font-size: 15px;
			color: #313945;
			&:hover {
				text-decoration: none;
			}
		}
		.ask-question {
			padding: 0 17px;
			padding-bottom: 17px;
			margin-right: 17px;
			margin-top: 17px;
			background-color: #c0e1ff;
			p:first-child {
				font-family: "PTSansRegular";
				font-size: 15px;
				padding-top: 19px;
				color: #313945;
			}
			hr {
				margin-top: 12px;
				background-color: #fff;
			}
			input[type="email"] {
				width: 599px;
				padding-left: 17px;
				height: 44px;
				line-height: 44px;
				margin-top: 9px;
				border: none;
			}
			input[type="submit"] {
				width: 150px;
				height: 44px;
				line-height: 44px;
				font-size: 12px;
				border: none;
				color: #fff;
				background-color: #336699;
				text-transform: uppercase;
				cursor: pointer;
			}
			p:last-child {
				font-family: "PTSansRegular";
				font-size: 12px;
				color: #336699;
				padding-top: 12px;
			}
		}
		.qa {
			width: 768px;
			height: 271px;
			margin-right: 17px;
			padding: 21px 19px 28px 16px;
			background-color: #e1f0ff;
			h3 {
				float: left;
				display: inline-block;
			}
			
			.slider {
				clear: both;
				width: 320px;
				padding-left: 70px;
				margin-top: 30px;
				position: relative;
				float: left;
				.slick-prev,
				.slick-next {
					width: 18px;
					height: 31px;
					content: '';
					@include sprite(0,-240px);
					border: none;
					background-color: transparent;
					font-size: 0;
					position: absolute;
					cursor: pointer;
					top: 38%;
				}
				.slick-prev {
					left: 0;
					&:hover {
						@include sprite(-120px,-239px);
					}
				}
				.slick-next {
					right: 0;
					@include sprite(-47px,-240px);
					&:hover {
						@include sprite(-168px,-240px);
					}
				}
				.item {
					p:first-child {
						font-size: 15px;
						color: #336699;
						padding-bottom: 12px;
					}
					p:nth-child(3) {
						font-family: "PTSansRegular";
						color: #000;
						padding-top: 17px;
					}
					p:nth-child(4) {
						font-family: "PTSansRegular";
						font-size: 10px;
						color: #000;
						padding-top: 11px;
					}
					img {
						width: 200px;
						height: 130px;
					}
				}
			}
			.right {
				float: right;
				h3 {
					padding-top: 30px;
					padding-bottom: 32px;
				}
				.question {
					clear: both;
					width: 385px;
					margin-top: 30px;
					a {
						font-size: 18px;
						padding-left: 30px;
						color: #336699;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
						}
						&::before {
							content: '';
							position: absolute;
							width: 19px;
							height: 12px;
							@include sprite(-2px,-316px);
							margin-left: -30px;
							margin-top: 3px;
						}
					}
					p {
						font-family: "PTSansRegular";
						font-size: 13px;
						color: #000000;
						padding-top: 10px;
					}
				}
			}
		}
		.qa > a {
			float: right;
			display: block;
			width: 181px;
			height: 30px;
			line-height: 30px;
			background-color: #336699;
			text-transform: uppercase;
			font-size: 13px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			border-radius: 5px;
		}
	}
	.block-3 {
		position: relative;
		z-index: 1;
		.left {
			width: 500px;
			float: left;
			margin-top: 22px;
			padding-right: 17px;
			padding-bottom: 26px;
			border-right: 1px solid #c8cdd1;
			border-bottom: 1px solid #c8cdd1;
			.main-new {
				width: 500px;
				height: 300px;
				position: relative;
				background: url('../img/img1.jpg') no-repeat;
				a:nth-child(5) {
					float: right;
					margin-right: 18px;
					width: 181px;
					height: 30px;
					line-height: 30px;
					background-color: #5fa9eb;
					text-transform: uppercase;
					font-size: 13px;
					color: #fff;
					text-align: center;
					text-decoration: none;
					border-radius: 5px;
					position: relative;
					bottom: 15px;
					&:hover {
						background-color: #418cce;
					}
				}
				.bottom {
					width: 100%;
					height: 80px;
					position: absolute;
					bottom: 0;
					z-index: 1;
					h4 {
						font-size: 17px;
						color: #fff;
						line-height: 24px;
						padding-top: 4px;
						padding-left: 18px;
						padding-right: 90px;
					}
					span {
						font-family: "PTSansRegular";
						font-size: 10px;
						color: #fff;
						margin-right: 33px;
						position: relative;
						top: 3px;
						&:nth-child(2) {
							margin-left: 38px;
						}
						&:last-child {
							margin-right: 0;
						}
					}
					span::before {
						content: '';
						position: absolute;
						width: 12px;
						height: 12px;
						margin-left: -21px;
					}
					.date::before {
						margin-top: 3px;
						@include sprite(0,-120px);
					}
					.views::before {
						margin-top: 5px;
						@include sprite(-29px,-120px);
					}
					.comments::before {
						margin-top: 4px;
						@include sprite(-58px,-120px);
					}
					.background {
						width: 100%;
						height: 80px;
						padding: 0;
						position: absolute;
						bottom: 0;
						opacity: 0.65;
						z-index: -1;
						background-color: #336699;
					}
				}
			}
			.news {
				.new {
					margin-top: 30px;
					&:last-of-type {
						margin-bottom: 26px;
					}
					.right {
						width: 38px;
						float: right;
						span {
							display: block;
							font-family: "PTSansRegular";
							font-size: 10px;
							color: #000;
							margin-bottom: 12px;
						}
						span::before {
							content: '';
							position: absolute;
							width: 12px;
							height: 12px;
							margin-left: -21px;
						}
						.date::before {
							margin-top: 1px;
							@include sprite(0,-120px);
						}
						.views::before {
							margin-top: 3px;
							@include sprite(-29px,-120px);
						}
						.comments::before {
							margin-top: 2px;
							@include sprite(-58px,-120px);
						}
					}
					.img {
						display: inline-block;
						img {
							width: 100px;
							height: 70px;
							margin-right: 25px;
						}
					}
					a {
						vertical-align: top;
						display: inline-block;
						width: 290px;
						font-size: 18px;
						text-decoration: none;
						line-height: 24px;
						color: #336699;
					}
				}
			}
			.news > a {
				font-family: "PTSansRegular";
				font-size: 15px;
				color: #313945;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.block-3 > .right {
		float: right;
		position: relative;
		margin-top: 22px;
		padding-left: 17px;
		padding-bottom: 17px;
		z-index: 2;
		border-bottom: 1px solid #c8cdd1;	
		.last-articles {
			width: 570px;
			height: 625px;
			padding-left: 35px;
			padding-top: 30px;
			padding-right: 30px;
			background-color: #fff1f1;
			box-shadow: 0 15px 40px 0 rgba(255,144,144,0.56);
			h3 {
				display: inline-block;
			}
			.article {
				margin-top: 55px;
				&:first-of-type {
					margin-top: 25px;
				}
				a {
					width: 300px;
					font-size: 18px;
					vertical-align: top;
					display: inline-block;
					margin-bottom: 10px;
					color: #336699;
					line-height: 24px;
					text-decoration: none;
					&:hover {
						color: #8cb2d8;
					}
				}
				.img {
					img {
						width: 230px;
						height: 120px;
						margin-right: 31px;
					}
				}
				.right {
					span {
						font-family: "PTSansRegular";
						font-size: 10px;
						color: #000;
						margin-right: 35px;
						&:first-of-type {
							margin-left: 21px;
						}
					}
					span::before {
						content: '';
						position: absolute;
						width: 12px;
						height: 12px;
						margin-left: -21px;
					}
					.date::before {
						margin-top: 4px;
						@include sprite(0,-120px);
					}
					.views::before {
						margin-top: 6px;
						@include sprite(-29px,-120px);
					}
					.comments::before {
						margin-top: 5px;
						@include sprite(-58px,-120px);
					}
					p {
						font-family: "PTSansRegular";
						font-size: 12px;
						color: #000;
						width: 300px;
						margin-top: 12px;
						line-height: 18px;
						display: inline-block;
						vertical-align: top;
					}
				}
			}
		}
		
		.last-articles > a:first-of-type {
			font-family: "PTSansRegular";
			font-size: 15px;
			padding-top: 3px;
			text-decoration: none;
			float: right;
			color: #878b91;
			&:hover {
				color: #313945;
				text-decoration: underline;
			}
		}
		.last-articles > a:last-of-type {
			float: right;
			display: block;
			margin-top: 54px;
			bottom: 0;
			width: 171px;
			height: 30px;
			line-height: 30px;
			background-color: #4f84b8;
			text-transform: uppercase;
			font-size: 13px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			border-radius: 5px;
			&:hover {
				background-color: #336699;
			}
		}
		.fire {
			position: absolute;
			z-index: -1;
			top: -22%;
			left: -6%;
		}
	}
}
