body {
	font-family: "PNSemiBold";
	background: #fff;
	color: #353d43;
	position: relative;
	overflow-x: hidden;
	padding-bottom: 50px;
}

h2 {
	font-size: 52px;
	padding-bottom: 15px;
	color: #353d43;
	span {
		position: relative;
		padding-bottom: 10px;
		background: linear-gradient(to right, #eb640c, #ef9d3f);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

h3 {
	font-family: "PNBold";
	font-size: 32px;
	padding-left: 97px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 75px;
		height: 9px;
		left: 0;
		top: 50%;
		margin-top: -4.5px;
		background: url("../img/line-before.png");
	}
}
.wrapper {
	max-width: 1540px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

.borders {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: space-around;
	.border {
		width: 1px;
		height: 100%;
		background-color: rgba(189,187,181,.22);
	}
}

header {
	padding-top: 37px;
	width: 100%;
	height: 32px;
	display: flex;
	z-index: 1;
	justify-content: space-between;
	color: #353d43;
	h3 {
		font-family: "PNBold";
		font-size: 32px;
		padding-left: 97px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 75px;
			height: 9px;
			left: 0;
			top: 50%;
			margin-top: -4.5px;
			background: url("../img/line-before.png");
		}
	}
	.menu {
		display: inline-flex;
		margin: auto 0;
		.menu-btn-label {
			padding-right: 18px;
			vertical-align: top;
		}
		.menu-btn-label a {
			font-family: "PNSemiBold";
			font-size: 16px;
			text-decoration: none;
			text-transform: uppercase;
			color: #353d43;
			z-index: 1;
			position: relative;
		}
		.menu-btn {
		    z-index: 3;
		    width: 25px;
		    cursor: pointer;
		    -webkit-transform: translateX(0) translateZ(0);
		    transform: translateX(0) translateZ(0);
		    -webkit-transition: -webkit-transform .5s;
		    transition: -webkit-transform .5s;
		    transition: transform .5s;
		    transition: transform .5s,-webkit-transform .5s;
		    pointer-events: visiblePainted;
		    .line {
			    position: relative;
			    overflow: hidden;
			    height: 1px;
			    margin-bottom: 7px;
			    transform-origin: 100% 50%;
			    transform: scaleX(1);
			    transition: none;
			    &:last-child {
			    	margin-bottom: 0;
			    	transform: scaleX(0.7);
			    }
			    .inner {
				    content: "";
				    display: block;
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    background-color: #353d43;
				}
			}
		}
	}
}

.content {
	position: relative;
	z-index: 1;
	margin-top: 55px;
	.main {
		width: 100%;
		height: 666px;
		display: flex;
		position: relative;
		z-index: 1;
		background: url("../img/img9.jpg") 50% 50% no-repeat;
		h1 {
			padding-top: 175px;
			font-size: 48px;
			font-family: "PNRegular";
			line-height: 60px;
			color: #fff;
			text-align: center;
			margin: 0 auto;
			white-space: pre-line;
			span {
				font-family: "PNSemiBold";
				font-size: 75px;
				line-height: 101px;
				position: relative;
				padding-bottom: 10px;
				background: linear-gradient(to right, #eb640c, #ef9d3f);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	.why-autumn {
		width: 100%;
		box-sizing: border-box;
		height: 640px;
		padding-top: 100px;
		background: url("../img/greece-background.png") 50% 100% no-repeat;
		padding-left: 20%;
		p {
			font-size: 22px;
			line-height: 50px;
			white-space: pre-line;
		}
	}
	.why-greece {
		margin-top: 100px;
		display: flex;
		img {
			box-shadow: 0 22px 16px 5px rgba(0,0,0,.13);
		}
		.right {
			margin: auto 0 auto 85px;
			p {
				font-size: 22px;
				line-height: 50px;
				white-space: pre-line;
			}
		}
	}
	.info {
		max-width: 1018px;
		padding: 0 75px 10px 75px;
		margin: 56px auto 0;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		box-shadow: 0 0 16px 5px rgba(0,0,0,.08);
		font-family: "PNRegular";
		font-size: 20px;
		h5 {
			font-family: "PNSemiBold";
			font-size: 22px;
		}
		hr {
			width: 100%;
			height: 1px;
			background-color: #353d43;
			border: none;
			&:first-of-type {
				background-color: #aaaaaa;
			}
		}
		.header {
			display: flex;
			padding-top: 32px;
			justify-content: space-between;
			font-family: "PNBold";
			span {
				font-family: "PNRegularItalic";
				font-size: 22px;
				padding-right: 34px;
			}
			.date {
				flex-grow: 1;
				border-right: 1px solid #aaaaaa;
			}
			.age {
				flex-grow: 2;
				text-align: center;
				border-right: 1px solid #aaaaaa;
			}
			.cost {
				flex-grow: 1;
				text-align: right;
			}
		}
		.included {
			ul {
				margin-top: 40px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					width: calc(100% / 3);
					margin-bottom: 36px;
					display: flex;
					&:last-child {
						margin-right: auto;
					}
					.circle {
						width: 12px;
						height: 12px;
						border-radius: 50%;
						margin-right: 18px;
						margin-top: 7px;
						background: linear-gradient(to right, #eb640c, #ef9d3f);
					}
					p {
						line-height: 26px;
					}
				}
			}
		}
		.more {
			ul {
				margin-top: 40px;
				display: flex;
				justify-content: space-between;
				li {
					display: flex;
					.circle {
						width: 12px;
						height: 12px;
						border-radius: 50%;
						margin-right: 18px;
						margin-top: 4px;
						background: linear-gradient(to right, #eb640c, #ef9d3f);
					}
				}
			}
		}
		p {
			white-space: pre-line;
		}
		.live {
			ul {
				display: flex;
				.left {
					margin-right: 60px;
				}
				li {
					margin-bottom: 22px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				h5 {
					padding-bottom: 10px;
				}
				p {
					line-height: 40px;
				}
			}
		}
		.docs {
			h5 {
				padding-bottom: 20px;
			}
			ol {
				display: flex;
				flex-flow: row wrap;
				.left {
					margin-right: 61px;
				}
				li {
					margin-bottom: 28px;
					a {
						color: #ec791f;
					}
					p {
						line-height: 30px;
					}
				}
			}	
		}
		.docs > a {
			display: block;
			width: 265px;
			height: 56px;
			line-height: 56px;
			font-family: "PNBold";
			font-size: 22px;
			color: #fff;
			text-decoration: none;
			text-align: center;
			background: linear-gradient(to right,#eb640c,#ef9d3f);
			border-radius: 23px;
		}
	}
	.info > div {
		padding: 25px 0;
	}
}

.content > p {
	font-size: 22px;
	line-height: 50px;
	text-align: center;
	white-space: pre-line;
	padding-top: 80px;
	span {
		background: linear-gradient(to right, #eb640c, #ef9d3f);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.content > a {
	display: block;
	width: 265px;
	height: 56px;
	line-height: 56px;
	margin: 36px auto 0;
	font-family: "PNBold";
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background: linear-gradient(to right,#eb640c,#ef9d3f);
	border-radius: 23px;
}

@media screen and (max-width: 1630px) {
	.content .why-greece {
	    display: flex;
	    text-align: center;
	    flex-direction: column-reverse;
	    .right {
	    	margin-left: 0;
	    	padding: 0 15px;
	    	p {
		    	white-space: normal;
		    }
	    }
	    img {
	    	max-width: 80%;
	    	margin: 30px auto 0;
	    }
	}
}

@media screen and (max-width: 1100px) {
	.content .why-autumn {
	    padding-left: 0;
	    text-align: center;
	    p {
	    	white-space: normal;
	    }
	}
}

@media screen and (max-width: 1000px) {
	body {
		padding-bottom: 0;
	}
	.content .info {
		padding: 0 15px;
	}
}

@media screen and (max-width: 830px) {
	.content .info {
		.header {
			flex-direction: column;
			text-align: center;
			div {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.date,
			.age {
				border-right: none;
			}
			.cost {
				text-align: center;
			}
		}
		.included {
			ul {
				li {
					width: 50%;
				}
			}
		}
	}
}

@media screen and (max-width: 697px) {
	.content .main h1 {
	    padding-top: 55px;
	}
	.content .info {
		.more {
			ul {
				flex-direction: column;
				li {
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.content .info .live ul {
	    flex-direction: column;
	}
	.content .info .live ul .left {
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.content .info .docs > a {
	    margin: 0 auto;
	}
}

@media screen and (max-width: 650px) {
	.content .info {
		.included {
			ul {
				li {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 529px) {
	.content .main h1 {
	    padding-top: 55px;
	    span {
	    	line-height: 70px;
	    }
	}
	.content .why-autumn {
		height: 788px;
	}
	.content .why-greece {
	    img {
	    	max-width: 95%;
	    	margin: 20px auto 0;
	    }
	}
	.content .why-greece .right p {
	    text-align: justify;
	}
	.content > p {
		padding: 80px 15px 0;
		text-align: justify;
		white-space: normal;
	}
}

@media screen and (max-width: 450px) {
	header {
		padding-top: 0;
		height: 100px;
		justify-content: flex-start;
		flex-direction: column-reverse;
	}
	header .menu {
		margin-left: auto;
	}
	header h3 {
		padding-left: 0;
		text-align: center;
	}
	header h3::before {
		display: none;
	}
}

@media screen and (max-width: 360px) {
	.content .main h1 {
	    font-size: 40px;
	    line-height: 45px;
	    padding-top: 90px;
	    span {
	    	font-size: 62px;
	    	line-height: 62px;
	    }
	}
}
