html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  font-family: HelveticaL;
  font-size: 18px;
  color: #4F4F4F;
  background-color: #fff;
  padding-bottom: 176px;
  overflow-x: hidden;
}

h1 {
  font-family: Lora;
  line-height: 51px;
  font-size: 40px;
  color: #03B9F3;
  white-space: pre-line;
}

h2 {
  font-family: Lora;
  line-height: 38px;
  font-size: 25px;
  color: #03B9F3;
  white-space: pre-line;
}

header .top-line {
  background-color: #fff;
}
header .top-line .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
}
header .top-line .top a {
  font-family: HelveticaL;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
}
header .top-line .top .left a {
  color: #828282;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
header .top-line .top .left a:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  color: #ff9d20;
}
header .top-line .top .left a:nth-of-type(1) {
  margin-right: 15px;
}
header .top-line .top .left a:nth-of-type(2) {
  margin-right: 23px;
}
header .top-line .top .right a {
  color: #000000;
}
header .top-line .top .right a:nth-of-type(1) {
  margin-right: 52px;
}
header .top-line .top .right a:nth-of-type(2)::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 10px;
  margin-top: 6px;
  margin-left: -17px;
  background: url("../img/profile.png");
}
header .bottom-line {
  position: relative;
  height: 70px;
  background: #5A5A5A;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}
header .bottom-line .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .bottom-line .bottom .c-hamburger {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: 0;
  background: none;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}
header .bottom-line .bottom .c-hamburger span {
  display: block;
  height: 4px;
  background: white;
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}
header .bottom-line .bottom .c-hamburger span::before, header .bottom-line .bottom .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}
header .bottom-line .bottom .c-hamburger span::before {
  top: 0;
}
header .bottom-line .bottom .c-hamburger span::after {
  bottom: 0;
}
header .bottom-line .bottom .c-hamburger-htx.is-active span {
  background: none;
}
header .bottom-line .bottom .c-hamburger-htx.is-active span::before {
  top: 10px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .bottom-line .bottom .c-hamburger-htx.is-active span::after {
  bottom: 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
header .bottom-line .bottom .logo {
  margin-right: 54px;
}
header .bottom-line .bottom ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header .bottom-line .bottom ul li:last-child a {
  margin-right: 0;
}
header .bottom-line .bottom ul a {
  font-family: HelveticaL;
  line-height: normal;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 20px;
  margin-right: 56px;
  white-space: nowrap;
}
header .bottom-line .bottom ul a:hover {
  border-bottom: 2px solid #f9a81c;
}
header .bottom-line .bottom ul.open-menu {
  visibility: visible;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

main #first .breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 52px 0;
}
main #first .breadcrumbs a, main #first .breadcrumbs p {
  font-family: HelveticaL;
  line-height: 20px;
  font-size: 14px;
  color: #C4C4C4;
}
main #first .breadcrumbs a {
  margin-right: 50px;
  text-decoration: underline;
}
main #first .breadcrumbs a:hover {
  text-decoration: none;
}
main #first .breadcrumbs p::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 8px;
  margin-top: 7px;
  margin-left: -32px;
  background: url("../img/arrow-right.png") no-repeat;
}
main #first .slider {
  max-width: 582px;
  margin-top: 13px;
}
main #first .slider img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
}
main #first .slider .slick-next,
main #first .slider .slick-prev {
  position: absolute;
  visibility: hidden;
}
main #first .slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
main #first .slider .slick-dots li {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #EAA245;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
main #first .slider .slick-dots li button {
  position: absolute;
  visibility: hidden;
}
main #first .slider .slick-dots li:last-child {
  margin-right: 0;
}
main #first .slider .slick-dots .slick-active {
  background-color: #EAA245;
}
main #first .row:nth-child(2) .col-md-6 h2 {
  line-height: 33px;
  padding-top: 9px;
}
main #first .row:nth-child(2) .col-md-6 p:first-of-type {
  color: #03B9F3;
  padding-top: 12px;
}
main #first .row:nth-child(2) .col-md-6 p:nth-of-type(2) {
  padding-top: 25px;
  white-space: pre-line;
  line-height: 25px;
}
main #first .row:nth-child(2) .col-md-6 h2:last-of-type {
  padding-top: 52px;
}
main #first .row:nth-child(2) .col-md-6 p:last-of-type {
  padding-top: 10px;
  line-height: 23px;
}
main #first .row:nth-child(3) {
  margin-top: 50px;
}
main #first .row:nth-child(3) p {
  white-space: pre-line;
  padding-top: 13px;
  line-height: 25px;
}
main #first .row:nth-child(3) p:first-of-type {
  padding-top: 16px;
}
main #second {
  margin-top: 141px;
  padding-bottom: 93px;
  background-color: #FBFBFB;
}
main #second h2 {
  font-size: 40px;
  text-align: center;
  padding-top: 87px;
}
main #second p:first-of-type {
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  white-space: pre-line;
  padding-top: 28px;
}
main #second ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
main #second ul li {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
main #second ul li p:first-of-type {
  font-size: 20px;
  padding-top: 30px;
}
main #second ul li p:last-of-type {
  font-size: 16px;
  line-height: 28px;
  white-space: pre-line;
  text-align: center;
}
main #second .col-md-12 > img:first-of-type {
  position: absolute;
  top: -164px;
  right: 31px;
}
main #second .col-md-12 > img:last-of-type {
  position: absolute;
  bottom: -174px;
  left: -8px;
}
main #third {
  padding-top: 145px;
  padding-bottom: 143px;
}
main #third img {
  margin-top: 4px;
}
main #third .col-md-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main #third .col-md-12 h2:nth-of-type(2) {
  padding-top: 44px;
}
main #third .col-md-12 h2:nth-of-type(3) {
  padding-top: 38px;
}
main #third .col-md-12 p {
  white-space: pre-line;
  line-height: 25px;
}
main #third .col-md-12 p:nth-of-type(1) {
  padding-top: 6px;
}
main #third .col-md-12 p:nth-of-type(2) {
  padding-top: 6px;
}
main #third .col-md-12 p:nth-of-type(3) {
  padding-top: 7px;
}
main #fourth {
  background: url("../img/background7.jpg") no-repeat;
  background-size: cover;
}
main #fourth .block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 489px;
  background: #FFFFFF;
  margin: 150px 0;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.25);
}
main #fourth .block .left {
  max-width: 600px;
  min-width: 600px;
}
main #fourth .block .left .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
  padding-bottom: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
main #fourth .block .left .top h2 {
  padding-top: 49px;
}
main #fourth .block .left .top p:nth-of-type(1) {
  padding-top: 57px;
  padding-left: 13px;
  font-size: 23px;
  color: #7B7B7B;
}
main #fourth .block .left .top p:nth-of-type(2) {
  padding-top: 43px;
  padding-left: 8px;
  font-size: 40px;
  color: #7B7B7B;
}
main #fourth .block .left .top p:nth-of-type(3) {
  padding-top: 62px;
  padding-left: 7px;
  font-size: 18px;
  color: #7B7B7B;
}
main #fourth .block .left > p {
  padding-left: 70px;
  padding-top: 20px;
  color: #7B7B7B;
}
main #fourth .block .left > p:first-of-type {
  padding-top: 38px;
}
main #fourth .block .left > p:last-of-type {
  white-space: pre-line;
  font-size: 12px;
  line-height: 17px;
  color: #AEAEAE;
  padding-top: 39px;
  padding-left: 72px;
}
main #fourth .block .right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 58px;
  padding-top: 48px;
}
main #fourth .block .right p:first-of-type {
  white-space: pre-line;
  padding-top: 5px;
  font-size: 18px;
  line-height: 25px;
  color: #7B7B7B;
}
main #fourth .block .right .input {
  width: 460px;
  height: 84px;
  padding-left: 20px;
  padding-top: 12px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 5px;
}
main #fourth .block .right .input:first-of-type {
  margin-top: 28px;
}
main #fourth .block .right .input:nth-of-type(2) {
  margin-top: 18px;
}
main #fourth .block .right .input label {
  display: block;
  font-size: 14px;
  color: #C0C0C0;
}
main #fourth .block .right .input input {
  display: block;
  margin-top: 14px;
  font-family: HelveticaL;
  font-size: 22px;
  color: #7B7B7B;
  border: none;
  outline: none;
}
main #fourth .block .right .submit input {
  display: inline-block;
  width: 189px;
  height: 55px;
  margin-top: 40px;
  background: #FF9800;
  outline: 0;
  font-family: HelveticaL;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border: 1px solid #FF9800;
  transition: 0.3s;
}
main #fourth .block .right .submit input:hover {
  background-color: #fff;
  color: #FF9800;
  transition: 0.3s;
}
main #fourth .block .right .submit p {
  display: inline-block;
  max-width: 270px;
  padding-left: 17px;
  line-height: 17px;
  font-size: 12px;
  white-space: pre-line;
  color: #C0C0C0;
}
main #fourth .block .right .submit a {
  display: inline-block;
  text-decoration: underline;
  line-height: 17px;
  font-size: 12px;
  color: #C0C0C0;
}
main #fourth .block .right .submit a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 176px;
}
footer .top-line {
  height: 70px;
  background: #3D3D3D;
}
footer .top-line .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .top-line .top .logo {
  margin-right: 54px;
}
footer .top-line .top ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .top-line .top ul li:last-child a {
  margin-right: 0;
}
footer .top-line .top ul a {
  font-family: HelveticaL;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 21px;
  margin-right: 28px;
  white-space: nowrap;
}
footer .top-line .top ul a:hover {
  border-bottom: 2px solid #f9a81c;
}
footer .top-line .top .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
footer .top-line .top .right ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
footer .top-line .top .right ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
footer .top-line .top .right :-moz-placeholder {
  color: #fff;
  opacity: 1;
}
footer .top-line .top .right :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
footer .top-line .top .right input[type="email"] {
  width: 202px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #03B9F3;
  padding-left: 20px;
  font-family: HelveticaL;
  font-size: 14px;
  background: transparent;
  outline: none;
  color: #fff;
  opacity: 1;
}
footer .top-line .top .right input[type="submit"] {
  width: 40px;
  height: 30px;
  font-size: 0;
  outline: none;
  border: none;
  background: url("../img/certificate.png") no-repeat #03B9F3 50% 50%;
}
footer .bottom-line {
  height: 106px;
  background-color: #242424;
}
footer .bottom-line .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .bottom-line .bottom .left p {
  font-family: HelveticaL;
  font-size: 14px;
  color: #828282;
}
footer .bottom-line .bottom .left p:first-child {
  padding-top: 33px;
}
footer .bottom-line .bottom .left p:last-child {
  padding-top: 9px;
}
footer .bottom-line .bottom .right p {
  display: inline-block;
  font-size: 16px;
  color: #828282;
}
footer .bottom-line .bottom .right p:first-of-type {
  padding-top: 26px;
}
footer .bottom-line .bottom .right p:last-of-type {
  padding-top: 14px;
}
footer .bottom-line .bottom .right a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
footer .bottom-line .bottom .right a:first-of-type {
  margin-left: 20px;
  margin-right: 3px;
}
footer .bottom-line .bottom .right a:last-of-type {
  font-size: 16px;
  margin-left: 54px;
}

@media screen and (max-width: 1199px) {
  header .bottom-line .bottom ul a {
    margin-right: 18px;
  }
  footer .top-line {
    height: auto;
  }
  footer .top-line .top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  footer .top-line .top .right {
    margin-left: 0;
    margin-top: 9px;
  }

  footer .top-line .top ul a {
    font-size: 20px;
    margin-right: 18px;
  }

  footer .bottom-line .bottom .left {
    max-width: 500px;
  }

  main #first .row:nth-child(2) .col-md-6 h2,
  main #first .row:nth-child(2) .col-md-6 p:nth-of-type(2),
  main #first .row:nth-child(3) p {
    white-space: normal;
  }

  main #second ul li {
    width: calc(100% / 2);
  }

  main #fourth .block {
    height: auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 43px;
  }
  main #fourth .block .left {
    min-width: auto;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  header .bottom-line .bottom ul a,
  footer .top-line .top ul a {
    font-size: 16px;
    padding-bottom: 22px;
    margin-right: 10px;
  }

  header .bottom-line .bottom .logo,
  footer .top-line .top .logo {
    margin-right: 15px;
  }

  footer .bottom-line .bottom .left {
    max-width: 440px;
  }

  .slider {
    margin-top: 30px;
  }

  main #first div.row:nth-child(3) > div:nth-child(2) {
    margin-top: 30px;
  }

  main #second .col-md-12 > img:first-of-type {
    display: none;
  }

  main #second p:first-of-type {
    white-space: normal;
  }

  main #third .col-md-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #third .col-md-12 h2, main #third .col-md-12 p {
    text-align: center;
  }
  main #third .col-md-12 img {
    max-width: 581px;
    height: auto;
    margin: 50px auto 0;
  }
}
@media screen and (max-width: 767px) {
  header .bottom-line .bottom ul {
    position: absolute;
    width: 100%;
    top: 70px;
    left: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transition: 0.3s;
            transition: 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #5A5A5A;
    padding-left: 10px;
    -webkit-transition-delay: 0.3s, 0s;
            transition-delay: 0.3s, 0s;
  }
  header .bottom-line .bottom ul li a {
    display: block;
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
            transition: 0.3s;
  }
  header .bottom-line .bottom ul li a:hover {
    color: #ff9d20;
    border-bottom: none;
    -webkit-transition: 0.3s;
            transition: 0.3s;
  }
  header .bottom-line .bottom #pull {
    display: block;
    margin-left: auto;
  }
  footer .top-line {
    height: 70px;
  }
  footer .top-line .top .right {
    margin-left: auto;
  }
  footer .top-line .top nav {
    display: none;
  }

  footer .bottom-line {
    height: auto;
    padding-bottom: 33px;
  }

  footer .bottom-line .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .bottom-line .bottom .left {
    max-width: 100%;
  }
}
@media screen and (max-width: 624px) {
  header .top-line .top {
    height: auto;
    padding: 15px 0;
  }

  header .top-line .top .right {
    padding-top: 10px;
  }

  main #second ul li {
    width: 100%;
  }

  main #third .col-md-12 img {
    max-width: 100%;
  }

  main #fourth .block .left .top,
  main #fourth .block .left > p,
  main #fourth .block .right,
  main #fourth .block .left > p:last-of-type {
    padding-left: 24px;
  }
}
@media screen and (max-width: 560px) {
  main #fourth .block .left .top {
    display: block;
  }
  main #fourth .block .left .top p:nth-of-type(1) {
    display: none;
  }
  main #fourth .block .left .top p:nth-of-type(2),
  main #fourth .block .left .top p:nth-of-type(3) {
    display: inline-block;
    padding-top: 0;
  }

  main #fourth .block .left > p:last-of-type {
    white-space: normal;
  }

  main #fourth .block .right .input {
    width: calc(100% - 21px);
  }

  main #fourth .block .right .submit input {
    display: block;
  }
  main #fourth .block .right .submit p {
    padding-left: 0;
  }
}

@media screen and (max-width: 490px) {
  main #third .col-md-12 p {
    white-space: normal;
  }
}

@media screen and (max-width: 416px) {
  header .top-line .top .left a:last-of-type {
    display: inline-block;
    margin-top: 15px;
  }
}
@media screen and (max-width: 362px) {
  footer .top-line {
    height: auto;
  }
  footer .top-line .top .right {
    margin-left: 0;
  }

  main #second .col-md-12 > img:last-of-type {
    display: none;
  }

  main #fourth .block .left .top,
  main #fourth .block .left > p,
  main #fourth .block .right,
  main #fourth .block .left > p:last-of-type {
    padding-left: 15px;
  }

  main #fourth .block .right .input input {
    width: 100%;
  }
}
