@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBlack";
	src: url("../fonts/Roboto-Black.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SFUIDRegular";
	src: url("../fonts/SF-UI-Display-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SFUIDBold";
	src: url("../fonts/SF-UI-Display-Bold.ttf");
	font-style: normal;
	font-weight: normal;
}