.product-card {
  width: 200px;
  padding-bottom: 26px;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.product-card .img {
  margin-top: 6px;
  text-align: center;
}

.product-card .desc {
  padding: 0 30px 0 26px;
}

.product-card .desc .name {
  font-family: "Montserrat-Bold";
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.product-card .desc .price {
  padding-top: 10px;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  color: #50c878;
}

.product-card .desc .price .old-price {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  color: #adadad;
  padding-left: 3px;
}

.product-card .desc .discount-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 6px;
}

.product-card .desc .discount-rating .discount-block {
  margin-right: 8px;
}

.product-card .desc .cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.product-card .desc .cart-block .add-to-cart {
  margin-right: 7px;
}

.product-card .desc .cart-block .like-link {
  color: #e04141;
}

.rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-block .number {
  display: none;
}

.rating-block li {
  margin-right: 3px;
}

.rating-block li i {
  font-size: 11px;
  vertical-align: middle;
}

.rating-block li i.fa-star {
  color: #e2a037;
}

.rating-block li i.fa-star-o {
  color: #353535;
}

.rating-block li:last-child {
  margin-right: 0;
}

.discount-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: "Montserrat-Bold";
  font-size: 12px;
  width: 39px;
  height: 18px;
  border-radius: 5px;
  background-color: #e04141;
  color: #f0f0f0;
}

.like-link {
  display: block;
}

.like-link.not-added i {
  color: #adadad;
}

.like-link i {
  font-size: 15px;
  vertical-align: middle;
}

.products-list-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-list-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.products-list-two .product-card {
  margin-bottom: 42px;
}

.products-list-two .product-card:nth-last-of-type(-n+5) {
  margin-bottom: 0;
}

.products-list-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-list-three .product-card {
  margin-bottom: 26px;
}

.products-list-three .product-card:nth-last-of-type(-n+4) {
  margin-bottom: 0;
}

@media screen and (max-width: 1130px) {
  .products-list-three::after {
    content: '';
    width: 200px;
  }
  .products-list-three .product-card:nth-last-of-type(-n+4) {
    margin-bottom: 26px;
  }
  .products-list-three .product-card:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1030px) {
  .products-list-one {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products-list-one .product-card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1028px) {
  .products-list-two {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products-list-two .product-card:nth-last-of-type(-n+5) {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 928px) {
  .products-list-three {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 750px) {
  .products-list-three {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .catalog-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog-block .filter-block {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 494px) {
  .header-line .right {
    margin-top: 15px;
  }
}

@media screen and (max-width: 370px) {
  .header-line .right .sort {
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=products.css.map */