html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial;
  color: #fff;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 36px;
  line-height: 36px;
}
header ul {
  width: 619px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header ul li {
  display: inline-block;
}
header ul li a {
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #22326b;
  text-decoration: none;
  -webkit-transition: color 0.4s ease 0s;
          transition: color 0.4s ease 0s;
}
header ul li a:last-of-type img {
  vertical-align: middle;
}
header ul li a:hover {
  color: #00b0c8;
}

.content {
  height: 1104px;
  background: url("../img/background.jpg");
  background-size: cover;
}
.content .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.content .top .messengers {
  font-size: 10px;
  margin-top: 79px;
}
.content .top .messengers a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
  text-decoration: none;
  color: #fff;
}
.content .top .messengers a:last-child {
  margin-bottom: 0;
}
.content .top .messengers a:hover .tel {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  text-shadow: none;
}
.content .top .messengers .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 11px;
}
.content .top .messengers .tel {
  padding-top: 2px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.content .top .messengers .desc {
  padding-top: 1px;
  color: #595651;
}
.content .top .messengers .icon {
  width: 24px;
  height: 24px;
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.content .top .messengers .whatsApp .icon {
  background-image: url(../img/sprite.png);
  background-position: -31px 0;
  background-repeat: no-repeat;
}
.content .top .messengers .viber .icon {
  background-image: url(../img/sprite.png);
  background-position: -62px 0;
  background-repeat: no-repeat;
}
.content .top .visitor {
  margin-top: 33px;
}
.content .top .visitor p {
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
}
.content .top .visitor p:first-of-type {
  font-size: 17px;
}
.content .top .visitor p:nth-of-type(2) {
  white-space: pre-line;
  line-height: 26px;
  padding-top: 24px;
}
.content .top .logo {
  margin-top: 78px;
  z-index: 6;
}
.content .center form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 63px auto 0;
  position: relative;
}
.content .center form span {
  color: #fff;
  font-size: 12px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
}
.content .center form input {
  outline: 0;
}
.content .center #datepicker {
  position: relative;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
}
.content .center #datepicker::-webkit-input-placeholder {
  color: #616161;
  opacity: 1;
}
.content .center #datepicker::-moz-placeholder {
  color: #616161;
  opacity: 1;
}
.content .center #datepicker:-moz-placeholder {
  color: #616161;
  opacity: 1;
}
.content .center #datepicker:-ms-input-placeholder {
  color: #616161;
  opacity: 1;
}
.content .center .datepicker-dropdown {
  position: absolute;
  background: #FFF;
  top: 208px !important;
}
.content .center .date,
.content .center .metro,
.content .center .spinner__input {
  border: none;
  height: 27px;
  line-height: 27px;
  padding-left: 10px;
  position: relative;
  color: #616161;
  background: #FFF;
  margin-top: 5px;
  box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, 0.15);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.content .center .date:hover,
.content .center .metro:hover,
.content .center .spinner__input:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  text-shadow: none;
  box-shadow: none;
}
.content .center .date {
  width: 149px;
  margin-right: 35px;
}
.content .center .metro {
  width: 197px;
  margin-right: 31px;
  cursor: pointer;
}
.content .center .spinner {
  height: 27px;
  margin-right: 28px;
  position: relative;
}
.content .center .spinner::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 17px;
  height: 27px;
  background-color: #fff;
  z-index: 1;
}
.content .center .spinner__input {
  height: 25px;
  width: 31px;
  text-align: left;
  font-size: 14px;
}
.content .center .submit {
  width: 88px;
  height: 27px;
  line-height: 27px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0;
  font-size: 12px;
  margin-top: 21px;
  background-color: #fff;
  color: #616161;
  box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.content .center .submit:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  text-shadow: none;
  box-shadow: none;
}
.content h1 {
  position: relative;
  padding-top: 82px;
  font-size: 47px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
}
.content h1::before {
  content: '';
  position: absolute;
  width: 82px;
  height: 2px;
  margin-left: -41px;
  left: 50%;
  margin-top: 64px;
  background-color: #fff;
}
.content .social {
  margin-top: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .social .insta {
  background-image: url(../img/sprite.png);
  background-position: 0 -31px;
  background-repeat: no-repeat;
}
.content .social .facebook {
  background-image: url(../img/sprite.png);
  background-position: -32px -31px;
  background-repeat: no-repeat;
}
.content .social .vk {
  background-image: url(../img/sprite.png);
  background-position: -62px -31px;
  background-repeat: no-repeat;
}
.content .social a {
  width: 28px;
  height: 28px;
  display: block;
  margin-right: 30px;
  border-radius: 50%;
}
.content .social a:last-child {
  margin-right: 0;
}

.content .wrapper > p {
  font-style: italic;
  font-size: 18px;
  text-align: center;
  padding-top: 35px;
  line-height: 20px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
  white-space: pre-line;
}

.options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.labels {
  margin: 45px -50px 0 0;
  width: 300px;
  list-style-type: none;
}

.labels li {
  display: inline-block;
  margin: 10px 10px 10px;
}

.pseudo-link {
  font-size: 16px;
  color: #000;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15), -1px -1px 1px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.pseudo-link:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  text-shadow: none;
}

.close-icon {
  width: 15px;
  height: 15px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.close-icon:hover {
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

#modal {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  margin-top: -585px;
  margin-left: -480px;
  display: none;
  opacity: 0;
  z-index: 5;
  width: 960px;
  height: 1170px;
}

#overlay {
  z-index: 3;
  position: fixed;
  background: -webkit-linear-gradient(bottom, white 70%, rgba(255, 255, 255, 0.6));
  background: linear-gradient(to top, white 70%, rgba(255, 255, 255, 0.6));
  opacity: 1;
  -moz-opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

#directions-popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#modal_metro_block {
  display: block;
  position: absolute;
  opacity: 1;
  margin: 0 auto;
}

.tooltip {
  width: 100%;
  height: 1140px;
  position: absolute;
  top: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

.dir-active {
  display: block !important;
}

.directions-active {
  display: block !important;
}
