@font-face {
	font-family: "PNRegular";
	src: url("../fonts/Proxima Nova Regular.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PNRegularItalic";
	src: url("../fonts/Proxima Nova Regular Italic.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PNBold";
	src: url("../fonts/Proxima Nova Bold.otf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PNSemiBold";
	src: url("../fonts/Proxima Nova Semibold.otf");
	font-style: normal;
	font-weight: normal;
}