html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "PNSemiBold";
  font-size: 26px;
  word-spacing: 10;
  background: url("../img/about-background.png") no-repeat 0 100% #fff;
}

h2 {
  font-size: 52px;
  padding-bottom: 15px;
  color: #353d43;
}
h2 span {
  position: relative;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "PNBold";
  font-size: 32px;
  padding-left: 97px;
  position: relative;
}
h3::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 9px;
  left: 0;
  top: 50%;
  margin-top: -4.5px;
  background: url("../img/line-before.png");
}

.wrapper {
  max-width: 1540px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  margin-top: 37px;
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #353d43;
}
header h3 {
  font-family: "PNBold";
  font-size: 32px;
  padding-left: 97px;
  position: relative;
}
header h3::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 9px;
  left: 0;
  top: 50%;
  margin-top: -4.5px;
  background: url("../img/line-before.png");
}
header .menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
header .menu .menu-btn-label {
  padding-right: 18px;
  vertical-align: top;
}
header .menu .menu-btn-label a {
  font-family: "PNSemiBold";
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #353d43;
}
header .menu .menu-btn {
  z-index: 3;
  width: 25px;
  cursor: pointer;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s,-webkit-transform .5s;
          transition: transform .5s,-webkit-transform .5s;
  pointer-events: visiblePainted;
}
header .menu .menu-btn .line {
  position: relative;
  overflow: hidden;
  height: 1px;
  margin-bottom: 7px;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: none;
          transition: none;
}
header .menu .menu-btn .line:last-child {
  margin-bottom: 0;
  -webkit-transform: scaleX(0.7);
      -ms-transform: scaleX(0.7);
          transform: scaleX(0.7);
}
header .menu .menu-btn .line .inner {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #353d43;
}

.content img {
  box-shadow: 0 36px 16px 2px rgba(0, 0, 0, 0.29);
}
.content p {
  white-space: pre-line;
  line-height: 50px;
}
.content .travel {
  margin-top: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .travel .left {
  margin: auto;
}
.content .travel h1 {
  font-size: 75px;
  padding-bottom: 49px;
  color: #353d43;
}
.content .travel h1 span {
  position: relative;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .travel h1 span::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 182px;
  height: 6px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  border-radius: 3px;
}
.content .why-us {
  margin-top: 110px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .why-us img {
  margin-right: 70px;
}
.content .why-us .right {
  margin-top: 70px;
}
.content .why-us .right ol {
  margin-top: 75px;
}
.content .why-us .right ol li {
  white-space: pre-line;
  margin-bottom: 65px;
}
.content .why-us .right ol li:last-child {
  margin-bottom: 0;
}
.content .why-us .right ol li span {
  font-size: 32px;
  padding-right: 65px;
  vertical-align: top;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .why-us .right ol li:first-child span {
  padding-right: 72px;
}
.content .why-us .right ol li p {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
.content .why-us .right ol li p::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 1px;
  background-color: #353d43;
  margin-left: -55px;
  margin-top: 15px;
}
.content .swiper-container {
  height: 425px;
  margin-top: 77px;
}
.content .swiper-container .swiper-slide {
  background-size: cover !important;
}
.content .swiper-container .swiper-button-prev, .content .swiper-container .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 53px;
  height: 53px;
  margin-top: -26.5px;
  z-index: 10;
  background: #fff;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.content .swiper-container .swiper-button-prev {
  background: #fff;
  left: 0;
}
.content .swiper-container .swiper-button-next {
  background: #fff;
  right: 0;
}
.content .swiper-container svg {
  display: block;
  width: 11px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5.5px;
  margin-top: -10px;
}
.content .zest {
  margin-top: 106px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .zest .left {
  margin: auto;
}
.content .zest a {
  display: block;
  text-decoration: none;
  font-family: "PNBold";
  font-size: 22px;
  color: #fff;
  width: 256px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  border-radius: 23px;
  margin-top: 29px;
}
.content .kinotravel {
  margin-top: 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 436px;
}
.content .kinotravel h2 {
  padding-top: 54px;
  margin-bottom: 9px;
}
.content .kinotravel img:first-of-type {
  margin-right: 50px;
}
.content .kinotravel img:last-of-type {
  position: absolute;
  right: 0;
  top: 332px;
  z-index: -1;
}
.content .reliable {
  padding-bottom: 130px;
  padding-left: 300px;
}
.content .reliable h2 {
  margin-top: 150px;
  padding-bottom: 75px;
}
.content .reliable ol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.content .reliable ol li {
  width: 50%;
  margin-bottom: 70px;
}
.content .reliable ol li:last-child {
  margin-bottom: 0;
}
.content .reliable ol li span {
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  border-radius: 50%;
  color: #fff;
  font-family: "PNBold";
  font-size: 32px;
  vertical-align: top;
  margin-right: 25px;
  display: inline-block;
}
.content .reliable ol li p {
  display: inline-block;
  vertical-align: top;
  white-space: pre-line;
  text-align: left;
}

.content > h3 {
  margin-left: 200px;
}
