html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "PNSemiBold";
  font-size: 26px;
  background: url("../img/about-background.png") no-repeat 0 100% #fff;
}

h2 {
  font-size: 52px;
  padding-bottom: 15px;
  color: #353d43;
}
h2 span {
  position: relative;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "PNBold";
  font-size: 32px;
  padding-left: 97px;
  position: relative;
}
h3::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 9px;
  left: 0;
  top: 50%;
  margin-top: -4.5px;
  background: url("../img/line-before.png");
}

.wrapper {
  max-width: 1540px;
  padding: 0 15px;
  margin: 0 auto;
}

.borders {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.borders .border {
  width: 1px;
  height: 100%;
  background-color: rgba(189, 187, 181, 0.22);
}

header {
  padding-top: 37px;
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #353d43;
}
header h3 {
  font-family: "PNBold";
  font-size: 32px;
  padding-left: 97px;
  position: relative;
}
header h3::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 9px;
  left: 0;
  top: 50%;
  margin-top: -4.5px;
  background: url("../img/line-before.png");
}
header .menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto 0;
}
header .menu .menu-btn-label {
  padding-right: 18px;
  vertical-align: top;
}
header .menu .menu-btn-label a {
  font-family: "PNSemiBold";
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #353d43;
}
header .menu .menu-btn {
  z-index: 3;
  width: 25px;
  cursor: pointer;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s,-webkit-transform .5s;
          transition: transform .5s,-webkit-transform .5s;
  pointer-events: visiblePainted;
}
header .menu .menu-btn .line {
  position: relative;
  overflow: hidden;
  height: 1px;
  margin-bottom: 7px;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: none;
          transition: none;
}
header .menu .menu-btn .line:last-child {
  margin-bottom: 0;
  -webkit-transform: scaleX(0.7);
      -ms-transform: scaleX(0.7);
          transform: scaleX(0.7);
}
header .menu .menu-btn .line .inner {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #353d43;
}

.content {
  position: relative;
  z-index: 1;
}
.content img {
  box-shadow: 0 36px 16px 2px rgba(0, 0, 0, 0.29);
}
.content p {
  line-height: 50px;
}
.content .travel {
  margin-top: 115px;
  padding-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .travel .left {
  margin: auto;
}
.content .travel h1 {
  font-size: 75px;
  padding-bottom: 49px;
  color: #353d43;
}
.content .travel h1 span {
  position: relative;
  padding-bottom: 10px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .travel h1 span::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 182px;
  height: 6px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  border-radius: 3px;
}
.content .travel p {
  white-space: pre-line;
  padding-right: 30px;
}
.content .why-us {
  margin-top: 110px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .why-us img {
  height: auto;
  margin-right: 20px;
}
.content .why-us .right {
  margin: 70px 0 0 75px;
}
.content .why-us .right ol {
  margin-top: 75px;
}
.content .why-us .right ol li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
}
.content .why-us .right ol li:last-child {
  margin-bottom: 0;
}
.content .why-us .right ol li span {
  font-size: 32px;
  padding-right: 65px;
  vertical-align: top;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .why-us .right ol li:first-child span {
  padding-right: 72px;
}
.content .why-us .right ol li p {
  display: inline-block;
  line-height: normal;
  white-space: pre-line;
  vertical-align: middle;
}
.content .why-us .right ol li p::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 1px;
  background-color: #353d43;
  margin-left: -55px;
  margin-top: 15px;
}
.content .slick-slider {
  display: none;
  margin-top: 50px;
}
.content .slick-slider .slick-slide {
  box-sizing: content-box;
  padding: 0 10px;
}
.content .slick-slider .slick-slide img {
  width: 100%;
  height: 100%;
}
.content .slick-slider .slick-prev, .content .slick-slider .slick-next {
  content: '';
  position: absolute;
  top: 50%;
  border: none;
  font-size: 0;
  overflow: hidden;
  width: 53px;
  height: 53px;
  margin-top: -26.5px;
  z-index: 10;
  background: #fff url("../img/arr-l.svg") 50% 50% no-repeat;
  cursor: pointer;
  background-size: 11px 20px;
}
.content .slick-slider .slick-prev {
  left: 0;
}
.content .slick-slider .slick-next {
  background: #fff url("../img/arr-r.svg") 50% 50% no-repeat;
  background-size: 11px 20px;
  right: 0;
}
.content .slick-slider svg {
  display: block;
  width: 11px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5.5px;
  margin-top: -10px;
}
.content .swiper-container {
  height: 425px;
  margin-top: 77px;
  position: relative;
}
.content .swiper-container .swiper-slide {
  background-size: cover !important;
}
.content .swiper-container .swiper-button-prev, .content .swiper-container .swiper-button-next {
  position: absolute;
  top: 50%;
  width: 53px;
  height: 53px;
  margin-top: -26.5px;
  z-index: 10;
  background: #fff;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.content .swiper-container .swiper-button-prev {
  background: #fff;
  left: 0;
}
.content .swiper-container .swiper-button-next {
  background: #fff;
  right: 0;
}
.content .swiper-container svg {
  display: block;
  width: 11px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5.5px;
  margin-top: -10px;
}
.content .zest {
  margin-top: 106px;
  padding-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .zest .left {
  margin: auto;
}
.content .zest .left p {
  max-width: 634px;
  padding-right: 30px;
}
.content .zest a {
  display: block;
  text-decoration: none;
  font-family: "PNBold";
  font-size: 22px;
  color: #fff;
  width: 256px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  border-radius: 23px;
  margin-top: 29px;
}
.content .kinotravel {
  margin-top: 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 436px;
}
.content .kinotravel h2 {
  padding-top: 54px;
  margin-bottom: 9px;
}
.content .kinotravel img:first-of-type {
  margin-right: 50px;
}
.content .kinotravel img:last-of-type {
  position: absolute;
  right: 0;
  top: 332px;
  z-index: -1;
}
.content .kinotravel p {
  max-width: 870px;
}
.content .reliable {
  padding-bottom: 130px;
  padding-left: 300px;
}
.content .reliable h2 {
  margin-top: 150px;
  padding-bottom: 75px;
}
.content .reliable ol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.content .reliable ol li {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}
.content .reliable ol li:last-child {
  margin-bottom: 0;
}
.content .reliable ol li span {
  width: 58px;
  height: 58px;
  margin-top: 16px;
  line-height: 58px;
  text-align: center;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  border-radius: 50%;
  color: #fff;
  font-family: "PNBold";
  font-size: 32px;
  margin-right: 25px;
}
.content .reliable ol li p {
  white-space: pre-line;
}

.content > h3 {
  margin-left: 200px;
}

@media screen and (max-width: 1600px) {
  .content .why-us img {
    max-width: 700px;
  }
}
@media screen and (max-width: 1400px) {
  .content .travel p {
    white-space: normal;
    max-width: 675px;
  }

  .content .why-us .right ol li p {
    white-space: normal;
  }

  .content > h3 {
    margin-left: 100px;
  }

  .content .kinotravel {
    padding-bottom: 615px;
  }

  .content .kinotravel img:last-of-type {
    top: 404px;
    right: 50%;
    margin-right: -578px;
  }

  .content .reliable {
    padding-bottom: 130px;
    padding-left: 0;
  }

  .content .reliable ol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0 30px;
  }

  .content .reliable ol li {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .content .reliable ol li span {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
  }

  .content .reliable h2 {
    text-align: center;
  }

  .content .reliable ol li p {
    white-space: normal;
    display: inline-block;
  }
}
@media screen and (max-width: 1200px) {
  .swiper-slide {
    background-position: 50% 50% !important;
  }

  .content .travel {
    margin-top: 60px;
    padding: 0 15px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content .travel img {
    width: 80%;
    margin: 40px auto 0 auto;
  }

  .content .why-us {
    margin-top: 60px;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .content .why-us .right {
    margin-left: 0;
  }

  .content .why-us img {
    max-width: 100%;
    width: 80%;
    margin: 40px auto 0 auto;
  }

  .content .zest {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 0;
  }

  .content .zest a {
    margin: 0 auto;
  }

  .content .zest img {
    max-width: 100%;
    width: 80%;
    margin: 40px auto 0 auto;
  }

  .content .kinotravel {
    text-align: center;
    padding-bottom: 0;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content .kinotravel .right p {
    margin: 0 auto;
  }

  .content .kinotravel img:first-of-type {
    margin: 40px auto 0 auto;
  }

  .content .kinotravel img:last-of-type {
    position: static;
    margin: 40px auto 0 auto;
  }

  .content .kinotravel img {
    max-width: 100%;
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .content > h3 {
    margin-left: 15px;
  }

  .content .slick-slider {
    display: block;
  }

  .content .slider {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 23px;
  }

  .content p {
    line-height: 35px;
  }

  .content .why-us .right {
    margin-top: 30px;
  }

  .content .zest {
    margin-top: 70px;
  }

  .content .reliable ol li span {
    margin-top: 10px;
  }

  .content .reliable h2 {
    margin-top: 75px;
  }

  .content .travel img {
    width: 95%;
    margin: 20px auto 0 auto;
  }

  .content .why-us img {
    width: 95%;
    margin: 20px auto 0 auto;
  }

  .content .zest img {
    width: 95%;
    margin: 20px auto 0 auto;
  }

  .content .kinotravel img {
    width: 95%;
    margin: 20px auto 0 auto;
  }

  .content .reliable ol {
    padding: 0 15px;
  }
}
@media screen and (max-width: 488px) {
  .content .travel h1 span::before {
    display: none;
  }

  .content .why-us .right ol li {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
  header {
    padding-top: 0;
    height: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  header .menu {
    margin-left: auto;
  }

  h2 {
    font-size: 36px;
  }

  header h3, h3 {
    padding-left: 0;
    text-align: center;
  }

  .content .why-us .right ol li span {
    padding-right: 40px;
  }

  .content .why-us .right ol li p::before {
    width: 23px;
    margin-left: -33px;
  }

  .content .why-us .right ol li:first-child span {
    padding-right: 47px;
  }

  h3::before {
    display: none;
  }
}
