html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "PNRegular";
  background: url("../img/direction-background.png");
}

.wrapper {
  max-width: 1540px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  margin-top: 37px;
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #353d43;
}
header h2 {
  font-family: "PNBold";
  font-size: 32px;
  padding-left: 97px;
  position: relative;
}
header h2::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 9px;
  left: 0;
  top: 50%;
  margin-top: -4.5px;
  background: url("../img/line-before.png");
}
header .menu {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
header .menu .menu-btn-label {
  padding-right: 18px;
  vertical-align: top;
}
header .menu .menu-btn-label a {
  font-family: "PNSemiBold";
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #353d43;
}
header .menu .menu-btn {
  z-index: 3;
  width: 25px;
  cursor: pointer;
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transition: -webkit-transform .5s,-webkit-transform .5s;
          transition: transform .5s,-webkit-transform .5s;
  pointer-events: visiblePainted;
}
header .menu .menu-btn .line {
  position: relative;
  overflow: hidden;
  height: 1px;
  margin-bottom: 7px;
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: none;
          transition: none;
}
header .menu .menu-btn .line:last-child {
  margin-bottom: 0;
  -webkit-transform: scaleX(0.7);
      -ms-transform: scaleX(0.7);
          transform: scaleX(0.7);
}
header .menu .menu-btn .line .inner {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #353d43;
}

.content {
  text-align: center;
  padding-bottom: 30px;
}
.content .directions {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 120px;
}
.content .directions .dir {
  width: 313px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 302px 25px 29px 25px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 36px 16px 2px rgba(0, 0, 0, 0.29);
}
.content .directions .dir p:first-child {
  font-size: 16px;
  padding-bottom: 14px;
  color: #fff;
  font-style: italic;
}
.content .directions .dir h3 {
  font-family: "PNSemiBold";
  font-size: 26px;
  padding-bottom: 61px;
  color: #fff;
}
.content .directions .dir p:nth-child(3) {
  font-family: "PNSemiBold";
  font-size: 18px;
  color: #3c3f42;
  line-height: 30px;
  word-spacing: 10;
  padding-bottom: 40px;
  margin-bottom: auto;
}
.content .directions .dir a {
  display: block;
  width: 302px;
  height: 54px;
  line-height: 54px;
  margin: 0 auto;
  font-family: "PNBold";
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: -webkit-linear-gradient(left, #eb640c, #ef9d3f);
  background: linear-gradient(to right, #eb640c, #ef9d3f);
  border-radius: 23px;
}
.content .directions .ft {
  margin-right: 92px;
  background: url("../img/img1.jpg") no-repeat, url("../img/direction-bg1.png") 0 280px no-repeat;
  background-color: #fff;
}
.content .directions .zc {
  background: url("../img/img2.jpg") no-repeat, url("../img/direction-bg2.png") 0 280px no-repeat;
  background-color: #fff;
}
.content .directions .zc a {
  background: -webkit-linear-gradient(left, #7ac012, #9bd03f);
  background: linear-gradient(to right, #7ac012, #9bd03f);
}
