#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin6] {
  background-color: #2f323e;
}

#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5] ul {
  background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.sidebar-nav ul .sidebar-item {
  border-bottom: 1px solid rgba(120, 130, 140, .13);

  &:last-of-type {
    border-bottom: none;
  }
}

.sidebar-nav ul .sidebar-item .sidebar-link {
  color: #54667a;
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
  color: #54667a;
}

#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5] {
  background-color: #fff;
}

#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item.selected>.sidebar-link {
  opacity: 1;
  background-color: #fff;
}

.page-breadcrumb,
.page-breadcrumb .breadcrumb {
  background-color: #fff;
}

.left-sidebar {
  padding-top: 90px;
}

#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5] .sidebar-item .sidebar-link,
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin5] ul .sidebar-item .sidebar-link {
  opacity: 1 !important;
}

.row.full-height {
  min-height: calc(100vh - 223px);
}

.card.full-height {
  height: 100%;
}

.triangle:after {
  content: "";
  vertical-align: .255em;
  display: inline-block;
  margin-left: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
  display: flex;
  align-items: center;
  line-height: normal;
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link {
  background-color: #fff;
}

#main-wrapper .left-sidebar .sidebar-item .sidebar-link.active span {
  font-weight: bold;
}

.table-striped-even tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, .05);
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 15px 0 0 0;
  white-space: nowrap;
  justify-content: center;
}

#zero_config_info {
  visibility: hidden;
}

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  border-radius: 1px;
  font-size: .76563rem;
  line-height: 1.5;
  color: #525f7f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  box-shadow: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  height: calc(1.5em + .5rem + 2px);
  padding: .25rem .5rem;
  border-radius: 1px;
  font-size: .76563rem;
  line-height: 1.5;
  color: #525f7f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  box-shadow: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div.dataTables_length {
  position: absolute;
}

@media screen and (max-width: 767px) {
  div.dataTables_length {
    position: static;
  }
}

.dataTables_paginate.paging_simple_numbers {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: flex;
  }
}

.paginate_button {
  display: block;
  margin-left: -1px;
  line-height: 1.25;
  color: #707cd2;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: .5rem .75rem;
  border: none;
  cursor: pointer;

  &:hover {
    z-index: 2;
    color: #3b4abb;
    background-color: #e9ecef;
  }
}

.paginate_button.current {
  border-radius: 3px;
  background: #4fc3f7;
  color: #fff;
  border: 0;
  z-index: 1;
}

.paginate_button.disabled {
  color: #8898aa;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
}

.no-sorting {

  &:before,
  &:after {
    display: none !important;
  }
}

.no-filters {

  div.dataTables_length,
  div.dataTables_filter {
    display: none !important;
  }
}

.wizard-content .wizard>.actions>ul {
  float: left;
  margin-top: 50px;

  &>li:first-child {
    margin-left: 0;
  }
}

.btn-extra-small {
  width: 25px;
  height: 25px;
  padding: 6px 7px;
  font-size: 9px;
}

.btn-very-small {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 6px;
  font-size: 12px;
}

.table td, .table th {
  padding: 0.9375rem 1.2rem;
}

@media screen and (max-width: 757px) {
  table.dataTable .list-inline-item {
    a {
      display: flex;
      align-items: center;
    }
    &:not(:last-child) {
      margin-right: 0 !important;
      margin-bottom: 5px;
    }
  }
}

.smiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  & > span:last-child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

#example-basic.wizard.wizard-circle {
  max-width: 900px;
  margin: 0 auto;
}

textarea.form-control.site-list {
  height: 100px;
  resize: none;
}

.row:nth-of-type(4) .custom-picker {
  width: 100%;
  justify-content: flex-start;
}

.custom-picker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 290px;
  & > .form-control {
    width: 350px;
  }
  & > .btn-success {
    width: 143px;
  }
  .btn-very-small {
    min-width: 30px;
    margin-left: auto;
  }
  p {
    margin-bottom: 0;
  }
  & > .minicolors {
    margin-right: 10px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 33px;
      width: 27px;
      height: 33px;
      border: 1px solid #8897aa;
    }
    &:after {
      content: '';
      position: absolute;
      left: 42px;
      top: 15px;
      border-top: .3em solid #8897aa;
      border-right: .3em solid transparent;
      border-left: .3em solid transparent;
      border-bottom: 0;
    }
  }
  .minicolors-input {
    border-radius: 0;
    border: 1px solid #8897aa;
    color: transparent;
    font-size: 0;
    cursor: pointer;
    height: 33px;
  }
  .minicolors-theme-bootstrap .minicolors-swatch {
    border: none;
    border-radius: 0;
    top: 4px;
    left: 4px;
    width: 25px;
    height: 25px;
  }
  .minicolors-theme-bootstrap .minicolors-input {
    padding-left: 46px;
  }
  .minicolors-theme-bootstrap .minicolors-swatch-color {
    cursor: pointer;
  }
}