html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }



h3 {
  font-family: "PTSansRegular";
  font-size: 20px;
  color: #313945; }

#mobile {
  display: none;
}
.wrapper {
  padding: 0 45px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  background-color: #fafafa; }

header {
  max-width: 1260px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 17px;
  overflow-x: hidden;
  background-color: #fafafa; }
  header .top {
    height: 130px; }
    header .top .menu-btn {
      display: none;
      border: none;
      background-color: transparent;
      font-size: 30px;
      position: absolute;
      left: 20px;
      top: 30px;
      cursor: pointer;
      white-space: pre-line;
    }
    header .top .menu-btn span {
      font-size: 12px;
      position: relative;
      bottom: 20px;
    }
    header .top .menu-btn2 {
      display: none;
      border: none;
      z-index: 1;
      background-color: transparent;
      font-size: 30px;
      position: absolute;
      right: 20px;
      top: 30px;
      cursor: pointer;
      white-space: pre-line;
    }
    header .top .menu-btn2 span {
      font-size: 12px;
      position: relative;
      bottom: 20px;
    }
    header .top .logo {
      display: inline-block;
      position: relative;
      top: 20px; }
      header .top .logo img {
      width: 222px; }
    header .top input[type="search"] {
      width: 427px;
      height: 38px;
      border: 1px solid #b1daff;
      padding-left: 19px;
      margin-left: 70px; }
      header .top input[type="search"]:-moz-placeholder, header .top input[type="search"]::-moz-placeholder {
        color: #000000;
        opacity: 1; }
      header .top input[type="search"]::-webkit-input-placeholder {
        color: #000000; }
    header .top label {
      width: 25px;
      height: 25px;
      background-image: url(../img/sprite.png);
      background-position: -75px 0;
      background-repeat: no-repeat;
      position: absolute;
      margin-top: 55px;
      margin-left: -39px;
      cursor: pointer; }
      header .top label:hover {
        background-image: url(../img/sprite.png);
        background-position: -111px 0;
        background-repeat: no-repeat; }
    header .top .right {
      display: inline-block;
      margin-left: 60px;
      vertical-align: bottom; }
      header .top .right ul li {
        display: inline-block;
        margin-top: 11px;
        margin-bottom: 1px }
        header .top .right ul li:first-child, header .top .right ul li:nth-child(2) {
          font-family: "PTSansRegular";
          font-size: 11px;
          color: #000000; }
        header .top .right ul li:first-child {
          margin-right: 16px; }
        header .top .right ul li:nth-child(4) a, header .top .right ul li:last-child a {
          text-decoration: none;
          color: #144570; }
          header .top .right ul li:nth-child(4) a:hover, header .top .right ul li:last-child a:hover {
            color: #8cb2d8; }
          header .top .right ul li:nth-child(4) a::before, header .top .right ul li:last-child a::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            margin-left: -23px; }
        header .top .right ul li:nth-child(4) a {
          margin-right: 60px; }
          header .top .right ul li:nth-child(4) a::before {
            background-image: url(../img/sprite.png);
            background-position: 0 0;
            background-repeat: no-repeat; }
        header .top .right ul li:last-child a::before {
          background-image: url(../img/sprite.png);
          background-position: -35px 0;
          background-repeat: no-repeat; }
    header .top .advertising,
    header .top .bookmarks {
      display: block;
      position: absolute;
      top: 40px;
      font-size: 14px;
      height: 38px;
      line-height: 38px;
      color: #fff;
      text-align: right;
      padding-right: 11px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg);
      text-decoration: none; }
      header .top .advertising::before,
      header .top .bookmarks::before {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-left: 15px solid #fafafa; }
    header .top .advertising {
      width: 92px;
      top: 32px;
      right: 62px;
      background-color: #339edd; }
      header .top .advertising::before {
        left: -1px; }
      header .top .advertising::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 14px;
        left: 0;
        top: 50%;
        margin-top: -1px;
        background-color: #fafafa; }
    header .top .bookmarks {
      width: 107px;
      right: 6px;
      background-color: #ff9203; }
  header nav {
    width: 100%; }